.caring-people {
  padding-top: 92px;
  padding-bottom: 100px;
  @include bgcover;
  position: relative;

  .breadcrumbs__wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
  }

  &::before {
    display: none;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__block {
    overflow: hidden;
    border-radius: 20px;
    background-color: $white;
    box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
    padding: 60px;
    @include mb(60px);
    display: grid;
    grid-template-columns: 7fr 4fr;

    &:nth-child(even) {
      grid-template-columns: 4fr 7fr;

      .caring-people__block-content {
        order: 2;
        margin-right: 0;
        margin-left: 60px;
      }

      .caring-people__block-image {
        order: 1;
      }
    }

    &-content {
      margin-right: 60px;
    }

    &-name {
      color: $green;
      margin-bottom: 24px;
    }

    &-text {
      @extend %regular18;

      p {
        @include mb(12px);
      }
    }

    &-image {
      @include imageCoverWidth;
      height: 412px;
      flex-shrink: 0;
    }
  }
}

@media screen and (max-width: $laptop) {
  .caring-people {
    padding-top: 92px;
    padding-bottom: 64px;

    &__title {
      margin-bottom: 24px;
    }

    &__block {
      grid-template-columns: auto 472px;
      @include mb(24px);

      &:nth-child(even) {
        grid-template-columns: 472px auto;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .caring-people {
    &__block {
      grid-template-columns: 1fr;
      row-gap: 16px;

      &:nth-child(even) {
        grid-template-columns: 1fr;

        .caring-people__block-content {
          margin-left: 0px;
        }
      }

      &-image {
        width: 472px;
      }

      .caring-people__block-content {
        order: 2;
        margin-right: 0;
      }

      .caring-people__block-image {
        order: 1;
      }
    }
  }
}

@media screen and (max-width: $mob) {
  .caring-people {
    padding-top: 64px;
    padding-bottom: 40px;

    &__title {
      margin-bottom: 16px;
    }

    &__block {
      padding: 16px;

      &-image {
        width: 256px;
        height: auto;
      }

      &-name {
        margin-bottom: 12px;
      }
    }
  }
}