<section class="contacts-preview">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <div class="contacts-preview__content">
      <h1 class="contacts-preview__title h1">Контактная информация</h1>
      <div class="contacts-preview__anchors">
        <a href="#contacts-office" class="contacts-preview__button button-tab js-button-tab active">Офисы и
          производство</a>
        <a href="#contacts-buy" class="contacts-preview__button button-tab js-button-tab">Где купить</a>
        <a href="#contacts-line" class="contacts-preview__button button-tab js-button-tab">Горячая линия</a>
      </div>
    </div>
  </div>
</section>

<section class="section-color contacts">
  <div class="container contacts__container">
    <div class="contacts-write">
      <div class="contacts-write__item">
        <h5 class="contacts-write__title h5">Общие вопросы</h5>
        <div class="social-link mail">
          <div class="social-link__icon">
            <img loading="lazy" src="img/svg/social/mail-green.svg" class="image" width="" height="" alt="">
          </div>
          <a href="mailto:otvet@svetopaper.com">otvet@svetopaper.com</a>
        </div>
      </div>
      <div class="contacts-write__item">
        <h5 class="contacts-write__title h5">Закупка материалов и услуг</h5>
        <div class="social-link mail">
          <div class="social-link__icon">
            <img loading="lazy" src="img/svg/social/mail-green.svg" class="image" width="" height="" alt="">
          </div>
          <a href="mailto:zakupki@svetopaper.com">zakupki@svetopaper.com</a>
        </div>
      </div>
      <div class="contacts-write__item">
        <h5 class="contacts-write__title h5">Лесообеспечение</h5>
        <div class="social-link mail">
          <div class="social-link__icon">
            <img loading="lazy" src="img/svg/social/mail-green.svg" class="image" width="" height="" alt="">
          </div>
          <a href="mailto:zakupki.les@svetopaper.com">zakupki.les@svetopaper.com</a>
        </div>
      </div>
      <div class="contacts-write__item">
        <h5 class="contacts-write__title h5">Логистика</h5>
        <div class="social-link mail">
          <div class="social-link__icon">
            <img loading="lazy" src="img/svg/social/mail-green.svg" class="image" width="" height="" alt="">
          </div>
          <a href="mailto:zakupki.logistics@svetopaper.com">zakupki.logistics@svetopaper.com</a>
        </div>
      </div>
    </div>
    <!-- <div class="contacts__items" id="contacts-office">
      <div class="contacts__item">
        <h4 class="contacts__item-name h4">Светогорск</h4>
        <div class="contacts__item-socials">
          <div class="social-link address">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
            </div>
            <span>188991, Ленинградская область, г.  Светогорск, ул. Заводская, д. 17 </span>
          </div>
          <div class="social-link tel">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/social/phone-green.svg" class="image" width="" height="" alt="">
            </div>
            <a href="tel:+7 (81378) 4-11-11">+7 (81378) 4-11-11</a>
          </div>
        </div>
      </div>
      <div class="contacts__item">
        <h4 class="contacts__item-name h4">Санкт-Петербург</h4>
        <div class="contacts__item-socials">
          <div class="social-link address">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
            </div>
            <span>197101 г. Санкт-Петербург, ул. Кропоткина, д. 1, литера И, БЦ «Сенатор», 6 этаж</span>
          </div>
          <div class="social-link tel">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/social/phone-green.svg" class="image" width="" height="" alt="">
            </div>
            <a href="tel:+7 (812) 334-57-30">+7 (812) 334-57-30</a>
          </div>
        </div>
      </div>
      <div class="contacts__item">
        <h4 class="contacts__item-name h4">Москва</h4>
        <div class="contacts__item-socials">
          <div class="social-link address">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
            </div>
            <span>125047 г. Москва, ул. Гашека, д. 6, БЦ «Дукат Плейс III»</span>
          </div>
          <div class="social-link tel">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/social/phone-green.svg" class="image" width="" height="" alt="">
            </div>
            <a href="tel:+7(495) 231-10-20">+7(495) 231-10-20</a>
          </div>
        </div>
      </div>
      <div class="contacts__item">
        <h4 class="contacts__item-name h4">Тихвин</h4>
        <div class="contacts__item-socials">
          <div class="social-link address">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
            </div>
            <span>187552, Ленинградская обл., г. Тихвин, ул. Социалистическая ул, д. 10</span>
          </div>
          <div class="social-link tel">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/social/phone-green.svg" class="image" width="" height="" alt="">
            </div>
            <a href="tel:+7 (81367) 5-13-37">+7 (81367) 5-13-37</a>
          </div>
        </div>
      </div>
      <div class="contacts__item">
        <h4 class="contacts__item-name h4">Казахстан</h4>
        <div class="contacts__item-socials">
          <div class="social-link address">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
            </div>
            <span>050000, г. Алматы, Алмалинский р-н, ул. Толе би, здание 83, этаж 6, офис 17</span>
          </div>
          <div class="social-link tel">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/social/phone-green.svg" class="image" width="" height="" alt="">
            </div>
            <a href="tel:+77079907059">+77079907059</a>
          </div>
        </div>
      </div>
    </div> -->
    <no-typography>
      <div class="contacts__items" id="contacts-office">
        <div class="contacts__item">
          <h4 class="contacts__item-name h4">Светогорск</h4>
          <div class="contacts__item-socials">
            <div class="social-link address">
              <div class="social-link__icon">
                <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
              </div>
              <span>188991, Ленинградская область, г. Светогорск,<br> ул. Заводская, д. 17</span>
            </div>
            <div class="social-link tel">
              <div class="social-link__icon">
                <img loading="lazy" src="img/svg/social/phone-green.svg" class="image" width="" height="" alt="">
              </div>
              <a href="tel:+7 (81378) 4-11-11">+7 (81378) 4-11-11</a>
            </div>
          </div>
        </div>
        <div class="contacts__item">
          <h4 class="contacts__item-name h4">Санкт-Петербург</h4>
          <div class="contacts__item-socials">
            <div class="social-link address">
              <div class="social-link__icon">
                <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
              </div>
              <span>197101, г. Санкт-Петербург,<br> ул. Кропоткина, д. 1, литера И, БЦ «Сенатор», 6 этаж</span>
            </div>
            <div class="social-link tel">
              <div class="social-link__icon">
                <img loading="lazy" src="img/svg/social/phone-green.svg" class="image" width="" height="" alt="">
              </div>
              <a href="tel:+7 (812) 334-57-30">+7 (812) 334-57-30</a>
            </div>
          </div>
        </div>
        <div class="contacts__item">
          <h4 class="contacts__item-name h4">Москва</h4>
          <div class="contacts__item-socials">
            <div class="social-link address">
              <div class="social-link__icon">
                <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
              </div>
              <span>125047, г. Москва,<br> ул. Гашека, д. 6, БЦ «Дукат Плейс III»</span>
            </div>
            <div class="social-link tel">
              <div class="social-link__icon">
                <img loading="lazy" src="img/svg/social/phone-green.svg" class="image" width="" height="" alt="">
              </div>
              <a href="tel:+7(495) 231-10-20">+7(495) 231-10-20</a>
            </div>
          </div>
        </div>
        <div class="contacts__item">
          <h4 class="contacts__item-name h4">Тихвин</h4>
          <div class="contacts__item-socials">
            <div class="social-link address">
              <div class="social-link__icon">
                <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
              </div>
              <span>187552, Ленинградская область, г. Тихвин,<br> ул. Социалистическая, д. 10</span>
            </div>
            <div class="social-link tel">
              <div class="social-link__icon">
                <img loading="lazy" src="img/svg/social/phone-green.svg" class="image" width="" height="" alt="">
              </div>
              <a href="tel:+7 (81367) 5-13-37">+7 (81367) 5-13-37</a>
            </div>
          </div>
        </div>
        <div class="contacts__item">
          <h4 class="contacts__item-name h4">Казахстан</h4>
          <div class="contacts__item-socials">
            <div class="company-info__item-title">ТОО «Глобал Пейпер Текнолоджиз»</div>
            <div class="social-link address">
              <div class="social-link__icon">
                <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
              </div>
              <span>050000, г. Алматы, Алмалинский р-н,<br> ул. Толе би, здание 83, этаж 6, офис 17</span>
            </div>
            <div class="social-link tel">
              <div class="social-link__icon">
                <img loading="lazy" src="img/svg/social/phone-green.svg" class="image" width="" height="" alt="">
              </div>
              <a href="tel:+7 (707) 990-70-59">+7 (707) 990-70-59</a>
            </div>
          </div>
        </div>
      </div>
    </no-typography>
    <div class="contacts-buy" id="contacts-buy">
      <h3 class="contacts-buy__title h3">Где купить продукцию</h3>
      <div class="social-link mail">
        <div class="social-link__icon">
          <img loading="lazy" src="img/svg/mail-light.svg" class="image" width="" height="" alt="">
        </div>
        <a href="mailto:sales@svetopaper.com">sales@svetopaper.com</a>
      </div>
      <!--       <div class="contacts-buy__anchors">
        <a href="mailto:sales@svetopaper.com" class="contacts-preview__button button-tab">Офисная бумага</a>
        <a href="mailto:sales@svetopaper.com" class="contacts-preview__button button-tab">Офсетная бумага</a>
        <a href="mailto:sales@svetopaper.com" class="contacts-preview__button button-tab">Картон</a>
        <a href="mailto:sales@svetopaper.com" class="contacts-preview__button button-tab">ХТММ</a>
      </div> -->
    </div>
    <div class="contacts-line" id="contacts-line">
      <div class="contacts-line__content">
        <div class="contacts-line__content-icon">
          <img loading="lazy" src="img/svg/icons/whatsapp.svg" class="image" width="" height="" alt="">
        </div>
        <div class="contacts-line__content-info">
          <h2 class="contacts-line__content-title h2">Горячая линия доверия</h2>
          <div class="contacts-line__content-text content">
            <p>«Горячая линия доверия» - инструмент реализации политики обеспечения деятельности Компании в соответствии
              с действующим законодательством РФ, а также внутренними документами Компании</p>
          </div>
        </div>
      </div>
      <div class="contacts-line__tel">
        <!-- <span>все звонки бесплатные</span> -->
        <!-- <a href="tel:8 800-700-0000" class="h3">8 800-700-0000</a> -->
        <div class="mail social-link">
          <div class="social-link__icon">
            <img loading="lazy" src="img/svg/mail.svg" class="image" width="" height="" alt="">
          </div>
          <a href="mailto:compliance@svetopaper.com">compliance@svetopaper.com</a>
        </div>
      </div>
      <a href="/hotline.html" class="button-doc contacts-line__link">Подробнее</a>
    </div>
  </div>
</section>