<section class="search">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <div class="search__content">
      <h1 class="search__title h1">Поиск по сайту</h1>
      <div class="search__block">
        <div class="search__block-name">Поисковый запрос</div>
        <div class="form form-search">
          <label class="form__label">
            <input type="text" name="Имя" class="input-reset form__input" placeholder="Поиск">
          </label>
          <button class="btn-reset btn form__btn">Найти</button>
        </div>
        <div class="search__block-results">Найдено: 451 совпадений</div>
      </div>
    </div>
  </div>
</section>

<section class="section-color section-results">
  <div class="container">
    <div class="section-results__block">
      <div class="section-results__items">
        <div class="section-results__item">
          <div class="section-results__item-num">1.</div>
          <div class="section-results__item-right">
            <a href="#" class="section-results__item-image">
              <img loading="lazy" src="img/jpg/image/image59.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="section-results__item-content">
              <a href="#" class="section-results__item-name h6">Светогорский ЦБК принял участие в Career Days
                в университете
                ИТМО</a>
              <div class="section-results__item-text">
                <p>НПАО «Светогорский ЦБК» 15 июня текущего года приняло участие в Career Days в университете ИТМО
                  в Санкт-Петербурге.</p>
                <p>Студенты познакомились с компанией и узнали о программах стажировки для молодых талантов, общаясь
                  с представителями HR-департамента у стенда.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="section-results__item">
          <div class="section-results__item-num">2.</div>
          <div class="section-results__item-right">
            <a href="#" class="section-results__item-image">
              <img loading="lazy" src="img/jpg/image/image61.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="section-results__item-content">
              <a href="#" class="section-results__item-name h6">Светогорский ЦБК принял участие в Career Days
                в университете
                ИТМО</a>
              <div class="section-results__item-text">
                <p>НПАО «Светогорский ЦБК» 15 июня текущего года приняло участие в Career Days в университете ИТМО
                  в Санкт-Петербурге.</p>
                <p>Студенты познакомились с компанией и узнали о программах стажировки для молодых талантов, общаясь
                  с представителями HR-департамента у стенда.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="section-results__item">
          <div class="section-results__item-num">3.</div>
          <div class="section-results__item-right">
            <a href="#" class="section-results__item-image">
              <img loading="lazy" src="img/jpg/image/image62.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="section-results__item-content">
              <a href="#" class="section-results__item-name h6">Светогорский ЦБК принял участие в Career Days
                в университете
                ИТМО</a>
              <div class="section-results__item-text">
                <p>НПАО «Светогорский ЦБК» 15 июня текущего года приняло участие в Career Days в университете ИТМО
                  в Санкт-Петербурге.</p>
                <p>Студенты познакомились с компанией и узнали о программах стажировки для молодых талантов, общаясь
                  с представителями HR-департамента у стенда.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="section-results__item">
          <div class="section-results__item-num">4.</div>
          <div class="section-results__item-right">
            <a href="#" class="section-results__item-image">
              <img loading="lazy" src="img/jpg/image/image63.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="section-results__item-content">
              <a href="#" class="section-results__item-name h6">Светогорский ЦБК принял участие в Career Days
                в университете
                ИТМО</a>
              <div class="section-results__item-text">
                <p>НПАО «Светогорский ЦБК» 15 июня текущего года приняло участие в Career Days в университете ИТМО
                  в Санкт-Петербурге.</p>
                <p>Студенты познакомились с компанией и узнали о программах стажировки для молодых талантов, общаясь
                  с представителями HR-департамента у стенда.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="section-results__item">
          <div class="section-results__item-num">5.</div>
          <div class="section-results__item-right">
            <a href="#" class="section-results__item-image">
              <img loading="lazy" src="img/jpg/image/image64.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="section-results__item-content">
              <a href="#" class="section-results__item-name h6">Светогорский ЦБК принял участие в Career Days
                в университете
                ИТМО</a>
              <div class="section-results__item-text">
                <p>НПАО «Светогорский ЦБК» 15 июня текущего года приняло участие в Career Days в университете ИТМО
                  в Санкт-Петербурге.</p>
                <p>Студенты познакомились с компанией и узнали о программах стажировки для молодых талантов, общаясь
                  с представителями HR-департамента у стенда.</p>
              </div>
            </div>
          </div>

        </div>
        <div class="section-results__item">
          <div class="section-results__item-num">6.</div>
          <div class="section-results__item-right">
            <a href="#" class="section-results__item-image">
              <img loading="lazy" src="img/jpg/image/image65.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="section-results__item-content">
              <a href="#" class="section-results__item-name h6">Светогорский ЦБК принял участие в Career Days
                в университете
                ИТМО</a>
              <div class="section-results__item-text">
                <p>НПАО «Светогорский ЦБК» 15 июня текущего года приняло участие в Career Days в университете ИТМО
                  в Санкт-Петербурге.</p>
                <p>Студенты познакомились с компанией и узнали о программах стажировки для молодых талантов, общаясь
                  с представителями HR-департамента у стенда.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="section-results__item">
          <div class="section-results__item-num">7.</div>
          <div class="section-results__item-right">
            <a href="#" class="section-results__item-image">
              <img loading="lazy" src="img/jpg/image/image53.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="section-results__item-content">
              <a href="#" class="section-results__item-name h6">Светогорский ЦБК принял участие в Career Days
                в университете
                ИТМО</a>
              <div class="section-results__item-text">
                <p>НПАО «Светогорский ЦБК» 15 июня текущего года приняло участие в Career Days в университете ИТМО
                  в Санкт-Петербурге.</p>
                <p>Студенты познакомились с компанией и узнали о программах стажировки для молодых талантов, общаясь
                  с представителями HR-департамента у стенда.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="section-results__item">
          <div class="section-results__item-num">8.</div>
          <div class="section-results__item-right">
            <a href="#" class="section-results__item-image">
              <img loading="lazy" src="img/jpg/image/image52.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="section-results__item-content">
              <a href="#" class="section-results__item-name h6">Светогорский ЦБК принял участие в Career Days
                в университете
                ИТМО</a>
              <div class="section-results__item-text">
                <p>НПАО «Светогорский ЦБК» 15 июня текущего года приняло участие в Career Days в университете ИТМО
                  в Санкт-Петербурге.</p>
                <p>Студенты познакомились с компанией и узнали о программах стажировки для молодых талантов, общаясь
                  с представителями HR-департамента у стенда.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="section-results__item">
          <div class="section-results__item-num">9.</div>
          <div class="section-results__item-right">
            <a href="#" class="section-results__item-image">
              <img loading="lazy" src="img/jpg/image/image54.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="section-results__item-content">
              <a href="#" class="section-results__item-name h6">Светогорский ЦБК принял участие в Career Days
                в университете
                ИТМО</a>
              <div class="section-results__item-text">
                <p>НПАО «Светогорский ЦБК» 15 июня текущего года приняло участие в Career Days в университете ИТМО
                  в Санкт-Петербурге.</p>
                <p>Студенты познакомились с компанией и узнали о программах стажировки для молодых талантов, общаясь
                  с представителями HR-департамента у стенда.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="section-results__item">
          <div class="section-results__item-num">10.</div>
          <div class="section-results__item-right">
            <a href="#" class="section-results__item-image">
              <img loading="lazy" src="img/jpg/image/image55.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="section-results__item-content">
              <a href="#" class="section-results__item-name h6">Светогорский ЦБК принял участие в Career Days
                в университете
                ИТМО</a>
              <div class="section-results__item-text">
                <p>НПАО «Светогорский ЦБК» 15 июня текущего года приняло участие в Career Days в университете ИТМО
                  в Санкт-Петербурге.</p>
                <p>Студенты познакомились с компанией и узнали о программах стажировки для молодых талантов, общаясь
                  с представителями HR-департамента у стенда.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="pagination section-results__pagination">
          <div class="pagination__arrow pagination__arrow-prev"></div>
          <div class="pagination__item">1</div>
          <div class="pagination__item">2</div>
          <div class="pagination__item">3</div>
          <div class="pagination__item">5</div>
          <div class="pagination__item active">6</div>
          <div class="pagination__item">7</div>
          <div class="pagination__item">10</div>
          <div class="pagination__arrow pagination__arrow-next"></div>
        </div> -->
      </div>
    </div>
  </div>
</section>