<section class="other-products">
  <div class="container">
    @include('../../templates/breadcrumbs.html')
    <h1 class="other-products__title h1">Прочие продукты</h1>
    <div class="other-products__items">
      <div class="other-products__item">
        <div class="other-products__item-image">
          <img loading="lazy" src="img/png/image/img9.jpg" class="image" width="" height="" alt="">
        </div>
        <div class="other-products__item-content">
          <div class="other-products__item-name h6">
            Канифоль талловая
          </div>
          <div class="other-products__item-text show content js-other-products-list">
            <ul>
              <li>Продукт, получаемый из сырого таллового масла.</li>
              <li>Состоит в основном из смоляных кислот (общая формула C20H30O2).</li>
              <li>Используется в синтезе алкидных смол, эфиров, клеевых композиций различного назначения и других
                отраслях промышленности.</li>
            </ul>
          </div>
          <button class="btn-reset other-products__item-button js-other-products-button">Читать полностью</button>
        </div>
      </div>
      <div class="other-products__item">
        <div class="other-products__item-image">
          <img loading="lazy" src="img/png/image/img10.jpg" class="image" width="" height="" alt="">
        </div>
        <div class="other-products__item-content">
          <div class="other-products__item-name h6">
            Кислоты жирные талловые
          </div>
          <div class="other-products__item-text show content js-other-products-list">
            <ul>
              <li>Продукт, получаемый из сырого таллового масла.</li>
              <li>Состоит в основном из жирных кислот С18 – С20 с примесью смоляных кислот и неомыляемых веществ.</li>
              <li>Предназначен для производства лакокрасочной, полиграфической продукции, в качестве флотореагента.
                Используется в производстве присадок к дизельному топливу.</li>
              <li>Является полноценным заменителем жирных кислот растительного масла.</li>
            </ul>
          </div>
          <button class="btn-reset other-products__item-button js-other-products-button">Читать полностью</button>
        </div>
      </div>
      <div class="other-products__item">
        <div class="other-products__item-image">
          <img loading="lazy" src="img/png/image/img11.jpg" class="image" width="" height="" alt="">
        </div>
        <div class="other-products__item-content">
          <div class="other-products__item-name h6">
            Скипидар сульфатный очищенный
          </div>
          <div class="other-products__item-text show content js-other-products-list">
            <ul>
              <li>Продукт, получаемый из сырого таллового масла.</li>
              <li>Состоит в основном из жирных кислот С18 – С20 с примесью смоляных кислот и неомыляемых веществ.</li>
              <li>Предназначен для производства лакокрасочной, полиграфической продукции, в качестве флотореагента.
                Используется в производстве присадок к дизельному топливу.</li>
              <li>Является полноценным заменителем жирных кислот растительного масла.</li>
            </ul>
          </div>
          <button class="btn-reset other-products__item-button js-other-products-button">Читать полностью</button>
        </div>
      </div>
      <div class="other-products__item">
        <div class="other-products__item-image">
          <img loading="lazy" src="img/png/image/img10.jpg" class="image" width="" height="" alt="">
        </div>
        <div class="other-products__item-content">
          <div class="other-products__item-name h6">
            Кислоты жирные талловые
          </div>
          <div class="other-products__item-text show content js-other-products-list">
            <ul>
              <li>Продукт, получаемый из сырого таллового масла.</li>
              <li>Состоит в основном из жирных кислот С18 – С20 с примесью смоляных кислот и неомыляемых веществ.</li>
              <li>Предназначен для производства лакокрасочной, полиграфической продукции, в качестве флотореагента.
                Используется в производстве присадок к дизельному топливу.</li>
              <li>Является полноценным заменителем жирных кислот растительного масла.</li>
            </ul>
          </div>
          <button class="btn-reset other-products__item-button js-other-products-button">Читать полностью</button>
        </div>
      </div>
    </div>
    <div class="cardboard-buy">
      <div class="cardboard-buy__inner">
        <h3 class="cardboard-buy__title h3">Где купить</h3>
        <div class="social-link mail">
          <div class="social-link__icon">
            <img loading="lazy" src="img/svg/mail-light.svg" class="image" width="" height="" alt="">
          </div>
          <a href="mailto:otvet@svetopaper.com">otvet@svetopaper.com</a>
        </div>
      </div>
    </div>
  </div>
</section>
