<section class="preview career-preview">
  @include('../../templates/breadcrumbs.html')
  <div class="swiper preview__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="preview__item career-preview__item">
          <div class="preview__image career-preview__image">
            <picture>
              <source media="(max-width: 1366px)" srcset="img/jpg/backgr/career-bg-tablet.jpg">
              <img src="img/jpg/backgr/career-bg.jpg" alt="">
            </picture>
          </div>
          <div class="container career-preview__container">
            <div class="preview-image__content career-preview__content">
              <h1 class="preview-image__title career-preview__title h1">Карьера</h1>
              <div class="preview-image__text career-preview__text">
                <p><strong>Дерзайте! Мы поддержим</strong></p>
                <p>Прочный фундамент для идей и развития</p>
              </div>
              <div class="preview-image__info career-preview__info">
                <a href="https://hh.ru/employer/163092?customDomain=1"
                  class="button-doc preview-image__link career-preview__link" target="_blank">Смотреть
                  вакансии</a>
              </div>
            </div>
            <div class="career-preview__control">
              <no-typography>
                <h5 class="career-preview__control-name h5">
                  Департамент по управлению персоналом
                </h5>
              </no-typography>
              <div class="social-link tel">
                <div class="social-link__icon">
                  <img loading="lazy" src="img/svg/social/phone-green.svg" class="image" width="" height="" alt="">
                </div>
                <a href="tel:+7 812 334-57-30">+7 812 334-57-30</a>
              </div>
              <div class="social-link mail">
                <div class="social-link__icon">
                  <img loading="lazy" src="img/svg/social/mail-green.svg" class="image" width="" height="" alt="">
                </div>
                <a href="mailto:HRrussia@svetopaper.com">HRrussia@svetopaper.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-color career-work">
  <div class="container">
    <div class="career-work__text content">
      <p>У нас богатая более чем 135-летняя история, а у наших сотрудников – сильная экспертиза.<br>
        Мы открыты инновационным идеям и рады новым талантам в нашей команде</p>
    </div>
    <h2 class="career-work__title h2">
      Работа в НПАО «Светогорский ЦБК» это:
    </h2>
    <div class="career-work__items">
      <div class="career-work__item">
        <div class="career-work__item-image">
          <div class="career-work__item-image-inner">
            <img loading="lazy" src="img/svg/icons/icon14.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="career-work__item-content">
          <div class="career-work__item-name h5">Возможность расти и развиваться</div>
          <div class="career-work__item-text js-career-work-item">
            <p>Мы проводим оплачиваемые стажировки для студентов; приглашаем старшекурсников, выпускников ВУЗов и
              начинающих специалистов в программу привлечения молодых талантов «ВЗЛЕТ», поддерживаем карьерный рост
              сотрудников, инвестируем в обучение и развитие лидеров; обмениваемся профессиональным опытом с другими
              крупными производственными
              предприятиями</p>
          </div>
          <button class="btn-reset career-work__item-button js-career-work-button">Смотреть подробнее</button>
        </div>
      </div>
      <div class="career-work__item">
        <div class="career-work__item-image">
          <div class="career-work__item-image-inner">
            <img loading="lazy" src="img/svg/icons/icon15.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="career-work__item-content">
          <div class="career-work__item-name h5">Движение и инновации</div>
          <div class="career-work__item-text js-career-work-item">
            <p>Мы непрерывно работаем над качеством наших продуктов, внедряем новые технологии и постоянно ищем
              нестандартные решения для развития бизнеса. И мы рады, когда наши
              сотрудники проявляют инициативу, открыто высказываются, решают сложные задачи и берут на себя
              ответственность за результат</p>
          </div>
          <button class="btn-reset career-work__item-button js-career-work-button">Смотреть подробнее</button>
        </div>
      </div>
      <div class="career-work__item">
        <div class="career-work__item-image">
          <div class="career-work__item-image-inner">
            <img loading="lazy" src="img/svg/icons/icon16.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="career-work__item-content">
          <div class="career-work__item-name h5">Надежность и стабильность</div>
          <div class="career-work__item-text js-career-work-item">
            <p>Мы крупная и стабильная компания, которая не раз доказывала свою надежность. Своим сотрудникам мы
              предлагаем расширенный соцпакет: ДМС, страхование жизни, программу
              психологической, финансовой и юридической помощи, компенсацию оплаты детских лагерей для детей
              сотрудников, интересные и разнообразные корпоративные мероприятия</p>
          </div>
          <button class="btn-reset career-work__item-button js-career-work-button">Смотреть подробнее</button>
        </div>
      </div>
      <div class="career-work__item">
        <div class="career-work__item-image">
          <div class="career-work__item-image-inner">
            <img loading="lazy" src="img/svg/icons/icon17.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="career-work__item-content">
          <div class="career-work__item-name h5">Многообразие и включенность</div>
          <div class="career-work__item-text js-career-work-item">
            <p>В нашей команде более 2000 человек, где всем комфортно: молодым специалистам, студентам, опытным
              профессионалам и людям с особыми возможностями. У нас создана атмосфера открытости и доверия</p>
          </div>
          <button class="btn-reset career-work__item-button js-career-work-button">Смотреть подробнее</button>
        </div>
      </div>
      <div class="career-work__item">
        <div class="career-work__item-image">
          <div class="career-work__item-image-inner">
            <img loading="lazy" src="img/svg/icons/icon18.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="career-work__item-content">
          <div class="career-work__item-name h5">Забота</div>
          <div class="career-work__item-text js-career-work-item">
            <p>Мы заботимся о людях и окружающей среде. Главная цель компании, чтобы каждый сотрудник ежедневно
              возвращался домой целым и невредимым. Наша комплексная социальная программа включает помощь школам,
              детским садам и жителям города Светогорска. Это и тематические уроки в школах и колледжах, и спортивные
              мероприятия. Также мы проводим ремонтные работы в образовательных учреждениях, организовываем
              экологические волонтерские акции и многое другое</p>
          </div>
          <button class="btn-reset career-work__item-button js-career-work-button">Смотреть подробнее</button>
        </div>
      </div>
      <div class="career-work__item career-work__item-last">
        <div class="career-work__item-image">
          <div class="career-work__item-image-inner">
            <img loading="lazy" src="img/svg/icons/icon19.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="career-work__item-content">
          <div class="career-work__item-name h5">И, наконец, – это та самая знаменитая бумага в зеленой пачке!</div>
          <div class="career-work__item-text js-career-work-item">
            <p>Наша офисная бумага SvetoCopy – бренд №1 в категории*</p>
            <div class="icon_info career-work__item-info">
              <img loading="lazy" src="img/svg/social/icon-info.svg" class="image" width="" height="" alt="">
              <div class="icon_info__tooltip">Источник: по знанию и потреблению согласно данным исследования
                компании
                Ипсос Комкон в городах Москва, Санкт-Петербург, Воронеж, Ростов-на-Дону, Самара, Екатеринбург,
                Челябинск,
                Нижний Новгород, Казань в период апрель–июнь 2023 год</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-color backgr-circle career-job">
  <div class="container">
    <div class="career-job__inner">
      <div class="career-job__content">
        <h2 class="career-job__content-title h2">
          Приходите к нам, если вы:
        </h2>
        <div class="career-job__content-text content">
          <ul>
            <li>выпускник высшего или среднего учебного заведения</li>
            <li>готовы обучаться и открыты ко всему новому</li>
            <li>коммуникабельны, инициативны и берете на себя ответственность</li>
          </ul>
          <p>Присылайте свое резюме на адрес <a href="mailto:HRrussia@svetopaper.com">HRrussia@svetopaper.com</a> </p>
        </div>
      </div>
      <div class="career-job__image">
        <img loading="lazy" src="img/png/image/img12.png" class="image" width="" height="" alt="">
      </div>
    </div>
  </div>
</section>

<section class="section-color career-section-light">
  <div class="container">
    <div class="career-action">
      <div class="career-action__items">
        <a href="https://hh.ru/search/vacancy?from=employerPage&employer_id=163092&hhtmFrom=employer"
          class="career-action__item" target="_blank">
          <div class="career-action__item-image">
            <img loading="lazy" src="img/jpg/image/image45.jpg" class="image" width="" height="" alt="">
            <div class="career-action__item-name h4">Вакансии</div>
          </div>
        </a>
        <a href="/internship.html" class="career-action__item" target="_blank">
          <div class="career-action__item-image">
            <img loading="lazy" src="img/jpg/image/image46.jpg" class="image" width="" height="" alt="">
            <div class="career-action__item-name h4">Стажировка</div>
          </div>
        </a>
      </div>
    </div>
    <div class="career-control">
      <div class="career-control__name h3">Департамент по управлению персоналом</div>
      <div class="social-link tel">
        <div class="social-link__icon">
          <img loading="lazy" src="img/svg/social/phone-green.svg" class="image" width="" height="" alt="">
        </div>
        <a href="tel:+7 812 334-57-30">+7 812 334-57-30</a>
      </div>
      <div class="social-link mail">
        <div class="social-link__icon">
          <img loading="lazy" src="img/svg/social/mail-green.svg" class="image" width="" height="" alt="">
        </div>
        <a href="mailto:HRrussia@svetopaper.com">HRrussia@svetopaper.com</a>
      </div>
    </div>
  </div>
</section>