<section class="newspaper">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <h1 class="newspaper__title h1">Газета «Светогорский рабочий»</h1>
    <div class="newspaper__items">
      <div class="newspaper__item">
        <div class="newspaper__item-head">
          <div class="newspaper__item-image">
            <img loading="lazy" src="img/png/newspaper/newspaper1.png" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="newspaper__item-content">
          <a href="#" class="newspaper__item-name" target="_blank">№58 — Июнь 2023</a>
          <div class="newspaper__item-bottom">
            <a href="#" class="newspaper__item-open" target="_blank">Открыть</a>
            <div class="newspaper__item-size">1.90 Мб</div>
            <a href="#" class="newspaper__item-link" target="_blank">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="newspaper__item">
        <div class="newspaper__item-head">
          <div class="newspaper__item-image">
            <img loading="lazy" src="img/png/newspaper/newspaper2.png" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="newspaper__item-content">
          <a href="#" class="newspaper__item-name" target="_blank">№56 — Май 2023</a>
          <div class="newspaper__item-bottom">
            <a href="#" class="newspaper__item-open" target="_blank">Открыть</a>
            <div class="newspaper__item-size">1.90 Мб</div>
            <a href="#" class="newspaper__item-link" target="_blank">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="newspaper__item">
        <div class="newspaper__item-head">
          <div class="newspaper__item-image">
            <img loading="lazy" src="img/png/newspaper/newspaper3.png" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="newspaper__item-content">
          <a href="#" class="newspaper__item-name" target="_blank">№55 — Апрель2023</a>
          <div class="newspaper__item-bottom">
            <a href="#" class="newspaper__item-open" target="_blank">Открыть</a>
            <div class="newspaper__item-size">1.90 Мб</div>
            <a href="#" class="newspaper__item-link" target="_blank">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="newspaper__item">
        <div class="newspaper__item-head">
          <div class="newspaper__item-image">
            <img loading="lazy" src="img/png/newspaper/newspaper4.png" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="newspaper__item-content">
          <a href="#" class="newspaper__item-name" target="_blank">№54 — Март 2023</a>
          <div class="newspaper__item-bottom">
            <a href="#" class="newspaper__item-open" target="_blank">Открыть</a>
            <div class="newspaper__item-size">1.90 Мб</div>
            <a href="#" class="newspaper__item-link" target="_blank">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="newspaper__item">
        <div class="newspaper__item-head">
          <div class="newspaper__item-image">
            <img loading="lazy" src="img/png/newspaper/newspaper1.png" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="newspaper__item-content">
          <a href="#" class="newspaper__item-name" target="_blank">№58 — Июнь 2023</a>
          <div class="newspaper__item-bottom">
            <a href="#" class="newspaper__item-open" target="_blank">Открыть</a>
            <div class="newspaper__item-size">1.90 Мб</div>
            <a href="#" class="newspaper__item-link" target="_blank">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="newspaper__item">
        <div class="newspaper__item-head">
          <div class="newspaper__item-image">
            <img loading="lazy" src="img/png/newspaper/newspaper2.png" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="newspaper__item-content">
          <a href="#" class="newspaper__item-name" target="_blank">№56 — Май 2023</a>
          <div class="newspaper__item-bottom">
            <a href="#" class="newspaper__item-open" target="_blank">Открыть</a>
            <div class="newspaper__item-size">1.90 Мб</div>
            <a href="#" class="newspaper__item-link" target="_blank">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="newspaper__item">
        <div class="newspaper__item-head">
          <div class="newspaper__item-image">
            <img loading="lazy" src="img/png/newspaper/newspaper3.png" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="newspaper__item-content">
          <a href="#" class="newspaper__item-name" target="_blank">№55 — Апрель2023</a>
          <div class="newspaper__item-bottom">
            <a href="#" class="newspaper__item-open" target="_blank">Открыть</a>
            <div class="newspaper__item-size">1.90 Мб</div>
            <a href="#" class="newspaper__item-link" target="_blank">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="newspaper__item">
        <div class="newspaper__item-head">
          <div class="newspaper__item-image">
            <img loading="lazy" src="img/png/newspaper/newspaper4.png" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="newspaper__item-content">
          <a href="#" class="newspaper__item-name" target="_blank">№54 — Март 2023</a>
          <div class="newspaper__item-bottom">
            <a href="#" class="newspaper__item-open" target="_blank">Открыть</a>
            <div class="newspaper__item-size">1.90 Мб</div>
            <a href="#" class="newspaper__item-link" target="_blank">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="pagination newspaper__pagination">
        <div class="pagination__arrow pagination__arrow-prev"></div>
        <div class="pagination__item">1</div>
        <div class="pagination__item">2</div>
        <div class="pagination__item">3</div>
        <div class="pagination__item">4</div>
        <div class="pagination__item">5</div>
        <div class="pagination__item active">6</div>
        <div class="pagination__item">7</div>
        <div class="pagination__item">8</div>
        <div class="pagination__item">9</div>
        <div class="pagination__item">10</div>
        <div class="pagination__arrow pagination__arrow-next"></div>
      </div>
    </div>
  </div>

</section>
