.history-hero {
  background: linear-gradient(110deg, #E8EEF2 3.93%, #FBFDFF 100%);
  padding-bottom: 90px;

  &__content {
    margin-top: 40px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__text {
    @extend %regular24;
    max-width: 975px;
  }
}

@media screen and (max-width: $laptop) {
  .history-hero {
    padding-bottom: 32px;
  
    &__content {
      margin-top: 16px;
    }
  
    &__title {
      margin-bottom: 16px;
    }
  
    &__text {
      max-width: 975px;
    }
  }
}

@media screen and (max-width: $mob) {}

.history {
  @include bgcover;

  &__title {
    color: $white;
    margin-bottom: 40px;

    span {
      color: $yellow;
    }
  }

  &__item {
    @include flexFsStart;
    position: relative;
    width: 418px;
    flex-shrink: 0;

    &::before {
      content: '';
      position: absolute;
      left: 24px;
      width: 1px;
      height: 100%;
      background: linear-gradient(90deg, #02B45E 1.97%, #71CB3A 96.94%);
    }

    &-image {
      width: 120px;
      height: 120px;
      flex-shrink: 0;
      border-radius: 120px;
      overflow: hidden;
      border: 2px solid $yellow;
      position: absolute;
      top: 0;
      left: -136px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-date {
      color: $white;
      margin-bottom: 12px;
    }

    &-text {
      @extend %regular16;

      p {
        color: $white;
      }
    }
  }
}


.mySwiper {
  position: relative;
  overflow: inherit;

  .swiper-slide {
    width: 418px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: auto;
    row-gap: 130px;

    .history__item-line {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 24px;
      width: 100%;
      height: 4px;
      background: var(--FFC700, #FFC700);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0px;
      width: 48px;
      height: 48px;
      background-image: url(../img/svg/circle.svg);
    }

    &:nth-child(odd) {
      .history__item {
        grid-row: 2/3;

        &::before {
          content: '';
          position: absolute;
          top: -32px;
          left: 24px;
          width: 1px;
          height: 28px;
          background: linear-gradient(90deg, #02B45E 1.97%, #71CB3A 96.94%);
        }
      }
    }

    &:nth-child(even) {
      .history__item {
        grid-row: 1/1;

        &::before {
          content: '';
          position: absolute;
          bottom: -32px;
          left: 24px;
          width: 1px;
          height: 100px;
          background: linear-gradient(90deg, #02B45E 1.97%, #71CB3A 96.94%);
        }
      }
    }
  }

  .swiper__scrollbar-bottom {
    overflow: hidden;
    position: relative;
    padding-top: 6px;
    text-align: center;
    margin-top: 34px;
    padding-left: 120px;
    padding-right: 120px;
  }

  .swiper-scrollbar {
    border-radius: 666px;
    background: rgba(255, 255, 255, 0.20);
    height: 4px;
    margin-bottom: 14px;
  }

  .swiper-scrollbar-drag {
    border-radius: 8px;
    background: var(--FFC700, #FFC700);
    box-shadow: -10px -10px 20px 0px #004D43, 10px 10px 20px 0px rgba(0, 77, 67, 0.50), 5px 5px 10px 0px rgba(0, 77, 67, 0.25), -5px -5px 10px 0px #004D43;
    height: 16px;
    top: -5px;
    cursor: pointer;
  }

  .swiper__scrollbar-text {
    color: $white;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}