.other-products {
  background: linear-gradient(180deg, #FFF 0%, #EFF2F7 99.96%);
  padding-bottom: 100px;

  &__title {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  &__items {
    @include gridColumn(4);
    column-gap: 24px;
    margin-bottom: 60px;
  }

  &__item {
    border-radius: 20px;
    overflow: hidden;
    background-color: $white;
    box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.20);
    @include flexColumn;

    &-image {
      @include imageCoverWidth;
      height: 280px;
      flex-shrink: 0;
    }

    &-content {
      padding: 24px;
    }

    &-name {
      color: $green;
      margin-bottom: 16px;
    }

    &-text {
      ul {
        li {
          padding-left: 17px;
          @include mb(8px);
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    &-button {
      display: none;
    }
  }

  &__text {
    a {
      color: $green;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: $laptop) {
  .other-products {
    padding-bottom: 64px;

    &__title {
      margin-top: 16px;
      margin-bottom: 24px;
    }

    &__items {
      column-gap: 16px;
      margin-bottom: 24px;
    }

    &__item {
      &-content {
        padding: 20px;
      }

      &-name {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 12px;
      }

      &-text {
        ul {
          li {
            &::before {
              top: 8px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .other-products {
    &__items {
      @include gridColumn(2);
      row-gap: 16px;
    }
  }
}

@media screen and (max-width: $mob) {
  .other-products {
    padding-bottom: 40px;

    &__title {
      margin-bottom: 16px;
    }

    &__items {
      @include gridColumn(1);
      row-gap: 16px;
    }

    &__item {
      &-image {
        height: 200px;
      }

      &-content {
        padding: 16px;
      }

      &-name {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 8px;
      }

      &-text {
        &.show {
          ul {
            li {
              &:not(:nth-child(-n+2)) {
                display: none;
              }
            }
          }
        }
      }

      &-button {
        font-size: 16px;
        line-height: 24px;
        color: $green;
        margin-top: 8px;
        border-bottom: 1px dotted $green;
        cursor: pointer;
        display: block;

        &.hide {
          display: none;
        }
      }
    }
  }
}