@include('../../templates/breadcrumbs.html')
<section class="releases-single">
  <div class="container">
    <div class="releases-single__head">
      <a href="#" class="link-head releases-single__link-head">
        <div class="link-head__icon">
          <img loading="lazy" src="img/svg/arrows/icon-back.svg" class="image" width="" height="" alt="">
        </div>
        <div class="link-head__name">Все пресс-релизы</div>
      </a>
      <div class="releases-single__date">11 июля 2023</div>
      <h1 class="releases-single__title h2">Главный приоритет Светогорского ЦБК — безопасность</h1>
    </div>
    <div class="releases-single__content content-text">
      <p>Одним из главных приоритетов Светогорского ЦБК является безопасность. В компании считают, что важна не только
        охрана труда, но и безопасность сотрудников в повседневной жизни и быту.</p>
      <img loading="lazy" src="img/jpg/image/image59.jpg" class="image" width="" height="" alt="">
      <p>На комбинате прикладывают много сил, чтобы безопасность стала частью культуры компании во всех сферах жизни
        и работы. На Светогорском ЦБК существует специальная система КОТ (контроль охраны труда), куда сотрудник может
        внести свои наблюдения по потенциально опасным ситуациям или инцидентам, касающихся безопасности.
      </p>
      <p>В рамках этой инициативы ежеквартально в офисах НПАО «Светогорский ЦБК» проводятся «завтраки по безопасности»,
        где обсуждаются важные аспекты защиты от опасностей в офисной и бытовой среде.
      </p>
      <p>Так, на последней такой встрече в петербургском офисе приглашённый эксперт, врач-профпатолог медико-санитарной
        части Светогорского ЦБК Елена Жильцова рассказала, как слушать музыку в наушниках без вреда и можно ли оглохнуть
        при прослушивании музыки в наушниках.</p>
    </div>
  </div>
</section>

<section class="section-color other news-other">
  <div class="container">
    <div class="other__title h3">Смотрите также</div>
    <div class="swiper swiper-style other__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide other__slide">
          <div class="news__item">
            <a href="#" class="news__item-image">
              <img loading="lazy" src="img/jpg/image/image48.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="news__item-content">
              <a href="#" class="news__item-name">
                Приняли участие в карьерных мероприятиях
              </a>
              <div class="news__item-text content">
                <p>Представители НПАО «Светогорский ЦБК» приняли участие в карьерных мероприятиях, проходивших в
                  Санкт-Петербурге и Ленинградской области, где на выставках и ярмарках вакансий рассказывали о
                  компании.
                </p>
              </div>
              <div class="news__item-bottom">
                <div class="news__item-date">11 июля 2023</div>
                <a href="#" class="news__item-link">
                  <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide other__slide">
          <div class="news__item">
            <a href="#" class="news__item-image">
              <img loading="lazy" src="img/jpg/image/image49.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="news__item-content">
              <a href="#" class="news__item-name">
                Приняли участие в карьерных мероприятиях
              </a>
              <div class="news__item-text content">
                <p>Представители НПАО «Светогорский ЦБК» приняли участие в карьерных мероприятиях, проходивших в
                  Санкт-Петербурге и Ленинградской области, где на выставках и ярмарках вакансий рассказывали о
                  компании.
                </p>
              </div>
              <div class="news__item-bottom">
                <div class="news__item-date">11 июля 2023</div>
                <a href="#" class="news__item-link">
                  <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide other__slide">
          <div class="news__item">
            <a href="#" class="news__item-image">
              <img loading="lazy" src="img/jpg/image/image50.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="news__item-content">
              <a href="#" class="news__item-name">
                Приняли участие в карьерных мероприятиях
              </a>
              <div class="news__item-text content">
                <p>Представители НПАО «Светогорский ЦБК» приняли участие в карьерных мероприятиях, проходивших в
                  Санкт-Петербурге и Ленинградской области, где на выставках и ярмарках вакансий рассказывали о
                  компании.
                </p>
              </div>
              <div class="news__item-bottom">
                <div class="news__item-date">11 июля 2023</div>
                <a href="#" class="news__item-link">
                  <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide other__slide">
          <div class="news__item">
            <a href="#" class="news__item-image">
              <img loading="lazy" src="img/jpg/image/image49.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="news__item-content">
              <a href="#" class="news__item-name">
                Приняли участие в карьерных мероприятиях
              </a>
              <div class="news__item-text content">
                <p>Представители НПАО «Светогорский ЦБК» приняли участие в карьерных мероприятиях, проходивших в
                  Санкт-Петербурге и Ленинградской области, где на выставках и ярмарках вакансий рассказывали о
                  компании.
                </p>
              </div>
              <div class="news__item-bottom">
                <div class="news__item-date">11 июля 2023</div>
                <a href="#" class="news__item-link">
                  <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-style__bottom">
        <div class="swiper-button-prev other__swiper-button-prev"></div>
        <div class="swiper-pagination other__swiper-pagination"></div>
        <div class="swiper-button-next other__swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
