<section class="preview responsibility-preview"
  style=" background-image: url(img/jpg/backgr/responsibility-backgr.jpg);">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <div class="preview__content responsibility-preview__content">
      <h1 class="preview__title responsibility-preview__title h1">Cоциальная ответственность</h1>
      <div class="preview__text responsibility-preview__text">
        <p>Инвестируем в социальную инфраструктуру и человеческий капитал. Постоянное улучшение качества жизни
          сотрудников компании и членов их семей является краеугольным камнем корпоративной стратегии</p>
      </div>
    </div>
    <div class="responsibility-preview__items">
      <a href="#" class="responsibility-preview__item">
        <div class="responsibility-preview__item-inner">
          <div class="responsibility-preview__item-image">
            <img loading="lazy" src="img/jpg/image/image29.jpg" class="image" width="" height="" alt="">
          </div>
          <h4 class="responsibility-preview__item-name h4">Забота о людях</h4>
        </div>
      </a>
      <a href="#" class="responsibility-preview__item">
        <div class="responsibility-preview__item-inner">
          <div class="responsibility-preview__item-image">
            <img loading="lazy" src="img/jpg/image/image26.jpg" class="image" width="" height="" alt="">
          </div>
          <h4 class="responsibility-preview__item-name h4">Забота об обществе</h4>
        </div>
      </a>
    </div>
  </div>
</section>
