.photo-single {
  padding-bottom: 100px;
  background: linear-gradient(180deg, #FFF 0%, #EFF2F7 99.96%);

  &__head {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__link-head {
    margin-bottom: 16px;
  }

  &__date {
    @extend %bold12;
    color: $txtDate;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__title {
    color: $dark;
    animation: inherit;
    background: inherit;
    -webkit-text-fill-color: inherit;
  }

  &__content {
    .images-gallery__swiper {
      .images-gallery__image {
        height: 800px;
      }
    }

    .images-gallery__swiper-thumbs {
      .images-gallery__image {
        height: 140px;
      }
    }

    .swiper-style__bottom {
      margin-top: 24px;
    }
  }
}

@media screen and (max-width: $laptop) {
  .photo-single {
    padding-bottom: 64px;

    &__head {
      margin-top: 16px;
    }

    &__link-head {
      margin-bottom: 8px;
    }

    &__date {
      margin-bottom: 8px;
    }

    &__content {
      .images-gallery__swiper {
        .images-gallery__image {
          height: 720px;
        }
      }
    }
  }
}

@media screen and (max-width: $mob) {
  .photo-single {
    padding-bottom: 40px;

    &__head {
      margin-bottom: 16px;
    }

    &__content {
      .images-gallery__swiper {

        .images-gallery__image {
          height: 190px;
        }
      }

      .images-gallery__swiper-thumbs {
        .images-gallery__image {
          height: 48px;
        }
      }
    }
  }
}

.news-other {
  .media__item {
    height: 100%;
  }
}