<div class="block_shadow"></div>
<footer class="footer">
  <div class="container">
    <div class="footer__menu">
      <div class="footer__row">
        <div class="footer__column">
          <a data-graph-path="modal1" class="footer__name">О компании</a>
          <ul class="list-reset footer__list">
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Миссия и видение</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Руководство компании</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Философия бренда</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">История компании</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Социальные объекты</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Документы</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Контакты</a></li>
          </ul>
        </div>
        <div class="footer__column">
          <a data-graph-path="modal1" class="footer__name">Устойчивое развитие</a>
          <ul class="list-reset footer__list">
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Устойчивое лесопользование</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Безопасность труда</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Социальная ответственность</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Охрана окружающей среды </a></li>
          </ul>
        </div>
        <div class="footer__column">
          <a data-graph-path="modal1" class="footer__name">Продукция</a>
          <ul class="list-reset footer__list">
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Офисная бумага</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Офсетная бумага</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Картон</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">ХТММ</a></li>
          </ul>
        </div>
        <div class="footer__column">
          <a data-graph-path="modal1" class="footer__name">Карьера</a>
          <ul class="list-reset footer__list">
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Вакансии</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Стажировка</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Интервью с сотрудниками</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__row">
        <div class="footer__column">
          <a data-graph-path="modal1" class="footer__name">Пресс-центр</a>
          <ul class="list-reset footer__list">
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Новости</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Фото и видео</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Пресс-релизы</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Газета «Светогорский рабочий»</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Пресс-кит</a></li>
          </ul>
        </div>
        <div class="footer__column">
          <a data-graph-path="modal1" class="footer__name">Поставщикам</a>
          <ul class="list-reset footer__list">
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Материалы и услуги</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Лесообеспечение</a></li>
          </ul>
        </div>
        <div class="footer__column">
          <ul class="list-reset footer__list">
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Противодействие мошенничеству</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Политика конфиденциальности</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Часто задаваемые вопросы</a></li>
            <li class="footer__item"><a data-graph-path="modal1" class="footer__link">Горячая линия</a></li>
          </ul>
        </div>
        <div class="footer__column">
          <div class="tel social_link">
            <img loading="lazy" src="img/svg/tel.svg" class="image" width="" height="" alt="">
            <a href="tel:+7 812 334-57-30">+7 812 334-57-30</a>
          </div>
          <div class="mail social_link">
            <img loading="lazy" src="img/svg/mail.svg" class="image" width="" height="" alt="">
            <a href="mailto:otvet@svetopaper.com">otvet@svetopaper.com</a>
          </div>
          <div class="social">
            <a href="https://vk.com/svetocbk" class="social__item" target="_blank">
              <img loading="lazy" src="img/svg/vk.svg" class="image" width="" height="" alt="">
            </a>
            <!-- <a href="#" class="social__item">
              <img loading="lazy" src="img/svg/youtube.svg" class="image" width="" height="" alt="">
            </a>
            <a href="#" class="social__item">
              <img loading="lazy" src="img/svg/viber.svg" class="image" width="" height="" alt="">
            </a>
            <a href="#" class="social__item">
              <img loading="lazy" src="img/svg/tg.svg" class="image" width="" height="" alt="">
            </a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copy">© 2023 НПАО «Светогорский ЦБК»</div>
    </div>
  </div>
</footer>

<div class="pattern">
  <img loading="lazy" src="img/png/pattern.png" class="image" width="" height="" alt="">
</div>

<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal1">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content text">
      Сайт находится в стадии разработки. <br>Выбранный раздел временно не доступен
    </div>
  </div>
</div>
