<section class="menu-section menu-career">
  <div class="head-container">
    <nav class="menu" title="">
      <div class="menu__title js-menu-button">
        <!-- выводится текущее название страницы -->
        <div class="menu__title-name">Карьера</div>
        <button class="btn-reset menu__title-button"></button>
      </div>
      <ul class="list-reset menu__list js-menu-list">
        <li class="menu__item tablet-none"><a href="/career.html" class="menu__link">Карьера</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a data-graph-path="modal1" class="menu__link">Вакансии</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="/internship.html" class="menu__link">Стажировка</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="/interview.html" class="menu__link">Интервью с сотрудниками</a></li>
      </ul>
    </nav>
  </div>
</section>
