<section class="menu-section">
  <div class="head-container">
    <nav class="menu" title="">
      <ul class="list-reset menu__list">
        <li class="menu__item"><a href="#" class="menu__link">О компании</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="#" class="menu__link">Миссия и видение</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="#" class="menu__link">Руководство компании</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="#" class="menu__link">Философия бренда</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="#" class="menu__link">История компании</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="#" class="menu__link">Социальные объекты</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="#" class="menu__link">Документы</a></li>
      </ul>
    </nav>
  </div>
</section>
