<section class="menu-section">
  <div class="head-container">
    <nav class="menu" title="">
      <div class="menu__title js-menu-button">
        <!-- выводится текущее название страницы -->
        <div class="menu__title-name">О компании</div>
        <button class="btn-reset menu__title-button"></button>
      </div>
      <ul class="list-reset menu__list js-menu-list">
        <li class="menu__item"><a href="/company.html" class="menu__link">О компании</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="/goal.html" class="menu__link">Миссия и видение</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="/management.html" class="menu__link">Руководство компании</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="/philosophy.html" class="menu__link">Философия бренда</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="/history.html" class="menu__link">История компании</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="/objects.html" class="menu__link">Социальные объекты</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="/documents.html" class="menu__link">Документы</a></li>
      </ul>
    </nav>
  </div>
</section>
