<section class="menu-section menu-products">
  <div class="head-container">
    <nav class="menu" title="">
      <ul class="list-reset menu__list">
        <li class="menu__item"><a href="#" class="menu__link">Офисная бумага</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="#" class="menu__link">Офсетная бумага</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="#" class="menu__link">Картон</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="#" class="menu__link">ХТММ</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="#" class="menu__link">Прочие продукты</a></li>
      </ul>
    </nav>
  </div>
</section>
