<section class="menu-section menu-products">
  <div class="head-container">
    <nav class="menu" title="">
      <div class="menu__title js-menu-button">
        <!-- выводится текущее название страницы -->
        <div class="menu__title-name">Офисная бумага</div>
        <button class="btn-reset menu__title-button"></button>
      </div>
      <ul class="list-reset menu__list js-menu-list">
        <li class="menu__item tablet-none"><a href="/paper.html" class="menu__link">Офисная бумага</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="/offset.html" class="menu__link">Офсетная бумага</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="/cardboard.html" class="menu__link">Картон</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="/htmm.html" class="menu__link">ХТММ</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="/other-products.html" class="menu__link">Прочие продукты</a></li>
      </ul>
    </nav>
  </div>
</section>
