<section class="menu-section">
  <div class="head-container">
    <nav class="menu" title="">
      <div class="menu__title js-menu-button">
        <!-- выводится текущее название страницы -->
        <div class="menu__title-name">Новости</div>
        <button class="btn-reset menu__title-button"></button>
      </div>
      <ul class="list-reset menu__list js-menu-list">
        <li class="menu__item tablet-none"><a href="#" class="menu__link">Новости</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="#" class="menu__link">Фото и видео</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="#" class="menu__link">Пресс-релизы</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="#" class="menu__link">Газета «Светогорский рабочий»</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="#" class="menu__link">Пресс-кит</a></li>
      </ul>
    </nav>
  </div>
</section>
