<section class="menu-section">
  <div class="head-container">
    <nav class="menu" title="">
      <div class="menu__title js-menu-button">
        <!-- выводится текущее название страницы -->
        <div class="menu__title-name">Устойчивое развитие</div>
        <button class="btn-reset menu__title-button"></button>
      </div>
      <ul class="list-reset menu__list js-menu-list">
        <li class="menu__item tablet-none"><a href="/development.html" class="menu__link">Устойчивое развитие</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="/forestry.html" class="menu__link">Устойчивое лесопользование</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="/protection.html" class="menu__link">Охрана окружающей среды</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="/safety.html" class="menu__link">Безопасность труда</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="/responsibility.html" class="menu__link">Cоциальная ответственность</a></li>
      </ul>
    </nav>
  </div>
</section>