<section class="menu-section menu-info">
  <div class="head-container">
    <nav class="menu" title="">
      <ul class="list-reset menu__list">
        <li class="menu__item"><a href="#" class="menu__link">Поставщикам</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="#" class="menu__link">Материалы и услуги</a></li>
        <div class="menu__separator"></div>
        <li class="menu__item"><a href="#" class="menu__link">Лесообеспечение</a></li>
      </ul>
    </nav>
  </div>
</section>
