<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal1">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content text">
      Сайт находится в стадии разработки. <br>Выбранный раздел временно не доступен
    </div>
  </div>

  <div class="graph-modal__container modal-container1" role="dialog" aria-modal="true" data-graph-target="modal2">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="form">
        <h5 class="form__title h5">Отклик на вакансию</h5>
        <div class="form__subtitle">
          Слесарь по ремонту и обслуживанию перегрузочных машин
        </div>
        <label class="form__label">
          <input type="text" name="Имя" class="input-reset form__input" placeholder="Ваше имя">
        </label>
        <label class="form__label">
          <input type="text" name="Имя" class="input-reset form__input" placeholder="Email">
        </label>
        <label class="form__label">
          <input type="text" name="Имя" class="input-reset form__input" placeholder="+7 (     )        -      -      ">
        </label>
        <div class="form__attach">
          <button class="btn-reset button-attach form__button-file">Приложить файлы</button>
          <div class="form__attach-info">Файлы не выбраны</div>
        </div>
        <label class="form__label">
          <textarea class="form__textarea" name="" id="" cols="" rows=""
            placeholder="Текст сопроводительного письма"></textarea>
        </label>
        <div class="form__descr">
          <div class="checkbox">
            <input class="custom-checkbox" type="checkbox" id="color-1" name="color-1" value="indigo" checked>
            <label for="color-1"></label>
          </div>
          <span>Я предоставляю своё согласие на обработку персональных данных на условиях, указанных в <a
              href="#">Политике
              обработки персональных данных</a></span>
        </div>
        <button class="btn-reset button-doc form__btn">Отправить</button>
      </div>
    </div>
  </div>
  <div class="graph-modal__container modal-container1" role="dialog" aria-modal="true" data-graph-target="modal3">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="form">
        <h5 class="form__title h5">Стать поставщиком по лесообеспечению</h5>
        <label class="form__label">
          <input type="text" name="Имя" class="input-reset form__input" placeholder="ИНН огранизации">
        </label>
        <label class="form__label">
          <input type="text" name="Имя" class="input-reset form__input" placeholder="ФИО контактного лица">
        </label>
        <label class="form__label">
          <input type="text" name="Имя" class="input-reset form__input" placeholder="Email">
        </label>
        <label class="form__label">
          <input type="text" name="Имя" class="input-reset form__input" placeholder="+7 (     )        -      -      ">
        </label>
        <div class="form__attach">
          <button class="btn-reset button-attach form__button-file">Приложить файлы</button>
          <div class="form__attach-info">Файлы не выбраны</div>
        </div>
        <label class="form__label">
          <textarea class="form__textarea" name="" id="" cols="" rows=""
            placeholder="Текст сопроводительного письма"></textarea>
        </label>
        <div class="form__descr">
          <div class="checkbox">
            <input class="custom-checkbox" type="checkbox" id="color-2" name="color-2" value="indigo" checked>
            <label for="color-2"></label>
          </div>
          <span>Я предоставляю своё согласие на обработку персональных данных на условиях, указанных в <a
              href="#">Политике
              обработки персональных данных</a></span>
        </div>
        <button class="btn-reset button-doc form__btn">Отправить</button>
      </div>
    </div>
  </div>
  <div class="graph-modal__container modal-container1" role="dialog" aria-modal="true" data-graph-target="modal4">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="form">
        <h5 class="form__title h5">Стать поставщиком материалов и услуг</h5>
        <label class="form__label">
          <input type="text" name="Имя" class="input-reset form__input" placeholder="ИНН огранизации">
        </label>
        <label class="form__label">
          <input type="text" name="Имя" class="input-reset form__input" placeholder="ФИО контактного лица">
        </label>
        <label class="form__label">
          <input type="text" name="Имя" class="input-reset form__input" placeholder="Email">
        </label>
        <label class="form__label">
          <input type="text" name="Имя" class="input-reset form__input" placeholder="+7 (     )        -      -      ">
        </label>
        <div class="form__attach">
          <button class="btn-reset button-attach form__button-file">Приложить файлы</button>
          <div class="form__attach-info">Файлы не выбраны</div>
        </div>
        <label class="form__label">
          <textarea class="form__textarea" name="" id="" cols="" rows=""
            placeholder="Текст сопроводительного письма"></textarea>
        </label>
        <div class="form__descr">
          <div class="checkbox">
            <input class="custom-checkbox" type="checkbox" id="color-3" name="color-3" value="indigo" checked>
            <label for="color-3"></label>
          </div>
          <span>Я предоставляю своё согласие на обработку персональных данных на условиях, указанных в <a
              href="#">Политике
              обработки персональных данных</a></span>
        </div>
        <button class="btn-reset button-doc form__btn">Отправить</button>
      </div>
    </div>
  </div>
  <div class="graph-modal__container modal-container2" role="dialog" aria-modal="true" data-graph-target="modal5">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content modal-content">
      <div class="modal-content__image">
        <img loading="lazy" src="img/jpg/image/image70.jpg" class="image" width="" height="" alt="">
      </div>
      <div class="modal-content__content content">
        <p>В компании разработана <a href="#">система должной добросовестности</a>, в которой указано,
          как мы контролируем происхождение
          древесины.</p>
        <p>Мы выезжаем к поставщикам, проводим аудиты, проверяем легальность заготовки, соответствие необходимым
          требованиям и правилам, соблюдение экологических требований, консультируемся с представителями местных
          сообществ.</p>
      </div>
    </div>
  </div>
  <div class="graph-modal__container modal-container2" role="dialog" aria-modal="true" data-graph-target="modal6">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content modal-content">
      <div class="modal-content__image">
        <img loading="lazy" src="img/jpg/image/image71.jpg" class="image" width="" height="" alt="">
      </div>
      <div class="modal-content__content content">
        <p>Для качественного лесовосстановления нужно сделать все возможное, чтобы высаженный сеянец превратился
          в здоровое
          молодое дерево.</p>
        <p>Поэтому мы тщательно ухаживаем за молодняком на протяжении всего цикла его роста, проводим выборочные рубки
          ухода — часть ослабленных деревьев, которые мешают расти другим деревьям, убираем. При этом образуется сырьё
          для ЦБК, и остаётся красивый ухоженный лес, в котором приятно отдыхать, собирать грибы и ягоды.</p>
      </div>
    </div>
  </div>
  <div class="graph-modal__container modal-container2" role="dialog" aria-modal="true" data-graph-target="modal7">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content modal-content">
      <div class="modal-content__image">
        <img loading="lazy" src="img/jpg/image/image72.jpg" class="image" width="" height="" alt="">
      </div>
      <div class="modal-content__content content">
        <p>Наша компания регулярно проводит уборку мусора на территории своих лесных аренд и ликвидирует незаконные
          свалки,
          образовавшиеся рядом с населёнными пунктами. Поэтому наши леса чистые и ухоженные, похожи на парки. И в них
          так приятно проводить время.</p>
        <p>А чтобы уберечь лес и его посетителей от пожаров, мы проводим регулярные патрулирования территории, создаём
          пожарные водоёмы и противопожарные (минеральные) полосы.</p>
      </div>
    </div>
  </div>
  <div class="graph-modal__container modal-container2" role="dialog" aria-modal="true" data-graph-target="modal8">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content modal-content">
      <div class="modal-content__slider">
        <div class="swiper swiper-style modal-content__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide modal-content__slide">
              <div class="modal-content__slide-image">
                <img loading="lazy" src="img/jpg/image/image72.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide modal-content__slide">
              <div class="modal-content__slide-image">
                <img loading="lazy" src="img/jpg/image/image72.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide modal-content__slide">
              <div class="modal-content__slide-image">
                <img loading="lazy" src="img/jpg/image/image72.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide modal-content__slide">
              <div class="modal-content__slide-image">
                <img loading="lazy" src="img/jpg/image/image72.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide modal-content__slide">
              <div class="modal-content__slide-image">
                <img loading="lazy" src="img/jpg/image/image73.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide modal-content__slide">
              <div class="modal-content__slide-image">
                <img loading="lazy" src="img/jpg/image/image72.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide modal-content__slide">
              <div class="modal-content__slide-image">
                <img loading="lazy" src="img/jpg/image/image74.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide modal-content__slide">
              <div class="modal-content__slide-image">
                <img loading="lazy" src="img/jpg/image/image75.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide modal-content__slide">
              <div class="modal-content__slide-image">
                <img loading="lazy" src="img/jpg/image/image72.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="swiper swiper-style modal-content__swiper-thumbs">
          <div class="swiper-wrapper">
            <div class="swiper-slide modal-content__slide">
              <div class="modal-content__slide-image">
                <img loading="lazy" src="img/jpg/image/image72.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide modal-content__slide">
              <div class="modal-content__slide-image">
                <img loading="lazy" src="img/jpg/image/image72.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide modal-content__slide">
              <div class="modal-content__slide-image">
                <img loading="lazy" src="img/jpg/image/image72.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide modal-content__slide">
              <div class="modal-content__slide-image">
                <img loading="lazy" src="img/jpg/image/image72.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide modal-content__slide">
              <div class="modal-content__slide-image">
                <img loading="lazy" src="img/jpg/image/image73.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide modal-content__slide">
              <div class="modal-content__slide-image">
                <img loading="lazy" src="img/jpg/image/image72.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide modal-content__slide">
              <div class="modal-content__slide-image">
                <img loading="lazy" src="img/jpg/image/image74.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide modal-content__slide">
              <div class="modal-content__slide-image">
                <img loading="lazy" src="img/jpg/image/image75.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide modal-content__slide">
              <div class="modal-content__slide-image">
                <img loading="lazy" src="img/jpg/image/image72.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-style__bottom">
            <div class="swiper-button-prev modal-content__swiper-button-prev"></div>
            <div class="swiper-pagination modal-content__swiper-pagination"></div>
            <div class="swiper-button-next modal-content__swiper-button-next"></div>
          </div>
        </div>
      </div>
      <div class="modal-content__content content">
        <p>Проявляя заботу о пернатых, ежегодно устанавливаем кормушки, скворечники и гнездовья для птиц. На территории
          наших лесных аренд можно увидеть таких редких птиц, как дупель или серый журавль, встретить не менее
          редкие растения — «настоящий башмачок Венеры» или «угловатый лук».</p>
      </div>
    </div>
  </div>
  <div class="graph-modal__container modal-container3" role="dialog" aria-modal="true" data-graph-target="modal9">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content modal-content">
      <div class="modal-content__content content">
        <p>Мы получили сертификат «Лесной эталон», который подтверждает, что при заготовке древесины не только
          соблюдается лесное законодательство, но и выполняются дополнительные экологические и социальные требования</p>
      </div>
      <div class="modal-content__cert">
        <div class="modal-content__cert-image">
          <img loading="lazy" src="img/png/certificates/cert1.png" class="image" width="" height="" alt="">
        </div>
        <div class="modal-content__cert-name">
          Сертификат «Лесной эталон»
        </div>
      </div>
    </div>
  </div>

</div>