<section class="preview breadcrumbs-inv htmm-preview">
  @include('../../templates/breadcrumbs.html')
  <div class="swiper preview__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="preview__item htmm-preview__item">
          <div class="preview__image htmm-preview__image">
            <picture>
              <source media="(max-width: 768px)" srcset="img/jpg/backgr/preview-bg-green-mobile.jpg">
              <source media="(max-width: 1366px)" srcset="img/jpg/backgr/htmm-bg-tablet.jpg">
              <img src="img/jpg/backgr/htmm-bg.jpg" alt="">
            </picture>
          </div>
          <div class="container">
            <div class="preview-image__content htmm-preview__content">
              <div class="htmm-preview__logo">
                <img loading="lazy" src="img/png/icons/svetoprint-logo.png" class="image" width="" height="" alt="">
              </div>
              <h1 class="preview-image__title htmm-preview__title h1">Химико-термомеханическая древесная масса SvetoPulp
              </h1>
              <div class="preview-image__text htmm-preview__text">
                <p>Химико-термомеханическая древесная масса (ХТММ) – целлюлоза высокого выхода, первичное волокно,
                  которое
                  производится методом размола древесной щепы в рафинерах (мельницах).</p>
              </div>
              <div class="preview-image__info htmm-preview__info">
                <a href="#" class="button-doc preview-image__link htmm-preview__link" download="" target="_blank">Где
                  купить</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-color htmm-info">
  <div class="container">
    <div class="htmm-info__block">
      <div class="htmm-info__block-image">
        <img loading="lazy" src="img/jpg/image/image44.jpg" class="image" width="" height="" alt="">
      </div>
      <div class="htmm-info__block-content content">
        <p><strong>ХТММ</strong> широко используется в мире в производстве различных видов бумаги и картона, позволяя
          снижать затраты и
          улучшать качественные характеристики конечного продукта.</p>
        <p><strong>ХТММ SvetoPulp</strong> производится на Светогорском ЦБК из чистой лиственной (осиновой) или хвойной
          (еловой)
          древесины с
          уровнем белизны от 50 до 85%.</p>
        <p>В зависимости от области применения, есть возможность выбрать оптимально подходящую под конкретные требования
          марку ХТММ.</p>
      </div>
    </div>
  </div>
</section>

<section class="htmm-use">
  <div class="container">
    <h2 class="htmm-use__title h2">Области применения</h2>
    <div class="swiper swiper-style htmm-use__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide htmm-use__slide">
          <div class="htmm-use__item">
            <div class="htmm-use__item-image">
              <img loading="lazy" src="img/png/image/img5.png" class="image" width="" height="" alt="">
            </div>
            <div class="htmm-use__item-content">
              <div class="htmm-use__item-name h6">Бумага</div>
              <div class="htmm-use__item-text">
                <p>Офисная и офсетная бумага, а также специальные виды бумаги, такие как фильтрованная и обойная</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide htmm-use__slide">
          <div class="htmm-use__item">
            <div class="htmm-use__item-image">
              <img loading="lazy" src="img/png/image/img6.png" class="image" width="" height="" alt="">
            </div>
            <div class="htmm-use__item-content">
              <div class="htmm-use__item-name h6">Картон</div>
              <div class="htmm-use__item-text">
                <p>Упаковочный (средние слои и верхний беленый слой) и облицовочный</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide htmm-use__slide">
          <div class="htmm-use__item">
            <div class="htmm-use__item-image">
              <img loading="lazy" src="img/png/image/img7.png" class="image" width="" height="" alt="">
            </div>
            <div class="htmm-use__item-content">
              <div class="htmm-use__item-name h6">Изделия санитарно-гигиенического назначения</div>
              <div class="htmm-use__item-text">
                <p>Салфетки и полотенца</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide htmm-use__slide">
          <div class="htmm-use__item">
            <div class="htmm-use__item-image">
              <img loading="lazy" src="img/png/image/img8.png" class="image" width="" height="" alt="">
            </div>
            <div class="htmm-use__item-content">
              <div class="htmm-use__item-name h6">Прочие продукты</div>
              <div class="htmm-use__item-text">
                <p>С использованием целлюлозы (фиброцемент, асфальто-бетонные смеси, ламинат) и без использования
                  целлюлозы (звуко и тепло изоляционные материалы, МДФ)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-style__bottom">
        <div class="swiper-button-prev htmm-use__swiper-button-prev"></div>
        <div class="swiper-pagination htmm-use__swiper-pagination"></div>
        <div class="swiper-button-next htmm-use__swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>

<section class="section-color backgr-circle htmm-circle">
  <div class="container">
    <div class="htmm-advan">
      <h2 class="htmm-advan__title h2">Преимущества ХТММ SvetoPulp</h2>
      <div class="htmm-advan__items">
        <div class="htmm-advan__item">
          <div class="htmm-advan__item-image">
            <div class="htmm-advan__item-image-inner">
              <img loading="lazy" src="img/svg/icons/icon-advan.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="htmm-advan__item-name h6">Экономика</div>
          <div class="htmm-advan__item-text content">
            <ul>
              <li>Снижение затрат на волокно до 15%</li>
              <li>Снижение производственных издержек — энергозатрат на размол</li>
              <li>Увеличение производительности (лучшее обезвоживание)</li>
            </ul>
          </div>
        </div>
        <div class="htmm-advan__item">
          <div class="htmm-advan__item-image">
            <div class="htmm-advan__item-image-inner">
              <img loading="lazy" src="img/svg/icons/icon-advan.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="htmm-advan__item-name h6">Качество</div>
          <div class="htmm-advan__item-text content">
            <ul>
              <li>Высокий уровень удельного объёма (пухлости) и жёсткости</li>
              <li>Улучшение формования и непрозрачности</li>
              <li>Улучшение абсорбции и впитываемости</li>
            </ul>
          </div>
        </div>
        <div class="htmm-advan__item">
          <div class="htmm-advan__item-image">
            <div class="htmm-advan__item-image-inner">
              <img loading="lazy" src="img/svg/icons/icon-advan.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="htmm-advan__item-name h6">Экология</div>
          <div class="htmm-advan__item-text content">
            <ul>
              <li>Высокий выход продукции из древесины (85–90%)</li>
              <li>Отбелка без использования хлора и его соединений</li>
              <li>Сертификация по пищевой безопасности (ISEGA)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="block-documents">
      <h3 class="block-documents__title h3">Документация</h3>
      <div class="block-documents__items">
        <div class="doc block-documents__item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">Название документа может быть достаточно длинным,
              в несолько строк</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc block-documents__item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">СЕРТИФИКАТ СООТВЕТСТВИЯ СТАНДАРТУ ISO
              37301-2021</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc block-documents__item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">СЕРТИФИКАТ СООТВЕТСТВИЯ СТАНДАРТУ ISO 9001-2015
              RU</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc block-documents__item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">MANAGEMENT SYSTEM SERTIFICATE ISO 9001-2015
              ENG</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc block-documents__item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">Название документа может быть достаточно длинным,
              в несолько строк</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-color htmm-three">
  <div class="container">
    <div class="htmm-partners">
      <h2 class="htmm-partners__title h2">Наши партнеры</h2>
      <div class="swiper swiper-style offset-partners__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide offset-partners__slide">
            <div class="offset-partners__image">
              <img loading="lazy" src="img/png/partners/partner1.png" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="swiper-slide offset-partners__slide">
            <div class="offset-partners__image">
              <img loading="lazy" src="img/png/partners/partner2.png" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="swiper-slide offset-partners__slide">
            <div class="offset-partners__image">
              <img loading="lazy" src="img/png/partners/partner3.png" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="swiper-slide offset-partners__slide">
            <div class="offset-partners__image">
              <img loading="lazy" src="img/png/partners/partner4.png" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="swiper-slide offset-partners__slide">
            <div class="offset-partners__image">
              <img loading="lazy" src="img/png/partners/partner5.png" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="swiper-slide offset-partners__slide">
            <div class="offset-partners__image">
              <img loading="lazy" src="img/png/partners/partner5.png" class="image" width="" height="" alt="">
            </div>
          </div>
        </div>
        <div class="swiper-style__bottom">
          <div class="swiper-button-prev offset-partners__swiper-button-prev"></div>
          <div class="swiper-pagination offset-partners__swiper-pagination"></div>
          <div class="swiper-button-next offset-partners__swiper-button-next"></div>
        </div>
      </div>
    </div>
    <div class="offset-buy htmm-buy">
      <h3 class="offset-buy__title h3">Где купить</h3>
      <div class="offset-buy__items">
        <div class="offset-buy__item">
          <div class="offset-buy__item-name">Россия и СНГ</div>
          <div class="social-link user">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/user-light.svg" class="image" width="" height="" alt="">
            </div>
            <span>Марина Варламова</span>
          </div>
          <div class="social-link mail">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/mail-light.svg" class="image" width="" height="" alt="">
            </div>
            <a href="mailto:Marina.Varlamova@svetopaper.com ">Marina.Varlamova@svetopaper.com </a>
          </div>
        </div>
        <div class="offset-buy__item">
          <div class="offset-buy__item-name">Международные продажи</div>
          <div class="social-link user">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/user-light.svg" class="image" width="" height="" alt="">
            </div>
            <span>Александр Крамар</span>
          </div>
          <div class="social-link mail">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/mail-light.svg" class="image" width="" height="" alt="">
            </div>
            <a href="mailto:Alexander.Kramar@svetopaper.com ">Alexander.Kramar@svetopaper.com </a>
          </div>
        </div>
        <div class="offset-buy__item">
          <div class="offset-buy__item-name">Технические вопросы</div>
          <div class="social-link mail">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/mail-light.svg" class="image" width="" height="" alt="">
            </div>
            <a href="mailto:Nikita.Yadrennikov@svetopaper.com">Nikita.Yadrennikov@svetopaper.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>