<section class="caring-people" style=" background-image: url(img/jpg/backgr/responsibility-backgr.jpg);">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <h1 class="caring-people__title h1">Забота о людях</h1>
    <div class="caring-people__items">
      <div class="caring-people__block">
        <div class="caring-people__block-content">
          <h4 class="caring-people__block-name h4">Безопасная и комфортная среда</h4>
          <div class="caring-people__block-text">
            <p>За многолетнюю историю Светогорского ЦБК мы накопили уникальные знания и экспертизу в обеспечении
              безопасных
              и комфортных условий труда. Безопасность всегда была, есть и будет нашим ключевым приоритетом. Мы
              заботимся
              обо всех без исключения – сотрудниках, партнерах, клиентах и посетителях, чтобы все возвращались домой
              целыми и невредимыми.</p>
            <p>Мы верим, что успех компании определяют ее сотрудники, поэтому в числе наших приоритетных направлений –
              поддержание вовлеченной и инклюзивной среды. Мы рады создавать атмосферу, в которой каждый может раскрыть
              и
              реализовать свою индивидуальность и творческий потенциал для достижения наилучшего результата. Мы
              реализуем
              широкий спектр обучающих программ по разным направлениям, которые позволяют нашим сотрудникам приобретать
              необходимые знания, навыки и компетенции и совершенствоваться.</p>
            <p>Мы поощряем и развиваем культуру доверия, открытости и ответственности, соблюдая высокие этические
              стандарты. Этика лежит в основе работы компании и мы создаем для наших сотрудников условия работы, которые
              соответствуют современным стандартам и требованиям законодательства</p>
          </div>
        </div>
        <div class="caring-people__block-image">
          <img loading="lazy" src="img/jpg/image/image28.jpg" class="image" width="" height="" alt="">
        </div>
      </div>
      <div class="caring-people__block">
        <div class="caring-people__block-content">
          <h4 class="caring-people__block-name h4">Поддержка сотрудников</h4>
          <div class="caring-people__block-text">
            <p>Наша концепция в области обеспечения благополучия сотрудников включает в себя все аспекты, необходимые
              для
              поддержания командного духа и вовлеченности в рабочие процессы. Мы создаем атмосферу, которая позволяет
              каждому максимально раскрывать свой потенциал и способствует его реализации.</p>
            <p>Данная концепция состоит из поддержки психологического и физического здоровья, финансовой и юридической
              грамотности, социальной и профессиональной реализации.</p>
            <p>В компании действует программа помощи сотрудникам ZIGMUND.ONLINE: наши сотрудники и члены их семей могут
              получить бесплатные консультации по психологическим, финансовым и юридическим вопросам. Также сотрудникам
              доступны программы добровольного медицинского страхования и страхования от несчастных случаев,
              беспроцентные
              финансовые займы и многое другое.</p>
            <p>А еще у нас насыщенная корпоративная жизнь, в которой каждый может найти для себя занятие по интересам
            </p>
          </div>
        </div>
        <div class="caring-people__block-image">
          <img loading="lazy" src="img/jpg/image/image29.jpg" class="image" width="" height="" alt="">
        </div>
      </div>
    </div>
  </div>
</section>