<section class="caring-people" style=" background-image: url(img/jpg/backgr/responsibility-backgr.jpg);">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <div class="caring-people__content">
      <h1 class="caring-people__title h1">Забота о людях</h1>
    </div>
    <div class="caring-people__items">
      <div class="caring-people__block">
        <div class="caring-people__block-content">
          <h4 class="caring-people__block-name h4">Развитие сотрудников</h4>
          <div class="caring-people__block-text">
            <p>За многолетнюю историю существования Светогорского ЦБК, нами были накоплены уникальные знания
              и экспертиза
              как в организации производства, так и в области управления персоналом</p>
            <p>Мы верим, что успех компании определяют её сотрудники, поэтому забота и заинтересованность в развитии
              людей — всегда в фокусе нашего внимания.</p>
            <p>Мы поощряем предпринимательский дух и умение брать на себя ответственность, открытость в решении вопросов
              и стремление к максимальному раскрытию своего потенциала.</p>
            <p> В компании разработана система управления эффективностью и развитием. Это один из ключевых процессов
              в области управления персоналом, который создаёт взаимосвязь между приоритетами организации, вкладом
              каждого
              сотрудника в общий результат и тем, каким образом этот результат достигается.</p>
          </div>
        </div>
        <div class="caring-people__block-image">
          <img loading="lazy" src="img/jpg/image/image28.jpg" class="image" width="" height="" alt="">
        </div>
      </div>
      <div class="caring-people__block">
        <div class="caring-people__block-content">
          <h4 class="caring-people__block-name h4">Поддержка сотрудников</h4>
          <div class="caring-people__block-text">
            <p>Наша концепция в области благополучия сотрудников включает в себя все аспекты, необходимые
              для поддержания
              командного духа и вовлеченности в рабочие процессы. Мы создаём атмосферу, которая позволяет каждому
              раскрывать свой потенциал и будет способствовать его реализации.</p>
            <p>Данная концепция состоит из поддержки психологического и физического здоровья, финансовой стабильности,
              социальной и профессиональной реализации.</p>
            <p>Мы реализуем программу помощи сотрудникам «МояПоддержка»: наши сотрудники и члены их семей могут получить
              бесплатные консультации по психологическим, финансовым и юридическим вопросам. Также нашим сотрудникам
              доступны программа добровольного медицинского страхования и страхования от несчастных случаев,
              беспроцентные
              финансовые займы и прочее.</p>
            <p>А ещё у нас насыщенная корпоративная жизнь, в которой каждый может найти для себя занятие по интересам!
            </p>
          </div>
        </div>
        <div class="caring-people__block-image">
          <img loading="lazy" src="img/jpg/image/image29.jpg" class="image" width="" height="" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
