<section class="preview breadcrumbs-inv paper-preview">
  @include('../../templates/breadcrumbs.html')
  <div class="swiper preview__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="preview__item paper-preview__item">
          <div class="preview__image paper-preview__image">
            <picture>
              <source media="(max-width: 768px)" srcset="img/jpg/backgr/preview-bg-green-mobile.jpg">
              <source media="(max-width: 1366px)" srcset="img/jpg/backgr/paper-bg-tablet.jpg">
              <img src="img/jpg/backgr/paper-bg.jpg" alt="">
            </picture>
          </div>
          <div class="container">
            <div class="preview-image__content paper-preview__content">
              <h1 class="preview-image__title paper-preview__title h1">Офисная бумага</h1>
              <div class="preview-image__text paper-preview__text">
                <p>Качественная бумага ответственного производителя</p>
              </div>
              <!-- <div class="preview-image__info paper-preview__info">
                <button class="btn-reset button-video paper-preview__video">
                  <div class="button-video__icon"></div>
                  <div class="button-video__name">Смотреть видеоинтервью</div>
                </button>
                <a href="#" class="button-doc preview-image__link paper-preview__link" download="" target="_blank">Где
                  купить бумагу?</a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-color paper-brand">
  <div class="container">
    <div class="paper-brand__items">
      <a href="#" class="paper-brand__item">
        <div class="paper-brand__item-image">
          <img loading="lazy" src="img/png/paper/img1.png" class="image" width="" height="" alt="">
        </div>
        <div class="paper-brand__item-descr">
          <p><strong>SvetoCopy</strong> – бренд № 1 в категории «Бумага для офиса»*</p>
          <div class="icon_info">
            <img loading="lazy" src="img/svg/tooltip_info.svg" class="image" width="" height="" alt="">
            <div class="icon_info__tooltip">Источник: по знанию и потреблению согласно данным исследования
              компании
              Ипсос Комкон в городах Москва, Санкт-Петербург, Воронеж, Ростов-на-Дону, Самара, Екатеринбург,
              Челябинск,
              Нижний Новгород, Казань в период апрель–июнь 2023 год</div>
          </div>
        </div>
      </a>
      <a href="#" class="paper-brand__item">
        <div class="paper-brand__item-image">
          <img loading="lazy" src="img/png/paper/img2.png" class="image" width="" height="" alt="">
        </div>
        <div class="paper-brand__item-descr">
          <p><strong>Ballet</strong> – первая бумага российского производства в сегменте «премиум»</p>
        </div>
      </a>
    </div>
  </div>
</section>

<section class="paper-sveto">
  <div class="container">
    <h2 class="paper-sveto__title h2">Офиcная бумага SvetoCopy</h2>
    <div class="values__items values-paper">
      <div class="values__item">
        <div class="values__item-icon shake">
          <div class="values__item-icon-inner shake_inner">
            <img loading="lazy" src="img/svg/icons/icon25.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="values__item-info">
          <p>Проверена временем <strong>на рынке с 1996 года</strong></p>
        </div>
      </div>
      <div class="values__item">
        <div class="values__item-icon shake">
          <div class="values__item-icon-inner shake_inner">
            <img loading="lazy" src="img/svg/icons/icon26.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="values__item-info">
          <p><strong>Первая</strong> офисная бумага, которую начали производить в <strong>России</strong></p>
        </div>
      </div>
      <div class="values__item">
        <div class="values__item-icon shake">
          <div class="values__item-icon-inner shake_inner">
            <img loading="lazy" src="img/svg/icons/icon27.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="values__item-info">
          <p>Лауреат <strong>конкурса «Сделано в России»</strong> 2019 года и премии <strong>«Всероссийская марка
              XXI»</strong> в 2021 г.</p>
        </div>
      </div>
      <div class="values__item">
        <div class="values__item-icon shake">
          <div class="values__item-icon-inner shake_inner">
            <img loading="lazy" src="img/svg/icons/icon28.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="values__item-info">
          <p><strong>Универсальна:</strong> предназначена для принтеров и копировальных аппаратов</p>
        </div>
      </div>
      <div class="values__item">
        <div class="values__item-icon shake">
          <div class="values__item-icon-inner shake_inner">
            <img loading="lazy" src="img/svg/icons/icon29.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="values__item-info">
          <p>Отмечена знаком качества <strong>100 лучших товаров</strong> в 2015, 2017, 2020 и 2022 годах</p>
        </div>
      </div>
      <div class="values__item">
        <div class="values__item-icon shake">
          <div class="values__item-icon-inner shake_inner">
            <img loading="lazy" src="img/svg/icons/icon30.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="values__item-info">
          <p>За более чем <strong>25-летнюю историю</strong> география продаж насчитывает около <strong>40
              стран</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-color paper-line">
  <div class="container">
    <h2 class="paper-line__title h2">Линейка продукции</h2>
    <div class="paper-line__items">
      <div class="paper-line__item">
        <div class="paper-line__item-image">
          <img loading="lazy" src="img/png/paper/img3.png" class="image" width="" height="" alt="">
        </div>
        <div class="paper-line__item-button js-paper-line-button">SVETOCOPY ECO</div>
        <div class="paper-line__item-content js-paper-line-content">
          <div class="paper-line__item-head">
            <div class="paper-line__item-name">
              SVETOCOPY ECO
            </div>
            <div class="paper-line__item-text content">
              <ul>
                <li>Выпускается с 2022 года</li>
                <li>универсальная офисная бумага из полубеленой целлюлозы марки «Сэ»</li>
                <li>производится без хлора, с меньшим количеством отбеливающих веществ</li>
                <li>сертифицирована по системе «Лесной Эталон»</li>
                <li>цвет — бежевый</li>
                <li>предназначена для работы в принтерах и копировальных аппаратах</li>
                <li>соответствует ГОСТ Р 57641–2017</li>
              </ul>
            </div>
          </div>
          <div class="paper-line__item-body">
            <ul class="paper-line__item-list">
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">Граммаж, г/м2</div>
                <div class="paper-line__item-list--value">80±3</div>
              </li>
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">CIE Белизна, %</div>
                <div class="paper-line__item-list--value">60 +5/-3</div>
              </li>
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">Толщина, µm</div>
                <div class="paper-line__item-list--value">104±2</div>
              </li>
            </ul>
            <a href="#" class="link-download paper-line__item-specif" download="" target="_blank">
              <div class="link-download__icon">
                <img loading="lazy" src="img/svg/icons/doc.svg" class="image" width="" height="" alt="">
              </div>
              <div class="link-download__name">Скачать спецификацию</div>
            </a>
            <div class="paper-line__item-line"></div>
            <button class="btn-reset button-video paper-line__item-video">
              <div class="button-video__icon">
                <img loading="lazy" src="img/svg/video/play.svg" class="image" width="" height="" alt="">
              </div>
              <div class="button-video__name">Смотреть видеоролик</div>
            </button>
          </div>
        </div>
      </div>
      <div class="paper-line__item">
        <div class="paper-line__item-image">
          <img loading="lazy" src="img/png/paper/img4.png" class="image" width="" height="" alt="">
        </div>
        <div class="paper-line__item-button js-paper-line-button">SVETOCOPY CLASSIC</div>
        <div class="paper-line__item-content js-paper-line-content">
          <div class="paper-line__item-head">
            <div class="paper-line__item-name">
              SVETOCOPY CLASSIC
            </div>
            <div class="paper-line__item-text content">
              <ul>
                <li>Выпускается с 1996 года</li>
                <li>бренд № 1 в категории «Бумага для офиса»*</li>
                <li>надёжная и проверенная временем офисная бумага марки «C»</li>
                <li>предназначена для работы в принтерах и копировальных аппаратах</li>
                <li>соответствует ГОСТ Р 57641–2017</li>
              </ul>
            </div>
          </div>
          <div class="paper-line__item-body">
            <ul class="paper-line__item-list">
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">Граммаж, г/м2</div>
                <div class="paper-line__item-list--value">80±3</div>
              </li>
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">CIE Белизна, %</div>
                <div class="paper-line__item-list--value">146±3</div>
              </li>
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">Толщина, µm</div>
                <div class="paper-line__item-list--value">104±2</div>
              </li>
            </ul>
            <a href="#" class="link-download paper-line__item-specif" download="" target="_blank">
              <div class="link-download__icon">
                <img loading="lazy" src="img/svg/icons/doc.svg" class="image" width="" height="" alt="">
              </div>
              <div class="link-download__name">Скачать спецификацию</div>
            </a>
            <div class="paper-line__item-line"></div>
            <button class="btn-reset button-video paper-line__item-video">
              <div class="button-video__icon">
                <img loading="lazy" src="img/svg/video/play.svg" class="image" width="" height="" alt="">
              </div>
              <div class="button-video__name">Смотреть видеоролик</div>
            </button>
          </div>
        </div>
      </div>
      <div class="paper-line__item">
        <div class="paper-line__item-image">
          <img loading="lazy" src="img/png/paper/img5.png" class="image" width="" height="" alt="">
        </div>
        <div class="paper-line__item-button js-paper-line-button">SVETOCOPY PREMIUM</div>
        <div class="paper-line__item-content js-paper-line-content">
          <div class="paper-line__item-head">
            <div class="paper-line__item-name">
              SVETOCOPY PREMIUM
            </div>
            <div class="paper-line__item-text content">
              <ul>
                <li>Выпускается с 2019 года</li>
                <li>премиальная белая бумага марки «В» в абсолютно чёрной пачке</li>
                <li>предназначена для работы в принтерах и копировальных аппаратах </li>
                <li>обеспечивает высокое качество отпечатков, которое поможет поддержать имидж и престиж вашего бизнеса
                </li>
                <li>соответствует ГОСТ Р 57641-2017</li>
              </ul>
            </div>
          </div>
          <div class="paper-line__item-body">
            <ul class="paper-line__item-list">
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">Граммаж, г/м2</div>
                <div class="paper-line__item-list--value">80±2</div>
              </li>
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">CIE Белизна, %</div>
                <div class="paper-line__item-list--value">160±3</div>
              </li>
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">Толщина, µm</div>
                <div class="paper-line__item-list--value">106±3</div>
              </li>
            </ul>
            <a href="#" class="link-download paper-line__item-specif" download="" target="_blank">
              <div class="link-download__icon">
                <img loading="lazy" src="img/svg/icons/doc.svg" class="image" width="" height="" alt="">
              </div>
              <div class="link-download__name">Скачать спецификацию</div>
            </a>
            <div class="paper-line__item-line"></div>
            <button class="btn-reset button-video paper-line__item-video">
              <div class="button-video__icon">
                <img loading="lazy" src="img/svg/video/play.svg" class="image" width="" height="" alt="">
              </div>
              <div class="button-video__name">Смотреть видеоролик</div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="paper-line__doc">
      <div class="paper-line__doc-name h3">Документация</div>
      <div class="paper-line__doc-items">
        <div class="doc paper-line__doc-item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">Название документа может быть достаточно длинным,
              в несолько строк</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc paper-line__doc-item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">СЕРТИФИКАТ СООТВЕТСТВИЯ СТАНДАРТУ ISO
              37301-2021</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc paper-line__doc-item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">СЕРТИФИКАТ СООТВЕТСТВИЯ СТАНДАРТУ ISO 9001-2015
              RU</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc paper-line__doc-item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">MANAGEMENT SYSTEM SERTIFICATE ISO 9001-2015
              ENG</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc paper-line__doc-item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">Название документа может быть достаточно длинным,
              в несолько строк</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="paper-line__more">
      <a href="https://svetocopy.com/" class="button-doc preview-image__link paper-line__link" target="_blank">Узнать
        больше на
        сайте svetocopy.com</a>
    </div>
  </div>
</section>

<section class="paper-ballet">
  <div class="container">
    <h2 class="paper-ballet__title h2">Офисная бумага Ballet</h2>
    <div class="values__items values-paper">
      <div class="values__item">
        <div class="values__item-icon shake">
          <div class="values__item-icon-inner shake_inner">
            <img loading="lazy" src="img/svg/icons/icon8.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="values__item-info">
          <p>Выпускается <strong>с 1999 года</strong></p>
        </div>
      </div>
      <div class="values__item">
        <div class="values__item-icon shake">
          <div class="values__item-icon-inner shake_inner">
            <img loading="lazy" src="img/svg/icons/icon9.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="values__item-info">
          <p>Полная линейка 4х сортов офисной бумаги <strong>для решения всех задач</strong></p>
        </div>
      </div>
      <div class="values__item">
        <div class="values__item-icon shake">
          <div class="values__item-icon-inner shake_inner">
            <img loading="lazy" src="img/svg/icons/icon10.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="values__item-info">
          <p>Многолетнее <strong>архивирование</strong></p>
          <!-- <div class="icon_info">
            <img loading="lazy" src="img/svg/tooltip_info.svg" class="image" width="" height="" alt="">
            <div class="icon_info__tooltip">Источник: по знанию и потреблению согласно данным исследования
              компании
              Ипсос Комкон в городах Москва, Санкт-Петербург, Воронеж, Ростов-на-Дону, Самара, Екатеринбург,
              Челябинск,
              Нижний Новгород, Казань в период апрель–июнь 2023 год</div>
          </div> -->
        </div>
      </div>
      <div class="values__item">
        <div class="values__item-icon shake">
          <div class="values__item-icon-inner shake_inner">
            <img loading="lazy" src="img/svg/icons/icon11.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="values__item-info">
          <p><strong>Долговечная</strong> работа офисной техники</p>
        </div>
      </div>
      <div class="values__item">
        <div class="values__item-icon shake">
          <div class="values__item-icon-inner shake_inner">
            <img loading="lazy" src="img/svg/icons/icon12.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="values__item-info">
          <p><strong>Превосходные результаты</strong> с чёткой, яркой и точной передачей изображения</p>
        </div>
      </div>
      <div class="values__item">
        <div class="values__item-icon shake">
          <div class="values__item-icon-inner shake_inner">
            <img loading="lazy" src="img/svg/icons/icon13.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="values__item-info">
          <p>Печать <strong>без замятий и застреваний</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-color paper-line">
  <div class="container">
    <h2 class="paper-line__title h2">Линейка продукции</h2>
    <div class="paper-line__items --column-four">
      <div class="paper-line__item">
        <div class="paper-line__item-image">
          <img loading="lazy" src="img/png/paper/img6.png" class="image" width="" height="" alt="">
        </div>
        <div class="paper-line__item-button js-paper-line-button">BALLET UNIVERSAL</div>
        <div class="paper-line__item-content js-paper-line-content">
          <div class="paper-line__item-head">
            <div class="paper-line__item-name">
              BALLET UNIVERSAL
            </div>
            <div class="paper-line__item-text content">
              <p>БУМАГА НА КАЖДЫЙ ДЕНЬ</p>
              <ul>
                <li>Универсальная бумага марки «С» для современного офиса</li>
                <li>Соответствует ГОСТ Р 57641-2017</li>
              </ul>
            </div>
          </div>
          <div class="paper-line__item-body">
            <ul class="paper-line__item-list">
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">Граммаж, г/м2</div>
                <div class="paper-line__item-list--value">80±3</div>
              </li>
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">CIE Белизна, %</div>
                <div class="paper-line__item-list--value">146±3</div>
              </li>
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">Толщина, µm</div>
                <div class="paper-line__item-list--value">104±2</div>
              </li>
            </ul>
            <a href="#" class="link-download paper-line__item-specif" download="" target="_blank">
              <div class="link-download__icon">
                <img loading="lazy" src="img/svg/icons/doc.svg" class="image" width="" height="" alt="">
              </div>
              <div class="link-download__name">Скачать спецификацию</div>
            </a>
            <div class="paper-line__item-line"></div>
            <button class="btn-reset button-video paper-line__item-video">
              <div class="button-video__icon">
                <img loading="lazy" src="img/svg/video/play.svg" class="image" width="" height="" alt="">
              </div>
              <div class="button-video__name">
                Смотреть видео
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="paper-line__item">
        <div class="paper-line__item-image">
          <img loading="lazy" src="img/png/paper/img7.png" class="image" width="" height="" alt="">
        </div>
        <div class="paper-line__item-button js-paper-line-button">BALLET CLASSIC</div>
        <div class="paper-line__item-content js-paper-line-content">
          <div class="paper-line__item-head">
            <div class="paper-line__item-name">
              BALLET CLASSIC
            </div>
            <div class="paper-line__item-text content">
              <p>ДВУСТОРОННЯЯ ПЕЧАТЬ</p>
              <ul>
                <li>Многофункциональная бумага марки «B»</li>
                <li>Оптимальная гладкость, непрозрачность и отличные плотностные характеристики для превосходного
                  качества печати с обеих сторон</li>
                <li>Соответствует ГОСТ Р 57641–2017</li>
              </ul>
            </div>
          </div>
          <div class="paper-line__item-body">
            <ul class="paper-line__item-list">
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">Граммаж, г/м2</div>
                <div class="paper-line__item-list--value">80±1,5</div>
              </li>
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">CIE Белизна, %</div>
                <div class="paper-line__item-list--value">153±3</div>
              </li>
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">Толщина, µm</div>
                <div class="paper-line__item-list--value">104±2</div>
              </li>
            </ul>
            <a href="#" class="link-download paper-line__item-specif" download="" target="_blank">
              <div class="link-download__icon">
                <img loading="lazy" src="img/svg/icons/doc.svg" class="image" width="" height="" alt="">
              </div>
              <div class="link-download__name">Скачать спецификацию</div>
            </a>
            <div class="paper-line__item-line"></div>
            <button class="btn-reset button-video paper-line__item-video">
              <div class="button-video__icon">
                <img loading="lazy" src="img/svg/video/play.svg" class="image" width="" height="" alt="">
              </div>
              <div class="button-video__name">
                Смотреть видео
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="paper-line__item">
        <div class="paper-line__item-image">
          <img loading="lazy" src="img/png/paper/img8.png" class="image" width="" height="" alt="">
        </div>
        <div class="paper-line__item-button js-paper-line-button">BALLET PREMIER</div>
        <div class="paper-line__item-content js-paper-line-content">
          <div class="paper-line__item-head">
            <div class="paper-line__item-name">BALLET PREMIER</div>
            <div class="paper-line__item-text content">
              <p>ЯРКИЕ КРАСКИ</p>
              <ul>
                <li>Бумага премиального качества марки «А» Идеально подходит для цветной печати презентаций и других
                  престижных документов</li>
                <li>Соответствует ГОСТ Р 57641–2017</li>
              </ul>
            </div>
          </div>
          <div class="paper-line__item-body">
            <ul class="paper-line__item-list">
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">Граммаж, г/м2</div>
                <div class="paper-line__item-list--value">80±2</div>
              </li>
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">CIE Белизна, %</div>
                <div class="paper-line__item-list--value">160±3</div>
              </li>
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">Толщина, µm</div>
                <div class="paper-line__item-list--value">106±3</div>
              </li>
            </ul>
            <a href="#" class="link-download paper-line__item-specif" download="" target="_blank">
              <div class="link-download__icon">
                <img loading="lazy" src="img/svg/icons/doc.svg" class="image" width="" height="" alt="">
              </div>
              <div class="link-download__name">Скачать спецификацию</div>
            </a>
            <div class="paper-line__item-line"></div>
            <button class="btn-reset button-video paper-line__item-video">
              <div class="button-video__icon">
                <img loading="lazy" src="img/svg/video/play.svg" class="image" width="" height="" alt="">
              </div>
              <div class="button-video__name">
                Смотреть видео
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="paper-line__item">
        <div class="paper-line__item-image">
          <img loading="lazy" src="img/png/paper/img9.png" class="image" width="" height="" alt="">
        </div>
        <div class="paper-line__item-button js-paper-line-button">BALLET BRILLIANT</div>
        <div class="paper-line__item-content js-paper-line-content">
          <div class="paper-line__item-head">
            <div class="paper-line__item-name">BALLET BRILLIANT</div>
            <div class="paper-line__item-text content">
              <p>БЛЕСТЯЩИЕ РЕЗУЛЬТАТЫ</p>
              <ul>
                <li>Бумага марки «А+» для решения самых важных задач</li>
                <li>Новая грань качества: лучшие показатели белизны, жёсткости и плотности в линейке Ballet</li>
                <li>Соответствует ГОСТ Р 57641–2017</li>
              </ul>
            </div>
          </div>
          <div class="paper-line__item-body">
            <ul class="paper-line__item-list">
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">Граммаж, г/м2</div>
                <div class="paper-line__item-list--value">82±2</div>
              </li>
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">CIE Белизна, %</div>
                <div class="paper-line__item-list--value">165±3</div>
              </li>
              <li class="paper-line__item-list--li">
                <div class="paper-line__item-list--label">Толщина, µm</div>
                <div class="paper-line__item-list--value">110±3</div>
              </li>
            </ul>
            <a href="#" class="link-download paper-line__item-specif" download="" target="_blank">
              <div class="link-download__icon">
                <img loading="lazy" src="img/svg/icons/doc.svg" class="image" width="" height="" alt="">
              </div>
              <div class="link-download__name">Скачать спецификацию</div>
            </a>
            <div class="paper-line__item-line"></div>
            <button class="btn-reset button-video paper-line__item-video">
              <div class="button-video__icon">
                <img loading="lazy" src="img/svg/video/play.svg" class="image" width="" height="" alt="">
              </div>
              <div class="button-video__name">
                Смотреть видео
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="paper-line__doc">
      <div class="paper-line__doc-name h3">Документация</div>
      <div class="paper-line__doc-items">
        <div class="doc paper-line__doc-item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">Название документа может быть достаточно длинным,
              в несолько строк</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc paper-line__doc-item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">СЕРТИФИКАТ СООТВЕТСТВИЯ СТАНДАРТУ ISO
              37301-2021</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc paper-line__doc-item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">СЕРТИФИКАТ СООТВЕТСТВИЯ СТАНДАРТУ ISO 9001-2015
              RU</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc paper-line__doc-item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">MANAGEMENT SYSTEM SERTIFICATE ISO 9001-2015
              ENG</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc paper-line__doc-item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">Название документа может быть достаточно длинным,
              в несолько строк</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="paper-line__more">
      <a href="https://ballet-paper.com/" class="button-doc preview-image__link paper-line__link" target="_blank">Узнать
        больше на
        сайте ballet-paper.com</a>
    </div>
    <div class="paper-line__buy">
      <div class="paper-line__buy-name h3">
        Где купить офисную бумагу
      </div>
      <a href="https://svetopaper-map.ru/" class="button-doc preview-image__link paper-line__buy-link" target="_blank">Перейти на сайт</a>
    </div>
  </div>
</section>