<section class="policy">
  @include('../../templates/breadcrumbs.html')
  <div class="container policy__container">
    <h1 class="policy__title h1">Положение об обработке персональных данных</h1>
    <div class="policy__text">
      <p>Добро пожаловать на страницу сайта http://sveto-paper.com/, посвященную обработке персональных данных. Этот
        сайт принадлежит компании НПАО «Светогорский ЦБК». Мы серьёзно относимся к вопросам конфиденциальности и
        настоящей Политикой обработки персональных данных предлагаем вам ознакомиться с тем, как мы обрабатываем и
        защищаем персональные данные Пользователей</p>
      <p>Пожалуйста, обратите внимание, что Политика применяется только к Сайту. Функционирование Сайта и наша
        деятельность постоянно меняются. В результате этого время от времени возникает необходимость вносить изменения в
        настоящую Политику. Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу
        <a href="http://sveto-paper.com/policy.html" target="_blank">http://sveto-paper.com/policy.html</a>
      </p>
      <h6>1. Термины</h6>
      <p>Вы, Пользователь – физическое лицо, которое посещает Сайт или персональные данные которого размещены на Сайте.
        Указанный термин объединяет следующие категории субъектов персональных данных: соискатели, исполнители по
        договорам гражданско-правового характера, контрагенты (ИП), представители контрагентов, отправители обращений,
        посетители Сайта, работники СЦБК. Если в Политике отсутствует указание на конкретную категорию субъектов
        персональных данных, то соответствующее положение применяется ко всем категориям субъектов</p>
      <p>Закон о персональных данных – Федеральный закон РФ № 152-ФЗ от 27 июля 2006 года «О персональных данных»</p>
      <p>Мы, СЦБК – НПАО «Светогорский ЦБК», ОГРН 1024700880324, адрес: 188990, г. Светогорск, ул. Заводская, д. 17</p>
      <p>Политика – настоящая Политика обработки персональных данных СЦБК</p>
      <p>Сайт – http://sveto-paper.com/</p>
      <p>Термины, не определенные в настоящей Политике, имеют значение, которое придается им Законом о персональных
        данных. Термины могут использоваться по тексту Политики как с заглавной, так и со строчной буквы</p>
      <h6>2. С какой целью мы обрабатываем ваши персональные данные?</h6>
      <p>Мы собираем и обрабатываем персональные данные Пользователей в следующих целях:</p>
      <ul>
        <li>• Подбор персонала и ведение кадрового резерва</li>
        <li>• Заключение и исполнение договоров о приобретении товаров, работ и услуг</li>
        <li>• Обработка запросов, поступивших на горячую линию доверия</li>
        <li>• Предоставление ответов на обращения, направленные СЦБК по адресам электронной почты, указанным на Сайте
        </li>
        <li>• Оценка эффективности маркетинговых кампаний</li>
        <li>• Размещение информации о персонале</li>
      </ul>
      <p>Мы не собираем и не обрабатываем персональные данные, которые не требуются для достижения целей, указанных
        выше</p>
      <h6>3. Какие персональные данные мы обрабатываем?</h6>
      <p>СЦБК обрабатывает только те персональные данные, которые вы предоставляете нам посредством функционала Сайта,
        звонков на горячую линию или отправки обращений по адресам электронной почты, указанным на Сайте. Персональные
        данные работников, размещаемые на Сайте, мы получаем от работников при согласовании публикации их данных.
        Конкретный перечень персональных данных, которые мы обрабатываем, применительно к каждой цели обработки, указан
        в Приложении № 1 к Политике (см. ниже)</p>
      <p>В рамках процессов, охватываемых настоящей Политикой, мы не обрабатываем биометрические данные, а также
        персональные данные, относящиеся к специальным категориям (т.е. сведения, касающиеся расовой, национальной
        принадлежности, политических взглядов, религиозных или философских убеждений, состояния здоровья, интимной
        жизни)</p>
      <h6>4. Правовые основания обработки ваших персональных данных</h6>
      <p>СЦБК обрабатывает ваши персональные данные на основаниях, предусмотренных в Законе о персональных данных.
        Конкретные правовые основания обработки персональных данных применительно к каждой цели обработки указаны в
        Приложении № 1 к Политике (см. ниже)</p>
      <p>Если обработка персональных данных осуществляется на основании вашего согласия, то мы исходим из предположения
        о том, что вы предоставляете свое согласие на обработку персональных данных на условиях настоящей Политики
        свободно, своей волей и в своем интересе и подтверждаете, что ваше согласие является конкретным, предметным,
        информированным, сознательным и однозначным. Вы выражаете согласие в соответствующих формах путем проставления
        отметок в чек-боксах (галочек) и подтверждаете, что согласны с условиями обработки персональных данных,
        указанными
        в Политике. Если вы не согласны с данными условиями, пожалуйста, не предоставляйте нам свои персональные данные
      </p>
      <p>Персональные данные работников размещаются на Сайте на основе их отдельных письменных согласий</p>
      <p>Пожалуйста, обратите внимание, что ваше согласие на обработку персональных данных не требуется в тех случаях,
        когда применяются иные основания для обработки. Например, следующие:</p>
      <ul>
        <li>• Обработка персональных данных необходима для осуществления наших прав и законных интересов, либо прав и
          законных
          интересов третьих лиц при условии, что ваши права и свободы не нарушаются. Например, данное основание
          применяется,
          когда мы обрабатываем ваши запросы, поступившие на горячую линию доверия или на адреса электронной почты,
          указанные на Сайте</li>
        <li>• Обработка персональных данных необходима для заключения договора</li>
        <li>• Обработка ваших персональных данных необходима для статистических или иных исследовательских целей при
          условии,
          что ваши персональные данные обезличены</li>
        <li>• Персональные данные должны быть опубликованы или раскрыты в соответствии с федеральными законами
          (например, при
          необходимости ответа на законные и мотивированные запросы правоохранительных органов, органов прокуратуры,
          безопасности и иных органов, которые уполномочены запрашивать информацию)</li>
        <li>• Обработка ваших персональных данных необходима для осуществления наших обязанностей, функций, полномочий,
          которые возложены на нас законодательством</li>
      </ul>
      <h6>5. Как мы обрабатываем ваши персональные данные?</h6>
      <p>Мы обрабатываем ваши персональные данные с использованием и без использования средств автоматизации (смешанная
        обработка). В частности, мы можем хранить ваши персональные данные в электронных и бумажных базах данных
        (картотеках), воспроизводить соответствующие данные на любых электронных носителях информации, а также
        передавать
        их по электронным каналам связи. В отдельных случаях мы можем поручить обработку третьим лицам, указанным в
        настоящей Политике</p>
      <p>Мы не раскрываем и не распространяем ваши персональные данные без вашего согласия, если иное не предусмотрено
        федеральным законом (например, мы можем быть обязаны предоставить ваши данные по законному и мотивированному
        запросу правоохранительных органов)</p>
      <h6>6. Кому мы передаем персональные данные?</h6>
      <p>Мы привлекаем к обработке персональных данных партнеров, которые могут осуществлять обработку персональных
        данных в ограниченном объеме по нашему поручению. Состав соответствующих лиц указан в таблице ниже</p>
      <table class="table1">
        <thead>
          <tr>
            <th>Цель обработки персональных данных</th>
            <td>Категория третьих лиц, привлекаемых к обработке персональных данных </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th rowspan="3">Подбор персонала и ведение кадрового резерва</th>
            <td>Подрядчики, участвующие в проверке благонадежности</td>
          </tr>
          <tr>
            <td>Бюро кредитных историй</td>
          </tr>
          <tr>
            <td>Провайдеры информационно-технологических услуг (техническая поддержка, хостинг, администрирование
              инфраструктуры)</td>
          </tr>
          <tr>
            <th rowspan="3">Заключение и исполнение договоров о приобретении товаров, работ и услуг</th>
            <td>Подрядчики, участвующие в проверке благонадежности</td>
          </tr>
          <tr>
            <td>Бюро кредитных историй</td>
          </tr>
          <tr>
            <td>Провайдеры информационно-технологических услуг (техническая поддержка, хостинг, администрирование
              инфраструктуры)</td>
          </tr>
          <tr>
            <th>Обработка запросов, поступивших на горячую линию доверия</th>
            <td>Провайдеры информационно-технологических услуг (техническая поддержка, хостинг, администрирование
              инфраструктуры)</td>
          </tr>
          <tr>
            <th>Предоставление ответов на обращения, направленные СЦБК по адресам электронной почты, указанным на Сайте
            </th>
            <td>Провайдеры информационно-технологических услуг (техническая поддержка, хостинг, администрирование
              инфраструктуры)</td>
          </tr>
          <tr>
            <th>Оценка эффективности маркетинговых кампаний</th>
            <td>Провайдер программы для веб-аналитики</td>
          </tr>
          <tr>
            <th>Размещение информации о персонале</th>
            <td>Провайдеры информационно-технологических услуг (техническая поддержка, хостинг, администрирование
              инфраструктуры)</td>
          </tr>
        </tbody>
      </table>
      <p>В случае поручения обработки персональных данных третьим лицам или передачи им персональных данных на таких лиц
        возлагается обязанность соблюдать конфиденциальность ваших персональных данных, обеспечивать их защиту и
        безопасность при обработке, а также иные обязательства, предусмотренные Законом о персональных данных</p>
      <p>Мы не осуществляем трансграничную передачу ваших персональных данных (то есть, не передаем ваши персональные
        данные на территории иностранных государств)</p>
      <h6>7. Как долго мы обрабатываем персональные данные?</h6>
      <p>Мы обрабатываем ваши персональные данные и храним их в форме, которая позволяет определить вас, до тех пор,
        пока
        это требуется для достижения целей обработки, указанных в настоящей Политике. Конкретные сроки обработки и
        хранения ваших персональных данных указаны в Приложении № 1 к Политике (см. ниже) применительно к каждой цели
        обработки</p>
      <p>Мы прекращаем обработку персональных данных, обрабатываемых в указанных в Политике целях, и безвозвратно
        уничтожаем их в порядке и сроки, установленные Законом о персональных данных (в том числе, с составлением акта
        об
        уничтожении персональных данных). Уничтожение осуществляется, если наступило хотя бы одно из следующих условий:
      </p>
      <ul>
        <li>• Вы отозвали свое согласие на обработку персональных данных или обратились с требованием о прекращении
          обработки
          персональных данных</li>
        <li>• Срок действия вашего согласия на обработку персональных данных истек</li>
        <li>• Цель обработки персональных данных была достигнута</li>
        <li>• Была выявлена неправомерная обработка персональных данных</li>
        <li>• Мы прекратили свою деятельность</li>
      </ul>
      <p>Вы вправе отказаться от обработки ваших персональных данных в любое время посредством направления нам письма по
        адресу электронной почты otvet@svetopaper.com</p>
      <h6>8. Ваши права как субъектов персональных данных</h6>
      <p>Вы вправе получать информацию, которая касается обработки ваших персональных данных. Для этого вам необходимо
        направить нам запрос по адресу 188990, г. Светогорск, ул. Заводская, д.17, в котором будут в том числе
        содержаться следующие сведения (реквизиты):</p>
      <ul>
        <li>• ваши фамилия, имя и отчество;</li>
        <li>• номер основного документа, удостоверяющего вашу личность, сведения
          о дате выдачи этого документа и выдавшем его органе;</li>
        <li>• сведения, подтверждающие ваше участие в отношениях с СЦБК, либо
          сведения, иным образом подтверждающие факт обработки ваших
          персональных данных СЦБК; и ваша личная подпись</li>
      </ul>
      <p>Кроме того, вы вправе требовать от нас уточнения, блокирования или уничтожения персональных данных, если они
        являются неполными, устаревшими, неточными, незаконно полученными или не требуются для заявленной цели
        обработки. Такие обращения необходимо направлять по адресу электронной почты otvet@svetopaper.com. В обращении
        необходимо указать:</p>
      <ul>
        <li>• данные, которые позволят нам идентифицировать вас (например, полное имя, адрес электронной почты, номер
          телефона), и</li>
        <li>• сведения, подтверждающие ваше участие в отношениях с СЦБК, либо сведения, иным образом подтверждающие факт
          обработки ваших персональных данных СЦБК</li>
      </ul>
      <p>Если какие-то из ваших прав были нарушены, вы также имеете право на защиту своих прав и законных интересов, в
        том
        числе, на возмещение убытков и (или) компенсацию морального вреда в судебном порядке. В случаях, предусмотренных
        применимым законодательством, вы можете обладать и другими правами, не указанными выше</p>
      <p>Мы обрабатываем ваши запросы в соответствии с условиями и сроками, установленными законодательством</p>
      <h6>9. Безопасность и защита персональных данных</h6>
      <p>Мы принимаем меры для защиты ваших персональных данных в соответствии с законодательством Российской Федерации.
        Мы защищаем ваши данные от утери, неправильного использования, несанкционированного доступа, раскрытия,
        изменения, уничтожения в объеме, предусмотренном применимым законодательством</p>
      <p> Защита персональных данных, обрабатываемых нами, обеспечивается реализацией правовых, организационных и
        технических мер, необходимых и достаточных для выполнения требований законодательства в области защиты
        персональных данных. Среди прочего мы предпринимаем следующие меры:</p>
      <ul>
        <li>• Определение угроз безопасности, актуальных для наших информационных систем персональных данных</li>
        <li>• Применение соответствующих организационных и технических мер по обеспечению безопасности персональных
          данных
          при их обработке в информационных системах персональных данных</li>
        <li>• Обеспечение режима безопасности помещений, в которых размещены информационные системы персональных данных
        </li>
        <li>• Определение перечня лиц, доступ которых к вашим персональным данным необходим для выполнения трудовых
          (служебных) обязанностей; разграничение прав доступа к нашим информационным системам персональных данных</li>
        <li>• Применение соответствующих средств защиты информационных систем, необходимых для устранения актуальных
          угроз
          безопасности.</li>
        <li>• Резервное копирование баз персональных данных</li>
        <li>• Назначение должностного лица, которое отвечает за обеспечение безопасности персональных данных в
          информационных системах персональных данных</li>
        <li>• Проведение периодических аудитов безопасности информационных систем персональных данных</li>
        <h6>10. Файлы cookie</h6>
        <h6>10.1. Что такое файлы cookie?</h6>
        <p>Файлы cookie – это фрагменты информации, которая хранится непосредственно на используемом вами устройстве.
          Файлы
          cookie используются для обеспечения работоспособности Сайта, а также для анализа посещения Сайта (например,
          для
          подсчета количества посетителей). Файлы cookie содержат информацию о том, как и кем используется Сайт, а также
          информацию о ваших действиях, совершенных на Сайте</p>
        <p>Файлы cookie не хранят ваш адрес электронной почты или иные сведения, позволяющие идентифицировать вашу
          личность. Тем не менее, ряд файлов cookie позволяют нам узнать вас, когда вы заходите на Сайт, запомнить ваши
          предпочтения и понять, как вы взаимодействуете с Сайтом. Обратите внимание, что мы в том числе используем
          файлы
          cookie, которые не собирают и не хранят ваши персональные данные (такие файлы cookie необходимы для
          корректного
          функционирования Сайта)</p>
        <p>На Сайте файлы cookie используются для оценки эффективности маркетинговых кампаний. Такая аналитика
          происходит с
          использованием программы для веб-аналитики «Яндекс.Метрика», поддержку которой осуществляет ООО «Яндекс» (ОГРН
          1027700229193, адрес: Россия, 119021, г. Москва, ул. Льва Толстого, д. 16)</p>
        <h6>10.2. Основание обработки данных, собранных посредством файлов cookie</h6>
        <p>При первом посещении Сайта вы увидите интерактивное окно - cookie-баннер, который означает, что на Сайте
          используются файлы cookie, которые могут обрабатывать ваши персональные данные. Продолжая использование Сайта,
          вы соглашаетесь с использованием файлов cookie на изложенных в настоящей Политике условиях</p>
        <h6>10.3. Как отказаться от получения файлов cookie?</h6>
        <p>Вы всегда можете отказаться от установки файлов cookie. Чтобы прекратить получать файлы cookie, вам следует
          обратиться к инструкции, предоставляемой разработчиком браузера или производителем устройства, которые вы
          используете. При этом отключение некоторых cookie может повлиять на функционал Сайта, в связи с чем вы можете
          столкнуться с некоторыми неудобствами при его использовании</p>
        <h6>11. Условия обработки распространяемых данных</h6>
        <p>На Сайте размещается информация о персонале СЦБК, в том числе их персональные данные. Цель обработки,
          перечень персональных данных, категория субъектов, срок и способ обработки, а также правовое основание
          обработки указаны в Приложении № 1 к Политике (см. ниже). Доступ к персональным данным, размещенным на Сайте,
          предоставляется неограниченному кругу лиц. Работниками не установлены условия и запреты в отношении обработки
          неограниченным кругом лиц персональных данных, разрешенных для распространения на Сайте</p>
        <h6>12. Как связаться с нами?</h6>
        <p>Если у вас возникли какие-либо вопросы в связи с обработкой ваших персональных данных или настоящей
          Политикой, вы можете обратиться к нам с запросом, отправив электронное письмо по адресу электронной почты
          otvet@svetopaper.com</p>
        <p><strong>Приложение № 1</strong></p>
        <p>Перечень персональных данных, которые обрабатывает СЦБК, а также цели, категории субъектов персональных
          данных, способы, сроки обработки и хранения, и правовые основания обработки персональных данных
        </p>
      </ul>
      <table class="table2">
        <thead>
          <tr>
            <th>Цель обработки</th>
            <td>Категория субъектов</td>
            <td>Персональные данные</td>
            <td>Срок обработки и хранения</td>
            <td>Правовое основание обработки</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th colspan="5">Смешанная обработка</th>
          </tr>
          <tr>
            <th>Подбор персонала и ведение кадрового резерва</th>
            <td>Соискатели</td>
            <td>ФИО, адрес электронной почты, номера телефонов, дата и место рождения, адрес регистрации, место
              жительства, сведения об образовании (учебное заведение, факультет / специальность, год окончания),
              семейное положение, сведения о трудовой деятельности, сведения о профессиональных знаниях и навыках,
              сведения о наличии и категории водительских прав, сведения о службе в ВС РФ, сведения о желаемой должности
              или стажировке, а также иные персональные данные, содержащиеся в прилагаемых документах (резюме и др.) и
              сопроводительном письме</td>
            <td>10 лет</td>
            <td>Согласие на обработку персональных данных (п. 1 ч. 1 ст. 6 Закона о персональных данных)</td>
          </tr>
          <tr>
            <th rowspan="3">Заключение и исполнение договоров о приобретении товаров, работ и услуг</th>
            <td>Исполнители по договорам ГПХ</td>
            <td>ФИО; дата и место рождения; паспортные данные (серия, номер, кем и когда выдан); адрес регистрации;
              место жительства; номера телефонов; адреса электронной почты; почтовый адрес, факс, ИНН, СНИЛС,
              банковские реквизиты, пол, гражданство, а также иная информация, содержащаяся в анкете проверки
              потенциального контрагента и/или его резюме, сопроводительных документах</td>
            <td rowspan="3">До прекращения договора с поставщиком. Если договор не заключен, то на период проведения
              проверки</td>
            <td rowspan="3">Согласие на обработку персональных данных (п. 1 ч. 1 ст. 6 Закона о персональных данных).
              Заключение и исполнение договора (п. 5 ч. 1 ст. 6 Закона о персональных данных)
            </td>
          </tr>
          <tr>
            <td>Контрагенты-ИП</td>
            <td>ФИО, почтовый адрес, город, область, страна, телефон, факс, адрес электронной почты, ИНН, банковские
              реквизиты, а также иная информация, содержащаяся в анкете проверки потенциального контрагента и/или его
              резюме, сопроводительных документах</td>
          </tr>
          <tr>
            <td>Представители контрагентов</td>
            <td>ФИО, адрес электронной почты, номер телефона</td>
          </tr>
          <tr>
            <th>Обработка запросов, поступивших на горячую линию доверия</th>
            <td>Отправители обращений</td>
            <td>Персональные данные, которые предоставляются лицом в ходе обращения на горячую линию</td>
            <td>В течение 3 лет с момента получения обращения</td>
            <td>Осуществление законных интересов оператора (п. 7 ч. 1 ст. 6 Закона о персональных данных)</td>
          </tr>
          <tr>
            <th>Предоставление ответов на обращения, направленные СЦБК по адресам электронной почты, указанным на
              Сайте</th>
            <td>Отправители обращений</td>
            <td>ФИО, название организации, адрес электронной почты, персональные данные, указанные в обращении</td>
            <td>В течение 3 лет с момента получения обращения</td>
            <td>Осуществление законных интересов оператора (п. 7 ч. 1 ст. 6 Закона о персональных данных)</td>
          </tr>
          <tr>
            <th colspan="5">Автоматизированная обработка</th>
          </tr>
          <tr>
            <th>Оценка эффективности маркетинговых кампаний</th>
            <td>Посетители Сайта</td>
            <td>ID; источник трафика, IP-адрес, данные доступа, тип и версия браузера, настройки часового пояса, тип и
              версия браузера, операционная система, история переходов, поисковые запросы, продолжительность посещений
              отдельных страниц, информация о взаимодействии со страницей</td>
            <td>До прекращения использования Сайта в деятельности СЦБК</td>
            <td>Согласие на обработку персональных данных (п. 1 ч. 1 ст. 6 Закона о персональных данных)</td>
          </tr>
          <tr>
            <th>Размещение информации о персонале</th>
            <td>Работники</td>
            <td>Фотографии, видеозаписи, ФИО, должность, место работы, телефонный номер, электронный адрес,
              образование, текущее и предыдущие места работы, сведения о профессиональных достижениях</td>
            <td>В течение всего срока трудоустройства в СЦБК и далее в течение 5 лет</td>
            <td>Согласие на обработку персональных данных, разрешенных субъектом персональных данных для
              распространения (ч. 1 ст. 10.1 Закона о персональных данных)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>