@include('../../templates/breadcrumbs.html')
<section class="news">
  <div class="container">
    <h1 class="news__title h1">Новости</h1>
    <div class="news__items">
      <div class="news__item">
        <a href="#" class="news__item-image">
          <img loading="lazy" src="img/jpg/image/image48.jpg" class="image" width="" height="" alt="">
        </a>
        <div class="news__item-content">
          <a href="#" class="news__item-name">
            Приняли участие в карьерных мероприятиях
          </a>
          <div class="news__item-text content">
            <p>Представители НПАО «Светогорский ЦБК» приняли участие в карьерных мероприятиях, проходивших в
              Санкт-Петербурге и Ленинградской области, где на выставках и ярмарках вакансий рассказывали о компании.
            </p>
          </div>
          <div class="news__item-bottom">
            <div class="news__item-date">11 июля 2023</div>
            <a href="#" class="news__item-link">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="news__item">
        <a href="#" class="news__item-image">
          <img loading="lazy" src="img/jpg/image/image49.jpg" class="image" width="" height="" alt="">
        </a>
        <div class="news__item-content">
          <a href="#" class="news__item-name">
            Приняли участие в карьерных мероприятиях
          </a>
          <div class="news__item-text content">
            <p>Представители НПАО «Светогорский ЦБК» приняли участие в карьерных мероприятиях, проходивших в
              Санкт-Петербурге и Ленинградской области, где на выставках и ярмарках вакансий рассказывали о компании.
            </p>
          </div>
          <div class="news__item-bottom">
            <div class="news__item-date">11 июля 2023</div>
            <a href="#" class="news__item-link">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="news__item">
        <a href="#" class="news__item-image">
          <img loading="lazy" src="img/jpg/image/image50.jpg" class="image" width="" height="" alt="">
        </a>
        <div class="news__item-content">
          <a href="#" class="news__item-name">
            Приняли участие в карьерных мероприятиях
          </a>
          <div class="news__item-text content">
            <p>Представители НПАО «Светогорский ЦБК» приняли участие в карьерных мероприятиях, проходивших в
              Санкт-Петербурге и Ленинградской области, где на выставках и ярмарках вакансий рассказывали о компании.
            </p>
          </div>
          <div class="news__item-bottom">
            <div class="news__item-date">11 июля 2023</div>
            <a href="#" class="news__item-link">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="news__item">
        <a href="#" class="news__item-image">
          <img loading="lazy" src="img/jpg/image/image48.jpg" class="image" width="" height="" alt="">
        </a>
        <div class="news__item-content">
          <a href="#" class="news__item-name">
            Приняли участие в карьерных мероприятиях
          </a>
          <div class="news__item-text content">
            <p>Представители НПАО «Светогорский ЦБК» приняли участие в карьерных мероприятиях, проходивших в
              Санкт-Петербурге и Ленинградской области, где на выставках и ярмарках вакансий рассказывали о компании.
            </p>
          </div>
          <div class="news__item-bottom">
            <div class="news__item-date">11 июля 2023</div>
            <a href="#" class="news__item-link">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="news__item">
        <a href="#" class="news__item-image">
          <img loading="lazy" src="img/jpg/image/image49.jpg" class="image" width="" height="" alt="">
        </a>
        <div class="news__item-content">
          <a href="#" class="news__item-name">
            Приняли участие в карьерных мероприятиях
          </a>
          <div class="news__item-text content">
            <p>Представители НПАО «Светогорский ЦБК» приняли участие в карьерных мероприятиях, проходивших в
              Санкт-Петербурге и Ленинградской области, где на выставках и ярмарках вакансий рассказывали о компании.
            </p>
          </div>
          <div class="news__item-bottom">
            <div class="news__item-date">11 июля 2023</div>
            <a href="#" class="news__item-link">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="news__item">
        <a href="#" class="news__item-image">
          <img loading="lazy" src="img/jpg/image/image50.jpg" class="image" width="" height="" alt="">
        </a>
        <div class="news__item-content">
          <a href="#" class="news__item-name">
            Приняли участие в карьерных мероприятиях
          </a>
          <div class="news__item-text content">
            <p>Представители НПАО «Светогорский ЦБК» приняли участие в карьерных мероприятиях, проходивших в
              Санкт-Петербурге и Ленинградской области, где на выставках и ярмарках вакансий рассказывали о компании.
            </p>
          </div>
          <div class="news__item-bottom">
            <div class="news__item-date">11 июля 2023</div>
            <a href="#" class="news__item-link">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="pagination news__pagination">
        <div class="pagination__arrow pagination__arrow-prev"></div>
        <div class="pagination__item">1</div>
        <div class="pagination__item">2</div>
        <div class="pagination__item">3</div>
        <div class="pagination__item">4</div>
        <div class="pagination__item">5</div>
        <div class="pagination__item active">6</div>
        <div class="pagination__item">7</div>
        <div class="pagination__item">8</div>
        <div class="pagination__item">9</div>
        <div class="pagination__item">10</div>
        <div class="pagination__arrow pagination__arrow-next"></div>
      </div>
    </div>
  </div>
</section>
