<section class="preview breadcrumbs-inv objects-preview">
  @include('../../templates/breadcrumbs.html')
  <div class="swiper preview__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="preview__item objects-preview__item">
          <div class="preview__image objects-preview__image">
            <picture>
              <source media="(max-width: 768px)" srcset="img/jpg/backgr/goal-bg-mobile.jpg">
              <source media="(max-width: 1366px)" srcset="img/jpg/backgr/goal-bg-tablet.jpg">
              <img src="img/jpg/backgr/goal-bg.jpg" alt="">
            </picture>
          </div>
          <div class="container">
            <div class="preview__content objects-preview__content">
              <h1 class="preview__title objects-preview__title h1">Социальные объекты</h1>
              <div class="preview__text objects-preview__text">
                <p>НПАО «Светогорский ЦБК» располагает собственной развитой социальной инфраструктурой</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-color objects">
  <div class="container objects__container">
    <div class="objects__item">
      <div class="objects__item-content">
        <div class="objects__item-name">Гостиничный комплекс «Светогорск»</div>
        <div class="objects__item-text">
          <p>Гостиничный комплекс «Светогорск» построен в 1984 году. Сегодня это современная 3-звездочная гостиница, где
            есть все необходимое для комфортного проживания. В нашей гостинице 107 комфортабельных, уютных номеров,
            включая 13 номеров – высшей категории.</p>
          <p>Гости могут воспользоваться услугами рум-сервиса, централизованной прачечной, закрытого охраняемого
            паркинга.
            Также на территории расположены универсальная спортивная площадка и детский игровой комплекс.</p>
        </div>
        <div class="objects__item-line"></div>
        <div class="objects__item-socials">
          <div class="address social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
            </div>
            <span>Адрес: Светогорск, Спортивная ул., 1</span>
          </div>
          <!-- <div class="mail social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/social/mail-filled.svg" class="image" width="" height="" alt="">
            </div>
            <a href="mailto:svehotel@svetopaper.com">svehotel@svetopaper.com</a>
          </div> -->
          <div class="tel social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/social/tel-filled.svg" class="image" width="" height="" alt="">
            </div>
            <a href="tel:+7 (81378) 4-35-42">+7 (81378) 4-35-42</a>
          </div>
          <div class="tel social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/social/tel-filled.svg" class="image" width="" height="" alt="">
            </div>
            <a href="tel:+7 (921) 550-86-80">+7 (921) 550-86-80</a>
          </div>
        </div>
      </div>
      <div class="objects__item-image">
        <img loading="lazy" src="img/jpg/objescts/object2.png" class="image" width="" height="" alt="">
      </div>
    </div>
    <div class="objects__item">
      <div class="objects__item-content">
        <div class="objects__item-name">Кафе и ресторан</div>
        <div class="objects__item-text">
          <p>На первом этаже гостиничного комплекса «Светогорск» расположился новый современный ресторан «ФоРест». Здесь
            можно начать свой день со вкусного и сытного завтрака по системе «шведский стол» (с 7:00 до 10:00),
            заглянуть на бизнес-ланч (с 12:00 до 15:00), а вечером - отдохнуть за приятным ужином с коллегами или
            друзьями.</p>
        </div>
        <div class="objects__item-line"></div>
        <div class="objects__item-socials">
          <div class="address social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
            </div>
            <span>Адрес: Светогорск, Спортивная ул., 1</span>
          </div>
          <div class="tel social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/social/tel-filled.svg" class="image" width="" height="" alt="">
            </div>
            <a href="tel:+7 (81378) 4-38-55">+7 (81378) 4-38-55</a>
          </div>
          <div class="address social-link">
            <span>График работы: ежедневно с 7:00 до 24:00</span>
          </div>
        </div>
        <div class="objects__item-line"></div>
        <div class="objects__item-text">
          <p>Также мы ждем всех в гости в новое уютное кафе «Депо» в отреставрированном историческом здании бывшего
            пожарного депо. Мы рады предложить нашим гостям разнообразный ассортимент блюд и напитков, а также
            неповторимую атмосферу, чтобы приятно провести время. В нашем кафе вы можете заранее бронировать банкеты,
            детские праздники, караоке, квизы. А с 12.00 до 15.00 мы подаем нашим гостям бизнес-ланч.
          </p>
        </div>
        <div class="objects__item-line"></div>
        <div class="objects__item-socials">
          <div class="address social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
            </div>
            <span>Адрес: Светогорск, ул. Заводская, 17</span>
          </div>
          <div class="tel social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/social/tel-filled.svg" class="image" width="" height="" alt="">
            </div>
            <a href="tel: +7 921 090-43-54"> +7 921 090-43-54</a>
          </div>
          <div class="address social-link">
            <span>График работы: вс-чт с 11:00 до 23:00, пт-сб с 11:00 до 01:00</span>
          </div>
          <div class="address social-link">
            <span>До встречи!</span>
          </div>
        </div>
      </div>
      <div class="objects__item-image">
        <img loading="lazy" src="img/jpg/objescts/object3.jpg" class="image" width="" height="" alt="">
      </div>
    </div>
    <div class="objects__item">
      <div class="objects__item-content">
        <div class="objects__item-name">Медико-санитарная часть</div>
        <no-typography>
          <div class="objects__item-text">
            <p>Медико-санитарная часть (МСЧ) НПАО «Светогорский ЦБК» – это современный многопрофильный медицинский
              центр.
              Прием ведут около 20 высококвалифицированных специалистов из различных областей медицины, которые проводят
              диагностику и лечение многих заболеваний, включая УЗИ и обследования сердца врачом функциональной
              диагностики. Также В МСЧ есть собственная лаборатория, кабинет физиотерапии, дежурная служба фельдшеров,
              кабинет вакцинации, штат медицинских сестер и немедицинского персонала.</p>
            <p>Основная деятельность МСЧ – оказание первичной медико-санитарной помощи сотрудникам НПАО «Светогорский
              ЦБК»,
              ветеранам и сотрудникам подрядных организаций, работающих на территории комбината.</p>
            <p>Уже более 20 лет наши специалисты заботятся о здоровье пациентов!</p>
          </div>
        </no-typography>
        <div class="objects__item-line"></div>
        <div class="objects__item-socials">
          <div class="address social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
            </div>
            <span>Адрес: Светогорск, ул. Заводская, 17</span>
          </div>
          <div class="address social-link">
            <span>График работы: круглосуточно</span>
          </div>
          <!-- <div class="tel social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/social/tel-filled.svg" class="image" width="" height="" alt="">
            </div>
            <a href="tel:7 43-65">7 43-65</a>
          </div>
          <div class="tel social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/social/tel-filled.svg" class="image" width="" height="" alt="">
            </div>
            <a href="tel:7 43-64">7 43-64</a>
          </div> -->
          <div class="tel social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/social/tel-filled.svg" class="image" width="" height="" alt="">
            </div>
            <a href="tel:8 (81378) 41-266">8 (81378) 41-266</a>
          </div>
        </div>
      </div>
      <div class="objects__item-image">
        <img loading="lazy" src="img/jpg/objescts/object4.png" class="image" width="" height="" alt="">
      </div>
    </div>
  </div>
</section>