<section class="preview breadcrumbs-inv objects-preview"
  style=" background-image: url(img/jpg/backgr/goal-backgr.jpg);">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <div class="preview__content objects-preview__content">
      <h1 class="preview__title objects-preview__title h1">Социальные объекты</h1>
      <div class="preview__text objects-preview__text">
        <p>НПАО «Светогорский ЦБК» располагает собственной развитой социальной инфраструктурой</p>
      </div>
    </div>
  </div>
</section>

<section class="section-color objects">
  <div class="container objects__container">
    <div class="objects__item">
      <div class="objects__item-content">
        <div class="objects__item-name">
          Гостиничный комплекс «Светогорск»
        </div>
        <div class="objects__item-text">
          <p>Гостиница «Светогорск» построена в 1984 году. Сегодня это трехзвездочный гостиничный комплекс, где есть
            все для комфортного проживания.</p>
          <p>В нашей гостинице 107 комфортабельных, уютных номеров, включая 13 номеров высшей категории.</p>
          <p>Гости могут воспользоваться услугами рум-сервиса, централизованной прачечной, охраняемого паркинга,
            тренажёрного зала, студии красоты и банкетного зала вместимостью 120 человек, который легко может быть
            переформатирован в зал для проведения конференций, семинаров и встреч. Также на территории гостиничного
            комплекса «Светогорск» расположены универсальная спортивная площадка и детский игровой комплекс.</p>
        </div>
        <div class="objects__item-line"></div>
        <div class="objects__item-socials">
          <div class="address social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
            </div>
            <span>Адрес: Светогорск, Спортивная ул., 1</span>
          </div>
          <div class="mail social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/mail.svg" class="image" width="" height="" alt="">
            </div>
            <a href="mailto:svehotel@svetopaper.com">svehotel@svetopaper.com</a>
          </div>
          <div class="tel social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/tel.svg" class="image" width="" height="" alt="">
            </div>
            <a href="tel:+7 (81378) 4-35-42">+7 (81378) 4-35-42</a>
          </div>
          <div class="tel social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/tel.svg" class="image" width="" height="" alt="">
            </div>
            <a href="tel:+7 (921) 550-86-80">+7 (921) 550-86-80</a>
          </div>
        </div>
      </div>
      <div class="objects__item-image">
        <img loading="lazy" src="img/jpg/objescts/object1.jpg" class="image" width="" height="" alt="">
      </div>
    </div>
    <div class="objects__item">
      <div class="objects__item-content">
        <div class="objects__item-name">
          Кафе «Светогорск»
        </div>
        <div class="objects__item-text">
          <p>Уютное кафе расположено на первом этаже гостиничного комплекса «Светогорск». Здесь можно начать свой день
            с вкусного и сытного завтрака по системе «шведский стол» (с 7:00 до 10:00), пообедать днём
            (с 12:00 до 15:00),
            а вечером — приятно отдохнуть за ужином с коллегами или друзьями.</p>
          <p>Мы ждём вас с 7:00 до 24:00. Добро пожаловать!</p>
        </div>
        <div class="objects__item-line"></div>
        <div class="objects__item-socials">
          <div class="address social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
            </div>
            <span>Адрес: Светогорск, Спортивная ул., 1</span>
          </div>
          <div class="tel social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/tel.svg" class="image" width="" height="" alt="">
            </div>
            <a href="tel:+7 (81378) 4-38-55">+7 (81378) 4-38-55</a>
          </div>
        </div>
      </div>
      <div class="objects__item-image">
        <img loading="lazy" src="img/jpg/objescts/object1.jpg" class="image" width="" height="" alt="">
      </div>
    </div>
    <div class="objects__item">
      <div class="objects__item-content">
        <div class="objects__item-name">
          Медико-санитарная часть
        </div>
        <div class="objects__item-text">
          <p>Медико-санитарная часть (МСЧ) – это современный многопрофильный медицинский центр. Приём ведут
            около 20 высококвалифицированных специалистов из различных областей медицины, которые проводят диагностику
            и лечение многих заболеваний, включая УЗИ и обследования сердца врачом функциональной диагностики.
            Также В МСЧ
            есть собственная лаборатория, кабинеты физиотерапии и вакцинации. На помощь людям всегда готова прийти
            дежурная служба фельдшеров. В штате работают как медицинские сестры, так и немедицинский персонал.</p>
          <p>Основная деятельность МСЧ — оказание первичной медико-санитарной помощи сотрудникам НПАО «Светогорский
            ЦБК»,
            ветеранам и сотрудникам подрядных организаций, работающих на территории комбината.</p>
          <p>Уже более 20 лет наши специалисты заботятся о здоровье пациентов!</p>
        </div>
        <div class="objects__item-line"></div>
        <div class="objects__item-socials">
          <div class="address social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
            </div>
            <span>Адрес: Светогорск, Спортивная ул., 1</span>
          </div>
          <div class="tel social-link">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/tel.svg" class="image" width="" height="" alt="">
            </div>
            <a href="tel:+7 (81378) 4-38-55">+7 (81378) 4-38-55</a>
          </div>
        </div>
      </div>
      <div class="objects__item-image">
        <img loading="lazy" src="img/jpg/objescts/object1.jpg" class="image" width="" height="" alt="">
      </div>
    </div>
  </div>
</section>
