<section class="history-hero">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <div class="history-hero__content">
      <h1 class="history-hero__title h1">Исторические вехи «Светогорский ЦБК»</h1>
      <div class="history-hero__text">
        <p>Светогорский ЦБК — предприятие с интересной и более чем вековой историей, которая берет начало с 1887 года.
          В 2022 году комбинат отметил 135-летний юбилей.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-color history" style="background-image: url(img/jpg/backgr/history-backgr.jpg);">
  <div class="container">
    <h3 class="history__title h3">Исторические вехи <span>«Светогорский ЦБК»</span></h3>
    <div class="swiper swiper-container mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history1.png" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">1887 г.</div>
              <div class="history__item-text">
                <p>Шведский барон Ади Стандершкольд купил 16 гектар земли на берегу реки Вуоксы. В этом же году началось
                  строительство древесно-массного завода, предшественника картонно-бумажной фабрики, а также
                  строительство
                  посёлка. Барон дал заводу и местности название Enso («Первенец»)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history2.png" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">1889 г.</div>
              <div class="history__item-text">
                <p>В феврале 1889 г. завод уже выпустил первую продукцию, которая гужевым транспортом доставлялась
                  в Выборг
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history3.png" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">1949 г.</div>
              <div class="history__item-text">
                <p>Город Enso (Энсо) был переименован в город Светогорск</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history4.png" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">1972-1990 гг.</div>
              <div class="history__item-text">
                <p>Поэтапная реконструкция Светогорского ЦБК</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history5.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">1993 г.</div>
              <div class="history__item-text">
                <p>Реконструкция БДМ-1, начало выпуска двухкомпонентного картона «Дуплекс» для
                  упаковки жидких пищевых продуктов.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history6.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">1994 г.</div>
              <div class="history__item-text">
                <p>Светогорский комбинат становится открытым акционерным обществом.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history7.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">1995 г.</div>
              <div class="history__item-text">
                <p>ОАО «Светогорск» входит в состав шведского концерна «Тетра Лаваль».</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history8.png" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">1996 г.</div>
              <div class="history__item-text">
                <p>На комбинате произведена первая пачка офисной бумаги SvetoCopy</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history9.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">Декабрь 1998 г.</div>
              <div class="history__item-text">
                <p>ОАО «Светогорск» входит в состав американской группы компаний
                  International Paper.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history10.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">1999 г.</div>
              <div class="history__item-text">
                <p>Строительство и запуск производства листовых бумаг</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history11.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">2007 г.</div>
              <div class="history__item-text">
                <p>Запуск производства беленой химической термомеханической массы (БХТММ)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history12.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">2009 г.</div>
              <div class="history__item-text">
                <p>ОАО «Светогорск» переименовано в ЗАО «Интернешнл Пейпер».</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history13.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">2011 г.</div>
              <div class="history__item-text">
                <p>ЗАО «Тихвинский Комплексный Леспромхоз» становится частью компании</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history14.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">2013 г.</div>
              <div class="history__item-text">
                <p>Пуск газовой турбины</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history15.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">2014 г.</div>
              <div class="history__item-text">
                <p>Строительство полигона промышленных и коммунальных отходов</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history4.png" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">2021 г.</div>
              <div class="history__item-text">
                <p>Компания выделена из International Paper в составе новой группы компании Sylvamo</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history17.png" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">2022 г.</div>
              <div class="history__item-text">
                <p>Продажа компании российскому акционеру, переименование компании в НПАО
                  «Светогорский ЦБК»</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history18.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">2023 г.</div>
              <div class="history__item-text">
                <p>Руководство Светогорского ЦБК анонсировало планы по реализации обширной
                  инвестиционной программы: комбинат планирует инвестировать более 1 млрд рублей в
                  дальнейшую модернизацию и развитие проектов, связанных с охраной труда, промышленной
                  безопасностью и экологией</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper__scrollbar-bottom">
        <div class="swiper-scrollbar"></div>
        <div class="swiper__scrollbar-text">
          Передвиньте ползунок, чтобы увидеть больше
        </div>
      </div>
    </div>
  </div>
</section>