<section class="history-hero">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <div class="history-hero__content">
      <h1 class="history-hero__title h1">История компании</h1>
      <div class="history-hero__text">
        <p>Светогорский ЦБК — предприятие с интересной и более чем вековой историей, которая берет начало с 1887 года.
          В 2022 году комбинат отметил 135-летний юбилей.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-color history" style="background-image: url(img/jpg/backgr/history-backgr.jpg);">
  <div class="container">
    <h3 class="history__title h3">Исторические вехи <span>«Светогорский ЦБК»</span></h3>
    <div class="swiper swiper-container mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history1.png" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">1887 г.</div>
              <div class="history__item-text">
                <p>Шведский барон Ади Стандершкольд купил 16 гектар земли на берегу реки Вуоксы. В этом же году началось
                  строительство древесно-массного завода, предшественника картонно-бумажной фабрики, а также
                  строительство
                  посёлка. Барон дал заводу и местности название Enso («Первенец»)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history2.png" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">1889 г.</div>
              <div class="history__item-text">
                <p>В феврале 1889 г. завод уже выпустил первую продукцию, которая гужевым транспортом доставлялась
                  в Выборг
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history3.png" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">1949 г.</div>
              <div class="history__item-text">
                <p>Город Enso (Энсо) был переименован в город Светогорск</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__item-line"></div>
          <div class="history__item">
            <div class="history__item-image">
              <img loading="lazy" src="img/png/history/history4.png" class="image" width="" height="" alt="">
            </div>
            <div class="history__item-content">
              <div class="history__item-date h4">1972-1990 гг.</div>
              <div class="history__item-text">
                <p>Поэтапная реконструкция Светогорского ЦБК</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper__scrollbar-bottom">
        <div class="swiper-scrollbar"></div>
        <div class="swiper__scrollbar-text">
          Передвиньте ползунок, чтобы увидеть больше
        </div>
      </div>
    </div>
  </div>
</section>