<section class="vacancies">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <h1 class="vacancies__title h1">
      Вакансии
    </h1>
    <div class="vacancies__items">
      <div class="vacancies__item">
        <div class="vacancies__item-content">
          <a href="#" class="vacancies__item-name h6">Инженер-технолог</a>
          <div class="vacancies__item-descr">
            <p>Требуемый опыт работы: 3–6 лет</p>
            <p>Полная занятость, полный день</p>
          </div>
        </div>
        <button class="btn-reset button-doc vacancies__item-button" data-graph-path="modal2">Откликнуться</button>
      </div>
      <div class="vacancies__item">
        <div class="vacancies__item-content">
          <a href="#" class="vacancies__item-name h6">Инженер-теплоэнергетик</a>
          <div class="vacancies__item-descr">
            <p>Требуемый опыт работы: 3–6 лет</p>
            <p>Полная занятость, полный день</p>
          </div>
        </div>
        <button class="btn-reset button-doc vacancies__item-button" data-graph-path="modal2">Откликнуться</button>
      </div>
      <div class="vacancies__item">
        <div class="vacancies__item-content">
          <a href="#" class="vacancies__item-name h6">Инженер-механик</a>
          <div class="vacancies__item-descr">
            <p>Требуемый опыт работы: 3–6 лет</p>
            <p>Полная занятость, полный день</p>
          </div>
        </div>
        <button class="btn-reset button-doc vacancies__item-button" data-graph-path="modal2">Откликнуться</button>
      </div>
      <div class="vacancies__item">
        <div class="vacancies__item-content">
          <a href="#" class="vacancies__item-name h6">IT специалист</a>
          <div class="vacancies__item-descr">
            <p>Требуемый опыт работы: 3–6 лет</p>
            <p>Полная занятость, полный день</p>
          </div>
        </div>
        <button class="btn-reset button-doc vacancies__item-button" data-graph-path="modal2">Откликнуться</button>
      </div>
      <div class="vacancies__item">
        <div class="vacancies__item-content">
          <a href="#" class="vacancies__item-name h6">Экономист</a>
          <div class="vacancies__item-descr">
            <p>Требуемый опыт работы: 3–6 лет</p>
            <p>Полная занятость, полный день</p>
          </div>
        </div>
        <button class="btn-reset button-doc vacancies__item-button" data-graph-path="modal2">Откликнуться</button>
      </div>
      <div class="vacancies__item">
        <div class="vacancies__item-content">
          <a href="#" class="vacancies__item-name h6">Инженер по КИПиА</a>
          <div class="vacancies__item-descr">
            <p>Требуемый опыт работы: 3–6 лет</p>
            <p>Полная занятость, полный день</p>
          </div>
        </div>
        <button class="btn-reset button-doc vacancies__item-button" data-graph-path="modal2">Откликнуться</button>
      </div>
      <div class="vacancies__item">
        <div class="vacancies__item-content">
          <a href="#" class="vacancies__item-name h6">Менеджер по продукту</a>
          <div class="vacancies__item-descr">
            <p>Требуемый опыт работы: 3–6 лет</p>
            <p>Полная занятость, полный день</p>
          </div>
        </div>
        <button class="btn-reset button-doc vacancies__item-button" data-graph-path="modal2">Откликнуться</button>
      </div>
      <div class="vacancies__item">
        <div class="vacancies__item-content">
          <a href="#" class="vacancies__item-name h6">Менеджер по закупкам</a>
          <div class="vacancies__item-descr">
            <p>Требуемый опыт работы: 3–6 лет</p>
            <p>Полная занятость, полный день</p>
          </div>
        </div>
        <button class="btn-reset button-doc vacancies__item-button" data-graph-path="modal2">Откликнуться</button>
      </div>
    </div>
  </div>
</section>
