.products {
  padding-bottom: 100px;
  @include bgcover;

  &__content {
    margin-top: 40px;
    margin-bottom: 64px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__text {
    max-width: 1065px;
    @extend %regular24;
  }

  &__items {
    @include gridColumn(4);
    column-gap: 24px;
    row-gap: 24px;
  }
}

@media screen and (max-width: $laptop) {
  .products {
    &__content {
      margin-top: 16px;
      margin-bottom: 24px;
    }

    &__title {
      margin-bottom: 24px;
    }

    &__items {
      column-gap: 20px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .products {
    &__items {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 16px;
      row-gap: 16px;
    }
  }
}

@media screen and (max-width: $mob) {
  .products {
    &__items {
      grid-template-columns: repeat(1, 1fr);

      .block_products__slide_image {
        width: auto;
        height: 100%;
        margin: 0 auto;
        position: static;

        img {
          height: 100%;
        }
      }

      .block_products__slide_product_logo {
        right: 16px;
        top: 16px;
      }

    }
  }
}