.cardboard-preview {
  &__item {
    padding-top: 83px;
    padding-bottom: 82px;

    &::before {
      display: none;
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    max-width: 656px;
    margin-bottom: 40px;
  }

  &__link {
    padding: 14px 70px 14px 32px;
  }
}

.cardboard-tech {

  &__top {
    background: linear-gradient(180deg, #FFF 0%, #EFF2F7 10.93%);
    padding-top: 100px;
    padding-bottom: 64px;

    &-container {
      @include flexColumn;
      row-gap: 64px;
    }
  }

  &__text {
    max-width: 1240px;

    p {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__structure {
    border-radius: 20px;
    background-color: $white;
    box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
    padding: 60px;
    @include flexColumn;
    row-gap: 40px;

    &-name {
      color: $green;
    }

    &-image {
      width: 1111px;
      height: 288px;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__bottom {
    background: linear-gradient(180deg, #EFF2F7 0%, #FFF 99.96%);
    padding-bottom: 100px;

    &-container {
      @include flexColumn;
      row-gap: 64px;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 7fr 5fr;
    align-items: center;

    &:nth-child(even) {
      grid-template-columns: 5fr 7fr;

      .cardboard-tech__item-image {
        order: 1;
      }

      .cardboard-tech__item-content {
        order: 2;
        padding-right: 0;
        padding-left: 60px;
      }
    }

    &-image {
      @include imageCoverWidth;
      height: 400px;
      flex-shrink: 0;
      overflow: hidden;
      border-radius: 20px;
      box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
    }

    &-content {
      padding-right: 60px;

      P {
        font-size: 28px;
        line-height: 36px;
      }

      ul {
        li {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }

    &-name {
      color: $green;
      margin-bottom: 16px;
    }
  }
}

.cardboard-info {
  background-color: $blue;

  &__container {
    @include flexColumn;
    row-gap: 64px;
  }
}

.cardboard-doc {
  border-radius: 20px;
  background-color: $white;
  box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
  padding: 64px;

  &__title {
    color: $green;
    margin-bottom: 40px;
  }

  &__items {
    @include gridColumn(3);
    column-gap: 40px;
    row-gap: 40px;
  }
}

.cardboard-buy {
  border-radius: 20px;
  background: linear-gradient(89deg, #004D43 0%, #02B45E 105.3%);
  box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
  padding: 60px 64px;

  &__inner {
    @include flexCStart;
    column-gap: 60px;
  }

  &__title {
    color: $white;
  }

  .social-link.mail {
    .social-link__icon {
      width: 24px;
      height: 24px;
    }

    a {
      font-size: 24px;
      line-height: 36px;
      color: $white;
    }
  }
}