.cardboard-preview {
  &__item {
    padding-top: 83px;
    padding-bottom: 82px;

    &::before {
      display: none;
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    max-width: 656px;
    margin-bottom: 40px;
  }

  &__link {
    padding: 14px 70px 14px 32px;
  }
}

@media screen and (max-width: $laptop) {
  .cardboard-preview {
    &__item {
      padding-top: 68px;
      padding-bottom: 32px;
      min-height: auto;
    }

    &__title {
      margin-bottom: 16px;
    }

    &__text {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 24px;
    }
  }
}

@media screen and (max-width: $mob) {
  .cardboard-preview {
    &__item {
      padding-top: 64px;
    }

    &__title {
      margin-bottom: 8px;
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 16px;
    }

    &__link {
      width: 100%;
    }
  }
}

.cardboard-tech {
  &__top {
    background: linear-gradient(180deg, #FFF 0%, #EFF2F7 10.93%);
    padding-top: 100px;
    padding-bottom: 64px;

    &-container {
      @include flexColumn;
      row-gap: 64px;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 36px;
    max-width: 1240px;

    p {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__structure {
    border-radius: 20px;
    background-color: $white;
    box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
    padding: 60px;
    @include flexColumn;
    row-gap: 40px;

    &-name {
      color: $green;
    }

    &-image {
      width: 1111px;
      height: 288px;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-content {
      display: contents;
    }

    &-descr {
      color: $grey;
      font-size: 14px;
      line-height: 20px;
    }

    &-image-two {
      display: none;
    }


    &-text-two {
      display: none;
    }
  }


  &__bottom {
    background: linear-gradient(180deg, #EFF2F7 0%, #FFF 99.96%);
    padding-bottom: 100px;

    &-container {
      @include flexColumn;
      row-gap: 64px;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 7fr 5fr;
    align-items: center;

    &:nth-child(even) {
      grid-template-columns: 5fr 7fr;

      .cardboard-tech__item-image {
        order: 1;
      }

      .cardboard-tech__item-content {
        order: 2;
        padding-right: 0;
        padding-left: 60px;
      }
    }

    &-image {
      @include imageCoverWidth;
      height: 400px;
      flex-shrink: 0;
      overflow: hidden;
      border-radius: 20px;
      box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
    }

    &-content {
      padding-right: 60px;

      P {
        font-size: 28px;
        line-height: 36px;
      }

      ul {
        li {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }

    &-name {
      color: $green;
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: $laptop) {
  .cardboard-tech {
    &__top {
      padding-top: 64px;

      &-container {
        row-gap: 40px;
      }
    }

    &__structure {
      &-image {
        width: 100%;
        height: auto;
      }
    }

    &__bottom {
      padding-bottom: 64px;
    }

    &__item {
      &:nth-child(even) {
        .cardboard-tech__item-content {
          padding-left: 40px;
        }
      }

      &-content {
        padding-right: 40px;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .cardboard-tech {
    &__bottom {
      &-container {
        row-gap: 40px;
      }
    }

    &__item {
      grid-template-columns: 1fr;
      row-gap: 16px;

      &:nth-child(even) {
        grid-template-columns: 1fr;

        .cardboard-tech__item-image {
          order: 1;
        }

        .cardboard-tech__item-content {
          order: 2;
          padding-left: 0;
        }
      }

      &-image {
        height: 200px;
        width: 522px;
        order: 1;
      }

      &-content {
        padding-right: 0px;
        order: 2;

        P {
          font-size: 16px;
          line-height: 24px;
        }
      }

      &-name {
        margin-bottom: 8px;
      }

      &-text {
        p {
          font-size: 28px;
          line-height: 36px;
        }
      }
    }
  }
}

@media screen and (max-width: $mob) {
  .cardboard-tech {
    &__top {
      padding-top: 40px;
      padding-bottom: 40px;

      &-container {
        row-gap: 24px;
      }
    }

    &__structure {
      padding: 16px;
      row-gap: 24px;

      &-name {
        position: relative;
        width: fit-content;
        padding-right: 28px;

        &::before {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          flex-shrink: 0;
          background-image: url(../img/svg/social/icon-info-green.svg);
          @include bgcover;
        }
      }

      &-content {
        display: none;
      }

      &-image-two {
        display: block;

        &.hide {
          display: none;
        }
      }

      &-text-two {
        font-size: 14px;
        line-height: 20px;

        p,
        ul {
          &:not(:last-child) {
            margin-bottom: 8px;
          }

          &:not(:first-child) {
            margin-top: 8px;
          }
        }

        &.show {
          display: block;
        }
      }
    }

    &__bottom {
      padding-bottom: 40px;

      &-container {
        row-gap: 24px;
      }
    }

    &__item {
      &-image {
        width: 288px;
        height: 204px;
      }

      &-text {
        p {
          font-size: 16px;
          line-height: 24px;
        }

        ul {
          &>li {
            font-size: 16px;
            line-height: 24px;
            @include mb(8px);
          }
        }
      }
    }
  }
}

.cardboard-info {
  background-color: $blue;

  &__container {
    @include flexColumn;
    row-gap: 64px;
  }
}

.cardboard-doc {
  border-radius: 20px;
  background-color: $white;
  box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
  padding: 64px;

  &__title {
    color: $green;
    margin-bottom: 40px;
  }

  &__items {
    @include gridColumn(3);
    column-gap: 40px;
    row-gap: 40px;
  }
}

.cardboard-buy {
  border-radius: 20px;
  background: linear-gradient(89deg, #004D43 0%, #02B45E 105.3%);
  box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
  padding: 60px 64px;

  &__inner {
    @include flexCStart;
    column-gap: 60px;
  }

  &__title {
    color: $white;
  }

  .social-link.mail {
    .social-link__icon {
      width: 24px;
      height: 24px;
    }

    a {
      font-size: 24px;
      line-height: 36px;
      color: $white;
    }
  }
}

@media screen and (max-width: $laptop) {
  .cardboard-info {
    &__container {
      row-gap: 40px;
    }
  }

  .cardboard-doc {
    padding: 40px;
  }

  .cardboard-buy {
    padding: 40px;
  }
}

@media screen and (max-width: $tablet) {

  .cardboard-doc {
    padding: 40px;

    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .cardboard-buy {
    padding: 40px;
  }
}

@media screen and (max-width: $mob) {
  .cardboard-info {
    &__container {
      row-gap: 24px;
    }
  }

  .cardboard-doc {
    padding: 16px;

    &__title {
      margin-bottom: 16px;
    }

    &__items {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 8px;
    }

    .doc__icon {
      width: 24px;
      height: 24px;
    }

    .doc__name {
      margin-bottom: 8px;
    }
  }

  .cardboard-buy {
    padding: 24px 16px;

    &__inner {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 16px;
    }

    .social-link {
      column-gap: 8px;

      &__icon {
        width: 20px;
        height: 20px;
      }

      &.mail {
        a {

          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

}