.releases {
  background: linear-gradient(180deg, #FFF 0%, #EFF2F7 99.96%);
  padding-bottom: 100px;

  &__title {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__block {
    border-radius: 20px;
    background-color: $white;
    box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
    padding: 64px;
  }

  &__items {
    @include gridColumn(2);
    column-gap: 60px;
    row-gap: 30px;
  }

  &__pagination {
    margin-top: 40px;
  }
}

@media screen and (max-width: $laptop) {
  .releases {
    padding-bottom: 64px;

    &__title {
      margin-top: 16px;
    }

    &__block {
      padding: 40px;
    }

    &__items {
      column-gap: 40px;
    }

    &__pagination {
      margin-top: 24px;
    }
  }
}

@media screen and (max-width: $mob) {
  .releases {
    padding-bottom: 40px;

    &__title {
      margin-bottom: 24px;
    }

    &__block {
      padding: 16px;
    }

    &__items {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 24px;
    }

    .doc-info {
      column-gap: 12px;

      &__icon {
        width: 48px;
        height: 48px;
        border-radius: 12px;

        &-inner {
          width: 24px;
          height: 24px;
        }
      }

      &__name {
        margin-bottom: 8px;
      }
    }
  }
}