@include('../../templates/breadcrumbs.html')
<section class="news-single">
  <div class="container">
    <div class="news-single__head">
      <a href="#" class="link-head news-single__link-head">
        <div class="link-head__icon">
          <img loading="lazy" src="img/svg/arrows/icon-back.svg" class="image" width="" height="" alt="">
        </div>
        <div class="link-head__name">Все новости</div>
      </a>
      <div class="news-single__date">11 июля 2023</div>
      <h1 class="news-single__title h2">Приняли участие в карьерных мероприятиях</h1>
    </div>
    <div class="news-single__content content-text">
      <p>Представители НПАО «Светогорский ЦБК» в середине весны приняли участие в карьерных мероприятиях, проходивших
        в Санкт-Петербурге и Ленинградской области, где на выставках и ярмарках вакансий рассказывали о компании,
        продукции, производимой на комбинате в Светогорске, карьерных возможностях и перспективах работы для молодёжи.
        В общей сложности с компанией познакомились более 1 000 человек.</p>
      <img loading="lazy" src="img/jpg/image/image51.jpg" class="image" width="" height="" alt="">
      <p>В Санкт-Петербурге и Ленинградской области в апреле 2023 года прошло множество мероприятий, посвящённых
        профориентации и развитию карьеры. Для НПАО «Светогорский ЦБК» стартом карьерных событий послужила V Юбилейная
        Межвузовская инновационная неделя «ИННОЭВЕНТ − ЛТУ 2023», которая проходила с 3 по 7 апреля
        в Санкт-Петербургском
        государственном лесотехническом университете им. С.М. Кирова при участии студентов из разных высших учебных
        заведений. Компания заинтересована в сотрудничестве с будущими профессионалами лесопромышленного дела.
        Представители НПАО «Светогорский ЦБК» познакомили студентов с компанией, принципами устойчивого развития,
        лежащими
        в основе её деятельности, и эволюцией производственного совершенства в целлюлозно-бумажной промышленности.</p>
      <p>14 апреля компания приняла участие в ярмарке вакансий в Выборгском центре поддержки предпринимательства
        в рамках
        Единого дня трудоустройства в Ленинградской области. В это же время представители компании посетили закрытие
        инновационной недели в СанктПетербургском государственном университете промышленных технологий и дизайна,
        где рассказали о возможностях прохождения практики и стажировок, а также программе «ВЗЛЁТ», нацеленной
        на привлечение и удержание молодых специалистов.</p>
      <p>Кроме того, представители НПАО «Светогорский ЦБК» посетили Северный (Арктический) федеральный университет имени
        М.В. Ломоносова (САФУ) в Архангельске и Петрозаводский государственный университет (ПетрГУ) в Петрозаводске,
        а также дни открытых дверей в Российской Академии народного хозяйства и государственной службы (РАНХиГС)
        в Санкт-Петербурге и в политехническом колледже «Александровский» в Выборге, где ответили на вопросы студентов
        о преимуществах работы на предприятии и рассказали о программе привлечения и подготовки новых сотрудников разных
        производственных специальностей «Мой старт».</p>
      <div class="images-slider">
        <div class="swiper swiper-style images-gallery__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image52.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image53.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image52.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image54.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image55.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image56.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image57.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image56.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="swiper swiper-style images-gallery__swiper-thumbs">
          <div class="swiper-wrapper">
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image52.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image53.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image52.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image54.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image55.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image56.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image57.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image56.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-style__bottom">
            <div class="swiper-button-prev images-gallery__swiper-button-prev"></div>
            <div class="swiper-pagination images-gallery__swiper-pagination"></div>
            <div class="swiper-button-next images-gallery__swiper-button-next"></div>
          </div>
        </div>
      </div>
      <p>Между выездными карьерными мероприятиями в апреле и мае специалисты компании проводили познавательные экскурсии
        на комбинат в Светогорске для студентов из Лесотехнического университета, Выборгской гимназии, Выборгского
        техникума агропромышленного и лесного комплекса, Светогорского политехнического колледжа. Традиционные
        экскурсионные программы для студентов и школьников на комбинат проводятся для того, чтобы познакомить будущих
        работников лесопромышленного комплекса с жизнью комбината, реальными производственными процессами, осветить
        вопросы безопасности и ответственного похода к работе и решению производственных задач.</p>
      <div class="content-video">
        <img loading="lazy" src="img/jpg/image/image58.jpg" class="image" width="" height="" alt="">
      </div>
      <p> НПАО «Светогорский ЦБК» уделяет большое внимание развитию кадрового потенциала и профессионалов будущего.
        В основе
        деятельности компании лежит глубокое уважение к каждому сотруднику и ценность индивидуального вклада
        в достижение
        общих целей. Компания активно привлекает и обучает студентов-выпускников, которые сразу после окончания высшего
        или среднего учебного заведения могут применить полученные знания и навыки в своей работе. Сегодня уже более
        430 молодых специалистов в возрасте от 18 до 35 лет работает на предприятии, получая ценный опыт
        и профессиональное развитие.</p>
      <p> «В этом году нашему комбинату в Светогорске исполняется 136 лет. За это время в компании происходили разные
        изменения. Например, более 20 лет наша компания была частью международной корпорации, но в 2022 году начался
        новый
        этап развития с новым названием НПАО „Светогорский ЦБК“; мы уже создали фирменный стиль, а сейчас работаем
        над созданием нового бренда работодателя. Мы бережём славные традиции и богатый опыт, который помогает принимать
        мудрые решения и служит прочным фундаментом для развития новых возможностей и инноваций. В поисках новых
        талантов
        для трудоустройства в нашу компанию мы с удовольствием делимся опытом с молодёжью. Мы продолжим принимать
        участие
        в карьерных мероприятиях для повышения узнаваемости нашей компании на рынке труда», - сказала директор
        по персоналу НПАО «Светогорский ЦБК» Анна Дорогостайская.</p>
    </div>
  </div>
</section>

<section class="section-color other news-other">
  <div class="container">
    <div class="other__title h3">Смотрите также</div>
    <div class="swiper swiper-style other__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide other__slide">
          <div class="news__item">
            <a href="#" class="news__item-image">
              <img loading="lazy" src="img/jpg/image/image48.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="news__item-content">
              <a href="#" class="news__item-name">
                Приняли участие в карьерных мероприятиях
              </a>
              <div class="news__item-text content">
                <p>Представители НПАО «Светогорский ЦБК» приняли участие в карьерных мероприятиях, проходивших в
                  Санкт-Петербурге и Ленинградской области, где на выставках и ярмарках вакансий рассказывали о
                  компании.
                </p>
              </div>
              <div class="news__item-bottom">
                <div class="news__item-date">11 июля 2023</div>
                <a href="#" class="news__item-link">
                  <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide other__slide">
          <div class="news__item">
            <a href="#" class="news__item-image">
              <img loading="lazy" src="img/jpg/image/image49.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="news__item-content">
              <a href="#" class="news__item-name">
                Приняли участие в карьерных мероприятиях
              </a>
              <div class="news__item-text content">
                <p>Представители НПАО «Светогорский ЦБК» приняли участие в карьерных мероприятиях, проходивших в
                  Санкт-Петербурге и Ленинградской области, где на выставках и ярмарках вакансий рассказывали о
                  компании.
                </p>
              </div>
              <div class="news__item-bottom">
                <div class="news__item-date">11 июля 2023</div>
                <a href="#" class="news__item-link">
                  <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide other__slide">
          <div class="news__item">
            <a href="#" class="news__item-image">
              <img loading="lazy" src="img/jpg/image/image50.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="news__item-content">
              <a href="#" class="news__item-name">
                Приняли участие в карьерных мероприятиях
              </a>
              <div class="news__item-text content">
                <p>Представители НПАО «Светогорский ЦБК» приняли участие в карьерных мероприятиях, проходивших в
                  Санкт-Петербурге и Ленинградской области, где на выставках и ярмарках вакансий рассказывали о
                  компании.
                </p>
              </div>
              <div class="news__item-bottom">
                <div class="news__item-date">11 июля 2023</div>
                <a href="#" class="news__item-link">
                  <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide other__slide">
          <div class="news__item">
            <a href="#" class="news__item-image">
              <img loading="lazy" src="img/jpg/image/image49.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="news__item-content">
              <a href="#" class="news__item-name">
                Приняли участие в карьерных мероприятиях
              </a>
              <div class="news__item-text content">
                <p>Представители НПАО «Светогорский ЦБК» приняли участие в карьерных мероприятиях, проходивших в
                  Санкт-Петербурге и Ленинградской области, где на выставках и ярмарках вакансий рассказывали о
                  компании.
                </p>
              </div>
              <div class="news__item-bottom">
                <div class="news__item-date">11 июля 2023</div>
                <a href="#" class="news__item-link">
                  <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-style__bottom">
        <div class="swiper-button-prev other__swiper-button-prev"></div>
        <div class="swiper-pagination other__swiper-pagination"></div>
        <div class="swiper-button-next other__swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
