<section class="preview breadcrumbs-inv goal">
  @include('../../templates/breadcrumbs.html')
  <div class="swiper preview__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="preview__item goal__item">
          <div class="preview__image goal__image">
            <picture>
              <source media="(max-width: 768px)" srcset="img/jpg/backgr/goal-bg-mobile.jpg">
              <source media="(max-width: 1366px)" srcset="img/jpg/backgr/goal-bg-tablet.jpg">
              <img src="img/jpg/backgr/goal-bg.jpg" alt="">
            </picture>
          </div>
          <div class="container">
            <div class="preview__content goal__content">
              <h1 class="preview__title goal__title h1">Миссия и видение</h1>
              <div class="preview__text goal__text">
                <p>Используя возобновляемые природные ресурсы мы создаем ценности
                  и улучшаем жизнь людей в России.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-color our-missions" style="  background-image: url(img/jpg/backgr/bg.jpg);">
  <div class="container our-missions__container">
    <div class="our-missions__image">
      <img loading="lazy" src="img/svg/icons/icon1.png" class="image" width="" height="" alt="">
    </div>
    <div class="our-missions__content">
      <div class="our-missions__row">
        <div class="our-missions__name">Наша миссия</div>
        <div class="our-missions__text">
          <p>Сохраняя лидерство в целлюлозно-бумажной индустрии, эффективно и ответственно создаем продукты, которыми люди пользуются ежедневно</p>
        </div>
      </div>
      <div class="our-missions__row">
        <div class="our-missions__name">Наше видение</div>
        <div class="our-missions__text">
          <ul>
            <li>Быть ведущим предприятием отрасли и компанией первого выбора для клиентов, сотрудников и партнеров</li>
            <li>Использовать наилучшие доступные технологии и развивать инновационный подход</li>
            <li>Работать для каждого человека и вносить вклад в развитие общества</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="section-color values">
  <div class="container">
    <h2 class="values__title h2">
      Ценности
    </h2>
    <div class="values__items">
      <div class="values__item">
        <div class="values__item-icon shake">
          <div class="values__item-icon-inner shake_inner">
            <img loading="lazy" src="img/svg/icons/icon2.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="values__item-info">
          <strong>Безопасность</strong>
          <p>Мы заботимся о безопасности всех, кто работает вместе с нами</p>
        </div>
      </div>
      <div class="values__item">
        <div class="values__item-icon shake">
          <div class="values__item-icon-inner shake_inner">
            <img loading="lazy" src="img/svg/icons/icon3.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="values__item-info">
          <strong>Командная работа</strong>
          <p>Мы проявляем честность, открытость и уважение друг другу, эффективно работаем вместе для достижения общих
            бизнес-задач</p>
        </div>
      </div>
      <div class="values__item">
        <div class="values__item-icon shake">
          <div class="values__item-icon-inner shake_inner">
            <img loading="lazy" src="img/svg/icons/icon4.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="values__item-info">
          <strong>Ответственное производство</strong>
          <p>Мы создаём качественные продукты из возобновляемых ресурсов с заботой об окружающей среде</p>
        </div>
      </div>
      <div class="values__item">
        <div class="values__item-icon shake">
          <div class="values__item-icon-inner shake_inner">
            <img loading="lazy" src="img/svg/icons/icon5.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="values__item-info">
          <strong>Дух предпринимательства</strong>
          <p>Благодаря творческому потенциалу наших сотрудников, мы используем инновац</p>
        </div>
      </div>
      <div class="values__item">
        <div class="values__item-icon shake">
          <div class="values__item-icon-inner shake_inner">
            <img loading="lazy" src="img/svg/icons/icon6.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="values__item-info">
          <strong>Этика</strong>
          <p>Мы следуем высоким стандартам поведения и придерживаемся этических норм, выстраивая взаимоотношения
            с коллегами, партнёрами, клиентами, акционерами и обществом.</p>
        </div>
      </div>
      <div class="values__item">
        <div class="values__item-icon shake">
          <div class="values__item-icon-inner shake_inner">
            <img loading="lazy" src="img/svg/icons/icon7.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="values__item-info">
          <strong>Ориентация на клиента</strong>
          <p>Мы принимаем обоснованные и правильные коммерческие решения, учитывая интересы наших клиентов</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-color docum">
  <div class="container">
    <div class="docum__block">
      <div class="docum__title">Документация</div>
      <div class="docum__items">
        <div class="doc">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">КОДЕКС ДЕЛОВОЙ ЭТИКИ</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">СЕРТИФИКАТ СООТВЕТСТВИЯ СТАНДАРТУ ISO
              37301-2021</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">СЕРТИФИКАТ СООТВЕТСТВИЯ СТАНДАРТУ ISO 9001-2015
              RU</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">MANAGEMENT SYSTEM SERTIFICATE ISO 9001-2015
              ENG</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" download="" target="_blank">ПРИОРИТЕТЫ ГРУППЫ НПАО «Светогорский ЦБК» НА 2023
              ГОД</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->