<section class="preview breadcrumbs-inv safety-preview">
  @include('../../templates/breadcrumbs.html')
  <div class="swiper preview__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="preview__item safety-preview__item">
          <div class="preview__image safety-preview__image">
            <picture>
              <source media="(max-width: 768px)" srcset="img/jpg/backgr/safety-bg-mobile.jpg">
              <source media="(max-width: 1366px)" srcset="img/jpg/backgr/safety-bg-tablet.jpg">
              <img src="img/jpg/backgr/safety-bg.jpg" alt="">
            </picture>
          </div>
          <div class="container">
            <div class="preview__content safety-preview__content">
              <h1 class="preview__title safety-preview__title h1">Безопасность труда</h1>
              <div class="preview__text safety-preview__text">
                <p>Безопасность — один из главных приоритетов нашей компании</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="safety-info section-color">
  <div class="container safety-info__container">
    <div class="safety-info__content">
      <h5 class="safety-info__title h5">
        Безопасные условия труда и охрана здоровья – основа эффективной работы и достижения высоких результатов, которые
        по нашему убеждению можно получить только совместными усилиями.
      </h5>
      <div class="safety-info__text content">
        <p>Поэтому важный аспект политики Светогорского ЦБК в этой области – вовлеченность каждого в обеспечение
          соответствующих условий для себя, своих коллег и сотрудников подрядных организаций.</p>
        <p>С 2006 года компания подтверждает соответствие системы менеджмента безопасности труда и охраны здоровья и
          имеет
          действующие сертификаты <strong>ГОСТ Р ИСО 45001-2020, ISO 45001:2018</strong></p>
      </div>
    </div>
    <div class="safety-info__image">
      <img loading="lazy" src="img/png/image/img3.jpg" class="image" width="" height="" alt="">
    </div>
  </div>
</section>

<section class="section-color safety-control">
  <div class="container">
    <h5 class="safety-control__title h5">
      Мы управляем профессиональными рисками для:
    </h5>
    <div class="safety-control__text content list-check">
      <ul>
        <li>Предотвращения несчастных случаев на производстве</li>
        <li>Сохранения здоровья и обеспечения безопасности работников</li>
        <li>Улучшения условий труда на рабочих местах</li>
      </ul>
      <p>В нашей компании регулярно проводятся инициативы, на которых мы с особым фокусом на безопасность рассказываем
        сотрудникам, подрядчикам и всем вовлечённым людям о важности поддержания безопасной и комфортной рабочей среды
      </p>
    </div>
  </div>
</section>

<section class="section-color safety-doc">
  <div class="container">
    <div class="safety-doc__block">
      <h3 class="safety-doc__title h3">Документация</h3>
      <div class="safety-doc__items">
        <div class="doc safety-doc__item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="documents/perechen-rekomenduemykh-meropriyatij-po-uluchsheniyu-uslovij-truda-ot-30062023.pdf"
              class="doc__name" target="_blank">Перечень рекомендуемых мероприятий по улучшению условий труда от
              30.06.2023</a>
            <div class="doc__line">
              <!-- <div class="doc__date">08 ноября 2022</div> -->
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc safety-doc__item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="documents/svodnaya-vedomost-rezultatov-provedeniya-sout-ot-05072023-g.pdf" class="doc__name"
              target="_blank">Сводная ведомость результатов проведения СОУТ от 05.07.2023 г.</a>
            <div class="doc__line">
              <!-- <div class="doc__date">08 ноября 2022</div> -->
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc safety-doc__item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="documents/svodnaya-vedomost-rezultatov-provedeniya-sout-ot-30062023-g.pdf" class="doc__name"
              target="_blank">Сводная ведомость результатов проведения СОУТ от 30.06.2023 г.</a>
            <div class="doc__line">
              <!-- <div class="doc__date">08 ноября 2022</div> -->
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc safety-doc__item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="documents/perechen-rekomenduemykh-meropriyatij-po-uluchsheniyu-uslovij-truda-ot-04072023.pdf"
              class="doc__name" target="_blank">Перечень рекомендуемых мероприятий по улучшению условий
              труда от
              04.07.2023</a>
            <div class="doc__line">
              <!-- <div class="doc__date">08 ноября 2022</div> -->
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <a href="/documents.html" class="button-doc safety-doc__link" target="_blank">Смотреть документы</a>
      </div>
    </div>
  </div>
</section>