<section class="provision">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <h1 class="provision__title h1">Лесообеспечение</h1>
    <h3 class="provision__subtitle h3">Чтобы направить заявку на сотрудничество:</h3>
    <div class="provision-cooperation">
      <div class="provision-cooperation__items">
        <div class="provision-cooperation__item">
          <div class="provision-cooperation__item-image">
            <div class="provision-cooperation__item-image-inner">
              <img loading="lazy" src="img/svg/icons/icon20.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="provision-cooperation__item-content">
            <h5 class="provision-cooperation__item-step h5">Шаг 1</h5>
            <div class="provision-cooperation__item-info">Заполните <span data-graph-path="modal1">анкету поставщика</span></div>
          </div>
        </div>
        <div class="provision-cooperation__item">
          <div class="provision-cooperation__item-image">
            <div class="provision-cooperation__item-image-inner">
              <img loading="lazy" src="img/svg/icons/icon21.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="provision-cooperation__item-content">
            <h5 class="provision-cooperation__item-step h5">Шаг 2</h5>
            <div class="provision-cooperation__item-info">Подпишите <span data-graph-path="modal1">соглашение о конфиденциальности</span></div>
          </div>
        </div>
        <div class="provision-cooperation__item">
          <div class="provision-cooperation__item-image">
            <div class="provision-cooperation__item-image-inner">
              <img loading="lazy" src="img/svg/icons/icon22.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="provision-cooperation__item-content">
            <h5 class="provision-cooperation__item-step h5">Шаг 3</h5>
            <div class="provision-cooperation__item-info">Подпишите <span data-graph-path="modal1">кодекс поставщика</span></div>
          </div>
        </div>
        <div class="provision-cooperation__item">
          <div class="provision-cooperation__item-image">
            <div class="provision-cooperation__item-image-inner">
              <img loading="lazy" src="img/svg/icons/icon23.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="provision-cooperation__item-content">
            <h5 class="provision-cooperation__item-step h5">Шаг 4</h5>
            <div class="provision-cooperation__item-info">Заполненные анкеты и документы отправляются через
              <span data-graph-path="modal4">форму</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="provision-info">
      <h3 class="provision-info__title h3">Ознакомьтесь с информацией для поставщиков:</h3>
      <div class="provision-info__items">
        <div class="doc-info provision-info__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Общая закупочная процедура</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc-info provision-info__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Шаблоны документов</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>