<section class="products" style=" background-image: url(img/jpg/backgr/blue-backgr.jpg);">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <div class="products__content">
      <h1 class="products__title h1">Продукция</h1>
      <div class="products__text">
        <p>Мы производим качественные и востребованные продукты, которыми люди пользуются ежедневно</p>
      </div>
    </div>
    <div class="products__items">
      <a href="/paper.html" class="block_products__slide">
        <div class="block_products__slide_content">
          <div class="block_products__slide_image">
            <img loading="lazy" src="img/png/product1.png" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="block_products__slide_name">
          Офисная бумага
        </div>
      </a>
      <a href="/offset.html" class="block_products__slide">
        <div class="block_products__slide_content">
          <div class="block_products__slide_image">
            <img loading="lazy" src="img/png/product2.png" class="image" width="" height="" alt="">
            <div class="block_products__slide_product_logo">
              <img loading="lazy" src="img/png/logo_svetoprint.png" class="image" width="" height="" alt="">
            </div>
          </div>
        </div>
        <div class="block_products__slide_name">
          Офсетная бумага
        </div>
      </a>
      <a href="/cardboard.html" class="block_products__slide">
        <div class="block_products__slide_content">
          <div class="block_products__slide_image">
            <img loading="lazy" src="img/png/product3.png" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="block_products__slide_name">
          Картон
        </div>
      </a>
      <a href="/htmm.html" class="block_products__slide">
        <div class="block_products__slide_content">
          <div class="block_products__slide_image">
            <img loading="lazy" src="img/png/product4.png" class="image" width="" height="" alt="">
            <div class="block_products__slide_product_logo">
              <img loading="lazy" src="img/svg/logo_svetopulp.svg" class="image" width="" height="" alt="">
            </div>
          </div>
        </div>
        <div class="block_products__slide_name">
          ХТММ
        </div>
      </a>
      <a href="/other-products.html" class="block_products__slide">
        <div class="block_products__slide_content">
          <div class="block_products__slide_image">
            <img loading="lazy" src="img/png/product5.jpg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="block_products__slide_name">
          Прочие продукты
        </div>
      </a>
    </div>
  </div>
</section>