<section class="photo-single">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <div class="photo-single__head">
      <a href="#" class="link-head photo-single__link-head">
        <div class="link-head__icon">
          <img loading="lazy" src="img/svg/arrows/icon-back.svg" class="image" width="" height="" alt="">
        </div>
        <div class="link-head__name">Все фото и видео</div>
      </a>
      <div class="photo-single__date">11 июля 2023</div>
      <h1 class="photo-single__title h2">Главный приоритет Светогорского ЦБК — безопасность</h1>
    </div>
    <div class="photo-single__content content-text">
      <div class="images-slider">
        <div class="swiper swiper-style images-gallery__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image59.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image53.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image52.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image54.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image55.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image56.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image57.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image56.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="swiper swiper-style images-gallery__swiper-thumbs">
          <div class="swiper-wrapper">
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image59.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image53.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image52.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image54.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image55.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image56.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image57.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
            <div class="swiper-slide images-gallery__slide">
              <div class="images-gallery__image">
                <img loading="lazy" src="img/jpg/image/image56.jpg" class="image" width="" height="" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-style__bottom">
            <div class="swiper-button-prev images-gallery__swiper-button-prev"></div>
            <div class="swiper-pagination images-gallery__swiper-pagination"></div>
            <div class="swiper-button-next images-gallery__swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="section-color other news-other">
  <div class="container">
    <div class="other__title h3">Смотрите также</div>
    <div class="swiper swiper-style other__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide other__slide">
          <div class="media__item">
            <a href="#" class="media__item-image">
              <img loading="lazy" src="img/jpg/image/image60.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="media__item-content">
              <a href="#" class="media__item-name">Главный приоритет Светогорского ЦБК — безопасность</a>
              <div class="media__item-bottom">
                <div class="media__item-date">11 июля 2023</div>
                <a href="#" class="media__item-link">
                  <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide other__slide">
          <div class="media__item">
            <a href="#" class="media__item-image video">
              <img loading="lazy" src="img/jpg/image/image61.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="media__item-content">
              <a href="#" class="media__item-name">Участие в Career Days в университете ИТМО</a>
              <div class="media__item-bottom">
                <div class="media__item-date">11 июля 2023</div>
                <a href="#" class="media__item-link">
                  <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide other__slide">
          <div class="media__item">
            <a href="#" class="media__item-image">
              <img loading="lazy" src="img/jpg/image/image60.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="media__item-content">
              <a href="#" class="media__item-name">Главный приоритет Светогорского ЦБК — безопасность</a>
              <div class="media__item-bottom">
                <div class="media__item-date">11 июля 2023</div>
                <a href="#" class="media__item-link">
                  <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide other__slide">
          <div class="media__item">
            <a href="#" class="media__item-image">
              <img loading="lazy" src="img/jpg/image/image63.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="media__item-content">
              <a href="#" class="media__item-name">Главный приоритет Светогорского ЦБК — безопасность</a>
              <div class="media__item-bottom">
                <div class="media__item-date">11 июля 2023</div>
                <a href="#" class="media__item-link">
                  <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-style__bottom">
        <div class="swiper-button-prev other__swiper-button-prev"></div>
        <div class="swiper-pagination other__swiper-pagination"></div>
        <div class="swiper-button-next other__swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
