<section class="materials">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <h1 class="materials__title h1">Материалы и услуги</h1>
    <h3 class="materials__subtitle h3">Чтобы направить заявку на сотрудничество:</h3>
    <div class="materials-cooperation">
      <div class="materials-cooperation__items">
        <div class="materials-cooperation__item">
          <div class="materials-cooperation__item-image">
            <div class="materials-cooperation__item-image-inner">
              <img loading="lazy" src="img/svg/icons/icon20.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="materials-cooperation__item-content">
            <h5 class="materials-cooperation__item-step h5">Шаг 1</h5>
            <div class="materials-cooperation__item-info">Заполните <span>анкету поставщика</span></div>
          </div>
        </div>
        <div class="materials-cooperation__item">
          <div class="materials-cooperation__item-image">
            <div class="materials-cooperation__item-image-inner">
              <img loading="lazy" src="img/svg/icons/icon21.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="materials-cooperation__item-content">
            <h5 class="materials-cooperation__item-step h5">Шаг 2</h5>
            <div class="materials-cooperation__item-info">Подпишите <span>соглашение о конфиденциальности</span></div>
          </div>
        </div>
        <div class="materials-cooperation__item">
          <div class="materials-cooperation__item-image">
            <div class="materials-cooperation__item-image-inner">
              <img loading="lazy" src="img/svg/icons/icon22.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="materials-cooperation__item-content">
            <h5 class="materials-cooperation__item-step h5">Шаг 3</h5>
            <div class="materials-cooperation__item-info">Подпишите <span>кодекс поставщика</span></div>
          </div>
        </div>
        <div class="materials-cooperation__item">
          <div class="materials-cooperation__item-image">
            <div class="materials-cooperation__item-image-inner">
              <img loading="lazy" src="img/svg/icons/icon23.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="materials-cooperation__item-content">
            <h5 class="materials-cooperation__item-step h5">Шаг 4</h5>
            <div class="materials-cooperation__item-info">Подготовьте презентацию о вашей компании</div>
          </div>
        </div>
        <div class="materials-cooperation__item">
          <div class="materials-cooperation__item-image">
            <div class="materials-cooperation__item-image-inner">
              <img loading="lazy" src="img/svg/icons/icon24.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="materials-cooperation__item-content">
            <h5 class="materials-cooperation__item-step h5">Шаг 5</h5>
            <div class="materials-cooperation__item-info">Заполненные анкеты и документы отправляются через
              <span>форму</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="materials-info">
      <h3 class="materials-info__title h3">Ознакомьтесь с информацией для поставщиков:</h3>
      <div class="materials-info__items">
        <div class="doc-info materials-info__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Общая закупочная процедура</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc-info materials-info__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Список товаров для закупки</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc-info materials-info__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Кодекс поставщика</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc-info materials-info__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Шаблоны документов</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc-info materials-info__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Анкета потенциального поставщика.</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>