<section class="vacancies-card-preview">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <h1 class="vacancies-card-preview__title h1">
      Слесарь по ремонту и обслуживанию перегрузочных машин
    </h1>
  </div>
</section>

<section class="section-color vacancies-card">
  <div class="container">
    <div class="vacancies-card__content content">
      <h4>Обязанности</h4>
      <ul>
        <li>Ремонт и техническое обслуживание перегрузочных машин (ремонт дизельных двигателей внутреннего сгорания,
          гидравлической системы, трансмиссии, ходовой части, шиномонтаж колёс)</li>
      </ul>
      <h4>Требования</h4>
      <ul>
        <li>Имеете среднее профессиональное образование по специальности «слесарь по ремонту автомобилей», «слесарь
          по ремонту перегрузочных машин»</li>
        <li>Имеете навыки технического обслуживания, разборки, замены деталей, сборки</li>
        <li>Умеете читать механические и электрические схемы</li>
        <li>Знаете правила ремонта аппаратуры и агрегатов</li>
      </ul>
      <h4>Условия</h4>
      <ul>
        <li>Официальное трудоустройство, полностью «белый» доход</li>
        <li>Дополнительную систему премирования</li>
        <li>Расширенный социальный пакет − компенсация проезда к месту отдыха, санаторно-курортного лечение</li>
        <li>Дополнительное медицинское страхование</li>
        <li>Оплата дороги к месту работ</li>
      </ul>
    </div>
    <button class="btn-reset button-doc vacancies-card__button">Откликнуться</button>
    <div class="vacancies-card__control">
      <h4 class="vacancies-card__control-name h4">
        Мы помогаем с переездом и предоставляем проживание в гостинице!
      </h4>
      <div class="vacancies-card__control-socials">
        <div class="social-link tel">
          <div class="social-link__icon">
            <img loading="lazy" src="img/svg/social/phone-green.svg" class="image" width="" height="" alt="">
          </div>
          <a href="mailto:+7 812 334-57-30">+7 812 334-57-30</a>
        </div>
        <div class="social-link mail">
          <div class="social-link__icon">
            <img loading="lazy" src="img/svg/social/mail-green.svg" class="image" width="" height="" alt="">
          </div>
          <a href="mailto:HR.News@svetopaper.com">HR.News@svetopaper.com</a>
        </div>
      </div>
    </div>
  </div>
</section>
