.caring-society {
  @include bgcover;
  padding-top: 88px;
  padding-bottom: 100px;
  position: relative;

  .breadcrumbs__wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
  }

  &::before {
    display: none;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__name {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__slide {
    height: auto;
  }

  &__item {
    overflow: hidden;
    border-radius: 20px;
    background-color: $white;
    height: 100%;
    box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.20);
    @include flexColumn;

    &-image {
      @include imageCoverWidth;
      height: 300px;
      flex-shrink: 0;
    }

    &-content {
      padding: 24px 24px 32px 24px;
      @include flexColumn;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100%;
      box-sizing: border-box;
    }

    &-name {
      display: inline-block;
      color: $green;
      @include transition(color);
      margin-bottom: 8px;

      &:hover {
        color: $yellow;
      }
    }

    &-text {
      @extend %regular16;
      margin-bottom: 32px;

      p {
        color: $text;
        @include mb(8px);
      }
    }

    &-date {
      margin-top: auto;
      letter-spacing: 0.24px;
      text-transform: uppercase;
      color: $txtDate;
    }
  }
}

@media screen and (max-width: $laptop) {
  .caring-society {
    padding-top: 64px;
    padding-bottom: 64px;

    &__title {
      margin-bottom: 24px;
    }
  }
}

@media screen and (max-width: $mob) {
  .caring-society {
    padding-bottom: 40px;

    &__name {
      margin-bottom: 12px;
    }

    &__text {
      margin-bottom: 24px;
    }

    &__item {
      &-image {
        height: 200px;
      }

      &-content {
        padding: 16px;
      }

      &-date {
        font-size: 14px;
        line-height: 20px;
      }

      &-text {
        margin-bottom: 24px;
      }
    }
  }
}

.responsibility-projects {
  background-color: $blue;
  box-shadow: 10px 10px 20px 0px rgba(170, 170, 204, 0.50);
}