<section class="preview breadcrumbs-inv protection-preview">
  @include('../../templates/breadcrumbs.html')
  <div class="swiper preview__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="preview__item protection-preview__item">
          <div class="preview__image protection-preview__image">
            <picture>
              <source media="(max-width: 768px)" srcset="img/jpg/backgr/protection-bg.jpg">
              <source media="(max-width: 1366px)" srcset="img/jpg/backgr/protection-bg.jpg">
              <img src="img/jpg/backgr/protection-bg.jpg" alt="">
            </picture>
          </div>
          <div class="container">
            <div class="preview__content protection-preview__content">
              <h1 class="preview__title protection-preview__title h1">Охрана окружающей среды </h1>
              <div class="preview__text protection-preview__text">
                <p>На протяжении многих лет мы непрерывно ведем работу в сфере защиты окружающей среды, ответственного
                  использования природных ресурсов и минимизации экологического следа от своей деятельности</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-color protection-slider">
  <div class="container">
    <div class="protection-slider__row">
      <h3 class="protection-slider__title h3">
        Охрана водных ресурсов
      </h3>
      <div class="swiper swiper-style protection-slider__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide protection-slider__slide">
            <div class="protection-slider__item">
              <div class="protection-slider__item-image">
                <img loading="lazy" src="img/jpg/image/image9.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="protection-slider__item-content">
                <strong>Водопотребление</strong>
                <ul>
                  <li>В состав предприятия входят водоочистные сооружения</li>
                  <li>Комбинат снабжает хозяйственно-питьевой водой г. Светогорск.</li>
                  <li>Производится постоянный контроль качества подаваемой в город воды для подтверждения всем
                    нормативным
                    требованиям</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide protection-slider__slide">
            <div class="protection-slider__item">
              <div class="protection-slider__item-image">
                <img loading="lazy" src="img/jpg/image/image10.png" class="image" width="" height="" alt="">
              </div>
              <div class="protection-slider__item-content">
                <strong>Очистка промышленных стоков</strong>
                <ul>
                  <li>Сточные воды комбината проходят несколько ступеней очистки, включая механическую и биологическую
                  </li>
                  <li>Работают системы локальной очистки ливневых стоков</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide protection-slider__slide">
            <div class="protection-slider__item">
              <div class="protection-slider__item-image">
                <img loading="lazy" src="img/jpg/image/image11.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="protection-slider__item-content">
                <strong>Очистка бытовых стоков</strong>
                <ul>
                  <li>Комбинат принимает и очищает бытовые сточные воды города</li>
                  <li>Работают отдельные очистные сооружения, не связанные с промышленными стоками</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide protection-slider__slide">
            <div class="protection-slider__item">
              <div class="protection-slider__item-image">
                <img loading="lazy" src="img/jpg/image/image12.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="protection-slider__item-content">
                <strong>Проекты и инициативы</strong>
                <ul>
                  <li>На предприятии постоянно ведётся сбор данных, анализ и внедрение инициатив по сокращению сбросов
                    загрязняющих веществ</li>
                  <li>С 2018 года используется полимерная станция для улучшения системы очистки стоков</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-style__bottom">
          <div class="swiper-button-prev protection-slider__swiper-button-prev"></div>
          <div class="swiper-pagination protection-slider__swiper-pagination"></div>
          <div class="swiper-button-next protection-slider__swiper-button-next"></div>
        </div>
      </div>
    </div>
    <div class="protection-slider__row">
      <h3 class="protection-slider__title h3">
        Охрана атмосферного воздуха
      </h3>
      <div class="swiper swiper-style protection-slider__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide protection-slider__slide">
            <div class="protection-slider__item">
              <div class="protection-slider__item-image">
                <img loading="lazy" src="img/jpg/image/image13.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="protection-slider__item-content">
                <strong>Выбросы в атмосферный воздух</strong>
                <ul>
                  <li>На комбинате работают газоочистные установки для снижения количества выбросов загрязняющих веществ
                    в атмосферный воздух (скрубберы, электрофильтры, рукавные фильтры и др.)</li>
                  <li>Внедрён план действий при объявлении неблагоприятных метеоусловий (НМУ)</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide protection-slider__slide">
            <div class="protection-slider__item">
              <div class="protection-slider__item-image">
                <img loading="lazy" src="img/jpg/image/image14.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="protection-slider__item-content">
                <strong>Система сжигания летучих сернистых соединений</strong>
                <ul>
                  <li>С 2007 года внедрена наилучшая доступная технология по сбору и сжиганию серосодержащих газов,
                    используемая на передовых предприятиях целлюлозно-бумажной промышленности для снижения суммарных
                    выбросов, а также уменьшения неприятного запаха</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide protection-slider__slide">
            <div class="protection-slider__item">
              <div class="protection-slider__item-image">
                <img loading="lazy" src="img/jpg/image/image15.png" class="image" width="" height="" alt="">
              </div>
              <div class="protection-slider__item-content">
                <strong>Снижение уровня шума</strong>
                <ul>
                  <li>Проводятся мероприятия для снижения уровня шума от источников — установка шумоизолирующих
                    и шумопоглощающих элементов, шумоглушителей, а также перенос источников шума</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide protection-slider__slide">
            <div class="protection-slider__item">
              <div class="protection-slider__item-image">
                <img loading="lazy" src="img/jpg/image/image16.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="protection-slider__item-content">
                <strong>Проекты</strong>
                <ul>
                  <li>Комбинат выделяет необходимые средства для модернизаций газоочистного и технологического
                    оборудования в целях сокращения выбросов загрязняющих веществ в атмосферный воздух</li>
                  <li>Проводится автоматизация систем контроля технологических процессов</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-style__bottom">
          <div class="swiper-button-prev protection-slider__swiper-button-prev"></div>
          <div class="swiper-pagination protection-slider__swiper-pagination"></div>
          <div class="swiper-button-next protection-slider__swiper-button-next"></div>
        </div>
      </div>
    </div>
    <div class="protection-slider__row">
      <h3 class="protection-slider__title h3">Обращение с отходами</h3>
      <div class="swiper swiper-style protection-slider__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide protection-slider__slide">
            <div class="protection-slider__item">
              <div class="protection-slider__item-image">
                <img loading="lazy" src="img/jpg/image/image17.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="protection-slider__item-content">
                <strong>Полигон</strong>
                <ul>
                  <li>Предприятие имеет собственный объект размещения отходов IV и V классов опасности (малоопасные
                    и практически неопасные отходы), внесённый в государственный реестр объектов размещения отходов</li>
                  <li>Полигон построен с учётом применения наилучших доступных технологий, с положительным заключением
                    государственной экологической экспертизы и введён в эксплуатацию в 2016 году</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide protection-slider__slide">
            <div class="protection-slider__item">
              <div class="protection-slider__item-image">
                <img loading="lazy" src="img/jpg/image/image18.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="protection-slider__item-content">
                <strong>Утилизация и обезвреживание отходов</strong>
                <ul>
                  <li>Отходы I–IV классов опасности передаются сторонним организациям на обезвреживание и утилизацию
                  </li>
                  <li>У комбината заключены договоры с лицензированными организациями в области обращения с отходами
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide protection-slider__slide">
            <div class="protection-slider__item">
              <div class="protection-slider__item-image">
                <img loading="lazy" src="img/jpg/image/image19.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="protection-slider__item-content">
                <strong>Раздельный сбор</strong>
                <ul>
                  <li>На комбинате внедрён и постоянно совершенствуется процесс раздельного сбора различных видов
                    отходов
                    и вторичных материалов</li>
                  <li>Комбинат участвует в эколого-благотворительном проекте по сбору пластиковых крышечек «Крышечки
                    ДоброТы»</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide protection-slider__slide">
            <div class="protection-slider__item">
              <div class="protection-slider__item-image">
                <img loading="lazy" src="img/jpg/image/image20.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="protection-slider__item-content">
                <strong>Проекты</strong>
                <ul>
                  <li>Комбинат стремится к развитию экономики замкнутого цикла, поэтому ищет пути сбора и передачи
                    в переработку вторичных материалов, инициирует проекты по сокращению количества отходов, размещаемых
                    на полигоне</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-style__bottom">
          <div class="swiper-button-prev protection-slider__swiper-button-prev"></div>
          <div class="swiper-pagination protection-slider__swiper-pagination"></div>
          <div class="swiper-button-next protection-slider__swiper-button-next"></div>
        </div>
      </div>
    </div>
    <div class="protection-slider__row">
      <h3 class="protection-slider__title h3">Контроль и мониторинг</h3>
      <div class="swiper swiper-style protection-slider__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide protection-slider__slide">
            <div class="protection-slider__item">
              <div class="protection-slider__item-image">
                <img loading="lazy" src="img/jpg/image/image21.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="protection-slider__item-content">
                <strong>Мониторинг промышленных выбросов</strong>
                <ul>
                  <li>На комбинате работает аккредитованная санитарно-промышленная лаборатория (СПЛ)</li>
                  <li>Контроль за выбросами загрязняющих веществ в атмосферный воздух от источников, а также замеры
                    эффективности газоочистного оборудования выполняются силами лаборантов СПЛ</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide protection-slider__slide">
            <div class="protection-slider__item">
              <div class="protection-slider__item-image">
                <img loading="lazy" src="img/jpg/image/image22.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="protection-slider__item-content">
                <strong>Качество атмосферного воздуха</strong>
                <ul>
                  <li>В городе Светогорск действует стационарный пост по отбору проб воздуха для определения содержания
                    загрязняющих веществ. Пост работает по согласованному графику. Анализы проводят сотрудники комбината
                    в лаборатории за пределами производства</li>
                  <li>Дополнительно лаборантами еженедельно производятся отборы проб атмосферного воздуха в пяти точках
                    города
                    Светогорск (маршрутный контроль)</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide protection-slider__slide">
            <div class="protection-slider__item">
              <div class="protection-slider__item-image">
                <img loading="lazy" src="img/jpg/image/image23.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="protection-slider__item-content">
                <strong>Контроль качества сточных вод</strong>
                <ul>
                  <li>Контроль за сбросами загрязняющих веществ в водные объекты осуществляется силами аккредитованной
                    лаборатории комбината и дополнительными сторонними лабораториями на постоянной основе</li>
                  <li>На предприятии также внедрены методы постоянного мониторинга и контроля стокообразования
                    с отдельных
                    производств и цехов, что позволяет своевременно реагировать на возможные изменения</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide protection-slider__slide">
            <div class="protection-slider__item">
              <div class="protection-slider__item-image">
                <img loading="lazy" src="img/jpg/image/image24.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="protection-slider__item-content">
                <strong>Природные воды</strong>
                <ul>
                  <li>Аккредитованная санитарно-промышленная лаборатория (СПЛ) производит отбор проб и выполняет анализы
                    природных вод выше и ниже от мест сброса сточных вод по течению рек</li>
                  <li>СПЛ совместно с другими лабораториями осуществляет мониторинг воздействия объекта размещения
                    отходов
                    предприятия на водные ресурсы</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-slide protection-slider__slide">
            <div class="protection-slider__item">
              <div class="protection-slider__item-image">
                <img loading="lazy" src="img/jpg/image/image76.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="protection-slider__item-content">
                <strong>Замеры рабочей зоны</strong>
                <ul>
                  <li>Один из первых приоритетов компании – безопасность. Поэтому аккредитованная санитарно-промышленная
                    лаборатория (СПЛ) выполняет контроль условий труда сотрудников путем проведения замеров в воздухе
                    рабочей зоны на содержание загрязняющих веществ, а также анализ физических факторов (уровень шума,
                    вибрации, электро-магнитное излучение, микроклимат и пр.)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-style__bottom">
          <div class="swiper-button-prev protection-slider__swiper-button-prev"></div>
          <div class="swiper-pagination protection-slider__swiper-pagination"></div>
          <div class="swiper-button-next protection-slider__swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-color protection-system">
  <div class="container protection-system__container">
    <div class="protection-system__content">
      <h2 class="protection-system__title h2">
        Система экологического менеджмента
      </h2>
      <div class="protection-system__text content">
        <p>ГОСТ Р ИСО 14001 –национальный стандарт системы экологического менеджмента (идентичен международному
          стандарту) . Наличие сертификата соответствия данному стандарту говорит о приверженности компании следовать
          высоким требованиям систем управления для минимизации негативного воздействия на окружающую среду</p>
      </div>
    </div>
    <div class="protection-system__right">
      <div class="protection-system__image">
        <img loading="lazy" src="img/jpg/image/image25.jpg" class="image" width="" height="" alt="">
      </div>
    </div>
  </div>
</section>

<section class="section-color protection-doc">
  <div class="container">
    <div class="protection-doc__block">
      <h3 class="protection-doc__title h3">Документация</h3>
      <div class="protection-doc__items">
        <div class="doc protection-doc__item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" target="_blank">Сертификат соответствия ISO 14001</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc protection-doc__item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" target="_blank">Название документа</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc protection-doc__item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" target="_blank">Название документа</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc protection-doc__item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" target="_blank">Сертификат соответствия ISO 14001</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc protection-doc__item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" target="_blank">Название документа</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc protection-doc__item">
          <div class="doc__icon"></div>
          <div class="doc__content">
            <a href="#" class="doc__name" target="_blank">Название документа</a>
            <div class="doc__line">
              <div class="doc__date">08 ноября 2022</div>
              <div class="doc__size">1.90 Мб</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>