<section class="preview breadcrumbs-inv forestry-preview">
  @include('../../templates/breadcrumbs.html')
  <div class="swiper preview__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="preview__item forestry-preview__item">
          <div class="preview__image forestry-preview__image">
            <picture>
              <source media="(max-width: 768px)" srcset="img/jpg/backgr/forestry-bg-mobile.jpg">
              <source media="(max-width: 1366px)" srcset="img/jpg/backgr/forestry-bg-tablet.jpg">
              <img src="img/jpg/backgr/forestry-bg.jpg" alt="">
            </picture>
          </div>
          <div class="container">
            <div class="preview__content forestry-preview__content">
              <h1 class="preview__title forestry-preview__title h1">Устойчивое лесопользование</h1>
              <div class="preview__text forestry-preview__text">
                <p>Нам, как ответственному производителю, важно, чтобы лес был здоровым и сильным, поэтому мы активно
                  занимаемся
                  восстановлением и сохранением лесов для будущих поколений.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-color forestry">
  <div class="container">
    <div class="forestry__container">
      <div class="forestry__column">
        <h2 class="forestry__title h2">
          Ответственное лесопользование
        </h2>
        <div class="forestry__content content">
          <p>В своей работе мы опираемся на экологические ценности и интересы местных сообществ:</p>
          <ul>
            <li>сохраняем <b>24%</b> управляемых нами лесов для мест обитания редких животных и растений</li>
            <li>выделяем часть лесов для нужд местного населения дополнительно, сверх требований законодательства</li>
            <li>высаживаем <b>3 сеянца взамен 1</b> заготовленного дерева</li>
          </ul>
        </div>
      </div>
      <div class="forestry__right">
        <div class="forestry__image">
          <img loading="lazy" src="img/png/image/img1.png" class="image" width="" height="" alt="">
        </div>
      </div>
    </div>
    <div class="forestry-rational">
      <div class="forestry-rational__image">
        <img loading="lazy" src="img/jpg/image/image4.jpg" class="image" width="" height="" alt="">
      </div>
      <div class="forestry-rational__right">
        <div class="forestry-rational__content">
          <h3 class="forestry-rational__title h3">
            Рациональное использование древесины
          </h3>
          <div class="forestry-rational__content content">
            <p>Бумагу производят примерно из 1/3 дерева, так называемого баланса. Этот вид древесины не подходит
              для создания
              товаров широкого потребления. Если производители бумаги не будут закупать балансовую часть, которая
              остаётся
              при заготовке леса, она не пойдёт на какое‑либо другое производство и это приведёт к росту отходов в лесу.
            </p>
            <p>Также для изготовления бумаги мы дополнительно закупаем щепу, которая является побочным продуктом
              лесопильных
              производств. В свою очередь отходы, получаемые при производстве целлюлозы, в том числе кора, используются
              на ТЭЦ для генерации энергии и тепла для комбината и города.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-color forestry-complex">
  <div class="container forestry-complex__container">
    <div class="forestry-complex__content">
      <h3 class="forestry-complex__title h3">
        Комплексный подход к ведению лесного хозяйства
      </h3>
      <div class="forestry-complex__text content">
        <p>Лесозаготовка — лишь часть большого цикла, в который также входят лесовосстановление и уход за молодым
          и средневозрастным лесом.</p>
        <p>В своей работе мы используем ответственную модель ведения лесного хозяйства: сохраняем ценные участки леса,
          высаживаем около 1 миллиона новых деревьев в год, ухаживаем за лесом, даём возможность для роста молодым
          и сильным деревьям, предотвращаем лесные пожары и следим за порядком на арендуемых лесных участках.</p>
      </div>
      <button class="btn-reset button-video forestry-complex__video">
        <div class="button-video__icon"></div>
        <div class="button-video__name">Смотреть видео</div>
      </button>
    </div>
    <div class="forestry-complex__image">
      <img loading="lazy" src="img/png/image/img2.png" class="image" width="" height="" alt="">
    </div>
  </div>
</section>

<section class="section-color forestry-slider">
  <div class="container">
    <div class="swiper swiper-style forestry-slider__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide forestry-slider__slide">
          <div class="forestry-slider__item">
            <div class="forestry-slider__item-image">
              <img loading="lazy" src="img/jpg/image/image5.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="forestry-slider__item-content">
              <a href="#" class="forestry-slider__item-name">
                Ответственные поставщики древесины
              </a>
              <div class="forestry-slider__item-text card-text-show">
                <p>Мы сотрудничаем только с теми поставщиками, которые осуществляют заготовку древесины в соответствии
                  с российскими нормативами, а также соответствуют и международным стандартам.</p>
                <p>Мы сотрудничаем только с теми поставщиками, которые осуществляют заготовку древесины в соответствии
                  с российскими нормативами, а также соответствуют и международным стандартам.</p>
                <p>Мы сотрудничаем только с теми поставщиками, которые осуществляют заготовку древесины в соответствии
                  с российскими нормативами, а также соответствуют и международным стандартам.</p>
              </div>
              <div class="forestry-slider__item-bottom card-button-more">
                <button class="btn-reset forestry-slider__item-button">
                  <div class="txt1">Подробнее</div>
                  <div class="txt2">Скрыть</div>
                </button>
                <div class="forestry-slider__item-arrow"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide forestry-slider__slide">
          <div class="forestry-slider__item">
            <div class="forestry-slider__item-image">
              <img loading="lazy" src="img/jpg/image/image6.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="forestry-slider__item-content">
              <a href="#" class="forestry-slider__item-name">
                Лесовосстановление
              </a>
              <div class="forestry-slider__item-text card-text-show">
                <p>Мы высаживаем в среднем 3 новых сеянца хвойных пород взамен 1 заготовленного дерева или около
                  1 миллиона сеянцев в год.</p>
              </div>
              <div class="forestry-slider__item-bottom card-button-more">
                <button class="btn-reset forestry-slider__item-button">
                  <div class="txt1">Подробнее</div>
                  <div class="txt2">Скрыть</div>
                </button>
                <div class="forestry-slider__item-arrow"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide forestry-slider__slide">
          <div class="forestry-slider__item">
            <div class="forestry-slider__item-image">
              <img loading="lazy" src="img/jpg/image/image7.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="forestry-slider__item-content">
              <a href="#" class="forestry-slider__item-name">
                Охрана леса
              </a>
              <div class="forestry-slider__item-text card-text-show">
                <p>Мы благодарны лесу за те ресурсы, которые он нам дает, и заботимся о нем, поддерживая чистоту и
                  порядок.</p>
              </div>
              <div class="forestry-slider__item-bottom card-button-more">
                <button class="btn-reset forestry-slider__item-button">
                  <div class="txt1">Подробнее</div>
                  <div class="txt2">Скрыть</div>
                </button>
                <div class="forestry-slider__item-arrow"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide forestry-slider__slide">
          <div class="forestry-slider__item">
            <div class="forestry-slider__item-image">
              <img loading="lazy" src="img/jpg/image/image8.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="forestry-slider__item-content">
              <a href="#" class="forestry-slider__item-name">
                Сохранение биоразнообразия
              </a>
              <div class="forestry-slider__item-text card-text-show">
                <p>Мы бережно сохраняем места обитания целого десятка популяций редких животных и свыше шестидесяти
                  уникальных видов растений.</p>
              </div>
              <div class="forestry-slider__item-bottom card-button-more">
                <button class="btn-reset forestry-slider__item-button">
                  <div class="txt1">Подробнее</div>
                  <div class="txt2">Скрыть</div>
                </button>
                <div class="forestry-slider__item-arrow"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide forestry-slider__slide">
          <div class="forestry-slider__item">
            <div class="forestry-slider__item-image">
              <img loading="lazy" src="img/jpg/image/image8.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="forestry-slider__item-content">
              <a href="#" class="forestry-slider__item-name">
                Сохранение биоразнообразия
              </a>
              <div class="forestry-slider__item-text card-text-show">
                <p>Мы бережно сохраняем места обитания целого десятка популяций редких животных и свыше шестидесяти
                  уникальных видов растений.</p>
              </div>
              <div class="forestry-slider__item-bottom card-button-more">
                <button class="btn-reset forestry-slider__item-button">
                  <div class="txt1">Подробнее</div>
                  <div class="txt2">Скрыть</div>
                </button>
                <div class="forestry-slider__item-arrow"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-style__bottom">
        <div class="swiper-button-prev forestry-slider__swiper-button-prev"></div>
        <div class="swiper-pagination forestry-slider__swiper-pagination"></div>
        <div class="swiper-button-next forestry-slider__swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>