.objects-preview {
  &__item {
    &::before {
      opacity: 0.7;
      background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    }
  }

  &__text {
    max-width: 943px;
  }
}

@media screen and (max-width: $laptop) {
  .objects-preview {
    &__item {
      padding-top: 92px;
      padding-bottom: 80px;
      min-height: 324px;
    }

    &__text {
      max-width: 943px;
    }
  }
}

@media screen and (max-width: $mob) {
  .objects-preview {
    &__item {
      padding-top: 72px;
      padding-bottom: 96px;
      min-height: 360px;
    }

    &__title {
      margin-bottom: 16px;
    }

    &__text {
      max-width: 943px;
    }
  }
}

.objects {
  background: linear-gradient(180deg, #FFF 0%, #EFF2F7 29.15%);

  &__container {
    @include flexColumn;
    row-gap: 40px;
  }

  &__item {
    padding: 60px 80px;
    border-radius: 20px;
    background-color: $white;
    box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
    display: grid;
    grid-template-columns: auto 420px;
    column-gap: 60px;

    &:nth-child(even) {
      grid-template-columns: 420px auto;

      .objects__item-content {
        order: 2;
      }

      .objects__item-image {
        order: 1;
      }
    }

    &-image {
      @include imageCoverWidth;
      height: 492px;
      flex-shrink: 0;
    }

    &-name {
      @extend %bold32;
      color: $green;
      margin-bottom: 24px;
    }

    &-text {
      @extend %regular16;
      margin-bottom: 32px;

      p {
        @include mb(12px);
      }
    }

    &-line {
      background-color: $greyLine;
      width: 100%;
      height: 1px;
    }

    &-socials {
      margin-top: 32px;

      .social-link {
        @include mb(12px);
      }

      .address {
        column-gap: 8px;

        .social-link__icon {
          width: 24px;
          height: 24px;
          padding: 2px 3.5px;
        }
      }

      .mail {
        column-gap: 8px;

        .social-link__icon {
          width: 24px;
          height: 24px;
        }

        a {
          color: $green;
        }
      }

      .tel {
        a {
          @extend %regular16;
        }
      }

    }
  }
}

@media screen and (max-width: $laptop) {
  .objects {
    &__container {
      row-gap: 24px;
    }

    &__item {
      padding: 40px;
      column-gap: 40px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .objects {
    &__item {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 16px;

      &:nth-child(even) {

        grid-template-columns: repeat(1, 1fr);
      }

      &-content {
        order: 2;
      }

      &-image {
        order: 1;
        width: 420px;
      }
    }
  }
}

@media screen and (max-width: $mob) {
  .objects {

    &__container {
      row-gap: 16px;
    }

    &__item {
      padding: 16px;

      &-name {
        margin-bottom: 8px;
      }

      &-text {
        font-size: 16px;
        line-height: 24px;

        p {
          @include mb(8px);
        }

        margin-bottom: 8px;
      }

      &-content {
        order: 2;
      }

      &-image {
        width: 100%;
        height: 180px;
      }

      &-socials {
        margin-top: 8px;
      }

      .social-link {
        column-gap: 8px;

        span,
        a {
          font-size: 16px;
          line-height: 24px;
        }
      }

      .objects__item-socials .social-link:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}