<section class="management">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <h1 class="management__title h1">Руководство компании</h1>
    <div class="management__container">
      <div class="management__image">
        <img loading="lazy" src="img/png/collaborators/photo1.png" class="image" width="" height="" alt="">
      </div>
      <div class="management__right">
        <div class="management__icon">
          <img loading="lazy" src="." class="image" width="" height="" alt="">
        </div>
        <div class="management__content content">
          <p>Обращение Тимура Габидуллина:</p>
          <p>Дорогие друзья, добро пожаловать на сайт НПАО «Светогорский ЦБК».</p>
          <p>Наша компания — один из ведущих производителей целлюлозно-бумажной промышленности, а также
            системообразующее
            предприятие с более чем 135-летней историей. За все эти годы мы доказали, что являемся надёжным партнёром,
            поставщиком, клиентом и работодателем.</p>
          <p>Ежедневно почти две тысячи наших талантливых и высококвалифицированных профессионалов трудятся
            над созданием
            качественных продуктов для жизни людей. Мы стремимся быть инновационной компанией, надёжным и ответственным
            партнёром во всех аспектах своей работы.</p>
          <p>На сайте вы найдёте подробную информацию о нас и наших продуктах.</p>
          <p>Наши специалисты всегда готовы ответить на вопросы и предложения.</p>
        </div>
        <div class="management__bottom">
          <div class="management__author">
            <p>С уважением,<br>
              <b>Тимур Габидуллин</b>,<br>
              директор НПАО «Светогорский ЦБК»</p>
          </div>
          <button class="btn-reset button-video management__video">
            <div class="button-video__icon"></div>
            <div class="button-video__name">Смотреть видеоинтервью</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-color management-gallery">
  <div class="container management-gallery__items">
    <div class="management-gallery__item">
      <div class="management-gallery__item-image">
        <img loading="lazy" src="img/png/collaborators/photo2.png" class="image" width="" height="" alt="">
      </div>
      <div class="management-gallery__item-content">
        <div class="management-gallery__item-name">Анна Введенская</div>
        <div class="management-gallery__item-post">Директор по управлению цепочкой поставок</div>
      </div>
    </div>
    <div class="management-gallery__item">
      <div class="management-gallery__item-image">
        <img loading="lazy" src="img/png/collaborators/photo3.png" class="image" width="" height="" alt="">
      </div>
      <div class="management-gallery__item-content">
        <div class="management-gallery__item-name">Анна Дорогостайская</div>
        <div class="management-gallery__item-post">Директор по управлению персоналом
          и корпоративным коммуникациям</div>
      </div>
    </div>
    <div class="management-gallery__item">
      <div class="management-gallery__item-image">
        <img loading="lazy" src="img/png/collaborators/photo4.png" class="image" width="" height="" alt="">
      </div>
      <div class="management-gallery__item-content">
        <div class="management-gallery__item-name">Артем Дунаев</div>
        <div class="management-gallery__item-post">Директор по маркетингу и продажам белых бумаг. Россия</div>
      </div>
    </div>
    <div class="management-gallery__item">
      <div class="management-gallery__item-image">
        <img loading="lazy" src="img/png/collaborators/photo5.png" class="image" width="" height="" alt="">
      </div>
      <div class="management-gallery__item-content">
        <div class="management-gallery__item-name">Ольга Зацепина</div>
        <div class="management-gallery__item-post">Директор по закупкам, управлению продукцией и JMA</div>
      </div>
    </div>
    <div class="management-gallery__item">
      <div class="management-gallery__item-image">
        <img loading="lazy" src="img/png/collaborators/photo6.png" class="image" width="" height="" alt="">
      </div>
      <div class="management-gallery__item-content">
        <div class="management-gallery__item-name">Татьяна Конакова</div>
        <div class="management-gallery__item-post">Директор по повышению эффективности и цифровым технологиям</div>
      </div>
    </div>
    <div class="management-gallery__item">
      <div class="management-gallery__item-image">
        <img loading="lazy" src="img/png/collaborators/photo7.png" class="image" width="" height="" alt="">
      </div>
      <div class="management-gallery__item-content">
        <div class="management-gallery__item-name">Александр Кочнев</div>
        <div class="management-gallery__item-post">Директор по упродажам белых бумаг, офсетной бумаги и БХТММ</div>
      </div>
    </div>
    <div class="management-gallery__item">
      <div class="management-gallery__item-image">
        <img loading="lazy" src="img/png/collaborators/photo8.png" class="image" width="" height="" alt="">
      </div>
      <div class="management-gallery__item-content">
        <div class="management-gallery__item-name">Елена Лавренева</div>
        <div class="management-gallery__item-post">Директор по лесообеспечению и развитию бизнеса</div>
      </div>
    </div>
    <div class="management-gallery__item">
      <div class="management-gallery__item-image">
        <img loading="lazy" src="img/png/collaborators/stub.png" class="image" width="" height="" alt="">
      </div>
      <div class="management-gallery__item-content">
        <div class="management-gallery__item-name">Олег Лебедев</div>
        <div class="management-gallery__item-post">Руководитель юридической службы по России и СНГ</div>
      </div>
    </div>
    <div class="management-gallery__item">
      <div class="management-gallery__item-image">
        <img loading="lazy" src="img/png/collaborators/photo9.png" class="image" width="" height="" alt="">
      </div>
      <div class="management-gallery__item-content">
        <div class="management-gallery__item-name">Александр Мизулин</div>
        <div class="management-gallery__item-post">Директор по инновациям и повышению эффективности</div>
      </div>
    </div>
    <div class="management-gallery__item">
      <div class="management-gallery__item-image">
        <img loading="lazy" src="img/png/collaborators/photo10.png" class="image" width="" height="" alt="">
      </div>
      <div class="management-gallery__item-content">
        <div class="management-gallery__item-name">Олег Рыбников</div>
        <div class="management-gallery__item-post">Исполнительный директор</div>
      </div>
    </div>
    <div class="management-gallery__item">
      <div class="management-gallery__item-image">
        <img loading="lazy" src="img/png/collaborators/photo11.png" class="image" width="" height="" alt="">
      </div>
      <div class="management-gallery__item-content">
        <div class="management-gallery__item-name">Арпад Йона</div>
        <div class="management-gallery__item-post">Директор по финансам и стратегии</div>
      </div>
    </div>
    <div class="management-gallery__item">
      <div class="management-gallery__item-image">
        <img loading="lazy" src="img/png/collaborators/stub.png" class="image" width="" height="" alt="">
      </div>
      <div class="management-gallery__item-content">
        <div class="management-gallery__item-name">Сергей Танащук</div>
        <div class="management-gallery__item-post">Директор по связям с государственными структурами</div>
      </div>
    </div>
    <div class="management-gallery__item">
      <div class="management-gallery__item-image">
        <img loading="lazy" src="img/png/collaborators/stub.png" class="image" width="" height="" alt="">
      </div>
      <div class="management-gallery__item-content">
        <div class="management-gallery__item-name">Инна Тимошевская</div>
        <div class="management-gallery__item-post">Директор по продажам картона</div>
      </div>
    </div>
    <button class="btn-reset management-gallery__button"><span>Скрыть всех руководителей</span></button>
  </div>
</section>
