<section class="success">
  @include('../../templates/breadcrumbs.html')
  <div class="container success__container">
    <div class="success__content">
      <h1 class="success__title h1">Запрос отправлен</h1>
      <div class="success__text content">
        <p>Наш специалист свяжется с вами для утонения деталей запроса</p>
      </div>
      <a href="#" class="button-doc success__button">Главная страница</a>
    </div>
    <div class="success__image">
      <img loading="lazy" src="img/png/image/img14.png" class="image" width="" height="" alt="">
    </div>
  </div>
</section>
