.video-single {
  padding-bottom: 100px;
  background: linear-gradient(180deg, #FFF 0%, #EFF2F7 99.96%);
  box-shadow: -10px -10px 20px 0px #FFF, 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25);

  &__head {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__link-head {
    margin-bottom: 16px;
  }

  &__date {
    @extend %bold12;
    color: $txtDate;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__title {
    color: $dark;
    animation: inherit;
    background: inherit;
    -webkit-text-fill-color: inherit;
  }

  &__content {
    .content-video {
      &::after {
        background: rgba(0, 0, 0, 0.40);
      }
    }
  }
}

.news-other {
  .media__item {
    height: 100%;
  }
}
