<section class="preview breadcrumbs-inv development-preview"
  style=" background-image: url(img/jpg/backgr/development-backgr.jpg);">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <div class="preview__content development-preview__content">
      <h1 class="preview__title development-preview__title h1">Устойчивое развитие</h1>
      <div class="preview__text development-preview__text">
        <p>На всех этапах своей деятельности мы следуем принципам устойчивого развития, которые основаны на
          ответственном отношении к сотрудникам, партнерам, обществу и окружающей среде.</p>
      </div>
    </div>
  </div>
</section>

<div class="development">
  <div class="container">
    <div class="development__items">
      <a href="#" class="development__item card">
        <div class="card__inner">
          <div class="card__image">
            <img loading="lazy" src="img/jpg/develop1.jpg" class="image" width="" height="" alt="">
          </div>
          <div class="card__name">Устойчивое лесопользование</div>
        </div>
      </a>
      <a href="#" class="development__item card">
        <div class="card__inner">
          <div class="card__image">
            <img loading="lazy" src="img/jpg/develop2.jpg" class="image" width="" height="" alt="">
          </div>
          <div class="card__name">Безопасность труда</div>
        </div>
      </a>
      <a href="#" class="development__item card">
        <div class="card__inner">
          <div class="card__image">
            <img loading="lazy" src="img/jpg/develop3.jpg" class="image" width="" height="" alt="">
          </div>
          <div class="card__name">Социальная ответственность</div>
        </div>
      </a>
      <a href="#" class="development__item card">
        <div class="card__inner">
          <div class="card__image">
            <img loading="lazy" src="img/jpg/develop4.jpg" class="image" width="" height="" alt="">
          </div>
          <div class="card__name">Охрана окружающей среды </div>
        </div>
      </a>
    </div>

  </div>
</div>
