<div class="tabs" data-tabs="tab">
  <section class="documents-head">
    @include('../../templates/breadcrumbs.html')
    <div class="container">
      <h1 class="documents-head__title h1">Документы</h1>
      <ul class="list-reset tabs__nav documents-head__nav">
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn button-tab" type="button">Лесная
            сертификация</button>
        </li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn button-tab" type="button">Политики</button>
        </li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn button-tab" type="button">Сертификаты на
            системы менеджмента</button>
        </li>
      </ul>
    </div>
  </section>

  <section class="documents section-color">
    <div class="container">

      <div class="tabs__content">
        <div class="tabs__panel">
          <div class="documents__items">
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon"></div>
                <div class="doc__content">
                  <a href="documents/ЗАО Тихвинский КЛПХ_Процедура рассмотрение жалоб, споров и предложений.pdf"
                    class="doc__name" target="_blank">ЗАО Тихвинский КЛПХ_Процедура рассмотрение жалоб, споров и
                    предложений</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon"></div>
                <div class="doc__content">
                  <a href="ЗАО Тихвинский КЛПХ_Резюме отчета по мониторингу хозяйственной деятельности за 2022 г.pdf"
                    class="doc__name" target="_blank">ЗАО Тихвинский КЛПХ_Резюме отчета по мониторингу хозяйственной
                    деятельности за 2022 г</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon"></div>
                <div class="doc__content">
                  <a href="ЗАО Тихвинский КЛПХ_Резюме плана управления лесами.pdf" class="doc__name" download=""
                    target="_blank">ЗАО Тихвинский КЛПХ_Резюме плана управления лесами</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon"></div>
                <div class="doc__content">
                  <a href="Светогорский ЦБК_Приложение 1 к СДД.pdf" class="doc__name" download=""
                    target="_blank">Светогорский ЦБК_Приложение 1 к СДД</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon"></div>
                <div class="doc__content">
                  <a href="Светогорский ЦБК_Самодекларация в отношении ценностей системы Лесной эталон.pdf"
                    class="doc__name" target="_blank">Светогорский ЦБК_Самодекларация в отношении ценностей системы
                    Лесной эталон</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon"></div>
                <div class="doc__content">
                  <a href="Светогорский ЦБК_Система Должной Добросовестности СДД для соблюдения требований к закупкам древесины от 01.01.2024.pdf"
                    class="doc__name" target="_blank">Светогорский ЦБК_Система Должной Добросовестности СДД для
                    соблюдения требований к закупкам древесины от 01.01.2024</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination documents__pagination">
              <div class="pagination__arrow pagination__arrow-prev"></div>
              <div class="pagination__item">1</div>
              <div class="pagination__item">2</div>
              <div class="pagination__item">3</div>
              <div class="pagination__item">5</div>
              <div class="pagination__item active">6</div>
              <div class="pagination__item">7</div>
              <div class="pagination__item">10</div>
              <div class="pagination__arrow pagination__arrow-next"></div>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="documents__items">
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon"></div>
                <div class="doc__content">
                  <a href="Политика в области качества, экологии, безопасности труда и охраны здоровья от 05.05.2023.pdf"
                    class="doc__name" target="_blank">Политика в области качества, экологии, безопасности труда и охраны
                    здоровья от 05.05.2023</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon"></div>
                <div class="doc__content">
                  <a href="Политика в области обеспечения безопасности пищевой продукции от 05.05.2023.pdf"
                    class="doc__name" target="_blank">Политика в области обеспечения безопасности пищевой продукции от
                    05.05.2023</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination documents__pagination">
              <div class="pagination__arrow pagination__arrow-prev"></div>
              <div class="pagination__item">1</div>
              <div class="pagination__item">2</div>
              <div class="pagination__item">3</div>
              <div class="pagination__item">5</div>
              <div class="pagination__item active">6</div>
              <div class="pagination__item">7</div>
              <div class="pagination__item">10</div>
              <div class="pagination__arrow pagination__arrow-next"></div>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="documents__items">
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon"></div>
                <div class="doc__content">
                  <a href="Сертификат FSSC 22000_рус.pdf" class="doc__name" target="_blank">Сертификат FSSC
                    22000_рус</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon"></div>
                <div class="doc__content">
                  <a href="Сертификат ISO 9001_англ.pdf" class="doc__name" target="_blank">Сертификат ISO 9001_англ</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon"></div>
                <div class="doc__content">
                  <a href="Сертификат ISO 45001_англ.pdf" class="doc__name" target="_blank">Сертификат ISO
                    45001_англ</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon"></div>
                <div class="doc__content">
                  <a href="Сертификат ГОСТ Р ИСО 9001-2015_рус.pdf" class="doc__name" download=""
                    target="_blank">Сертификат ГОСТ Р ИСО 9001-2015_рус</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon"></div>
                <div class="doc__content">
                  <a href="Сертификат ГОСТ Р ИСО 14001-2016_рус.pdf" class="doc__name" download=""
                    target="_blank">Сертификат ГОСТ Р ИСО 14001-2016_рус</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon"></div>
                <div class="doc__content">
                  <a href="Сертификат ГОСТ Р ИСО 22000_рус.pdf" class="doc__name" target="_blank">Сертификат ГОСТ Р ИСО
                    22000_рус</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon"></div>
                <div class="doc__content">
                  <a href="Сертификат ГОСТ Р ИСО 45001-2020_рус.pdf" class="doc__name" download=""
                    target="_blank">Сертификат ГОСТ Р ИСО 45001-2020_рус</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination documents__pagination">
              <div class="pagination__arrow pagination__arrow-prev"></div>
              <div class="pagination__item active">1</div>
              <div class="pagination__item">2</div>
              <div class="pagination__item">3</div>
              <div class="pagination__item">5</div>
              <div class="pagination__item">6</div>
              <div class="pagination__item">7</div>
              <div class="pagination__item">10</div>
              <div class="pagination__arrow pagination__arrow-next"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>