<div class="tabs" data-tabs="tab">
  <section class="documents-head">
    @include('../../templates/breadcrumbs.html')
    <div class="container">
      <h1 class="documents-head__title h1">Документы</h1>
      <ul class="list-reset tabs__nav documents-head__nav">
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn button-tab active" type="button">Результаты и
            отчеты</button>
        </li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn button-tab" type="button">Раскрытие
            информации</button>
        </li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn button-tab" type="button">Корпоративные
            документы</button>
        </li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn button-tab" type="button">Информационная
            безопасность</button>
        </li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn button-tab" type="button">Прочие</button>
        </li>
      </ul>
    </div>
  </section>

  <section class="documents section-color">
    <div class="container">

      <div class="tabs__content">
        <div class="tabs__panel">
          <div class="documents__items">
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 9001-2015 RU</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 37301-2021</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Приоритеты НПАО «Светогорский ЦБК»</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Management system certificate ISO 9001-2015 ENG</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 9001-2015 RU</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 37301-2021</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Приоритеты НПАО «Светогорский ЦБК»</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Management system certificate ISO 9001-2015 ENG</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination documents__pagination">
              <div class="pagination__arrow pagination__arrow-prev"></div>
              <div class="pagination__item">1</div>
              <div class="pagination__item">2</div>
              <div class="pagination__item">3</div>
              <div class="pagination__item">4</div>
              <div class="pagination__item">5</div>
              <div class="pagination__item active">6</div>
              <div class="pagination__item">7</div>
              <div class="pagination__item">8</div>
              <div class="pagination__item">9</div>
              <div class="pagination__item">10</div>
              <div class="pagination__arrow pagination__arrow-next"></div>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="documents__items">
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 9001-2015 RU</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 37301-2021</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Приоритеты НПАО «Светогорский ЦБК»</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Management system certificate ISO 9001-2015 ENG</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 9001-2015 RU</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 37301-2021</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Приоритеты НПАО «Светогорский ЦБК»</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Management system certificate ISO 9001-2015 ENG</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination documents__pagination">
              <div class="pagination__arrow pagination__arrow-prev"></div>
              <div class="pagination__item">1</div>
              <div class="pagination__item">2</div>
              <div class="pagination__item">3</div>
              <div class="pagination__item">4</div>
              <div class="pagination__item">5</div>
              <div class="pagination__item active">6</div>
              <div class="pagination__item">7</div>
              <div class="pagination__item">8</div>
              <div class="pagination__item">9</div>
              <div class="pagination__item">10</div>
              <div class="pagination__arrow pagination__arrow-next"></div>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="documents__items">
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 9001-2015 RU</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 37301-2021</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Приоритеты НПАО «Светогорский ЦБК»</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Management system certificate ISO 9001-2015 ENG</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 9001-2015 RU</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 37301-2021</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Приоритеты НПАО «Светогорский ЦБК»</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Management system certificate ISO 9001-2015 ENG</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination documents__pagination">
              <div class="pagination__arrow pagination__arrow-prev"></div>
              <div class="pagination__item">1</div>
              <div class="pagination__item">2</div>
              <div class="pagination__item">3</div>
              <div class="pagination__item">4</div>
              <div class="pagination__item">5</div>
              <div class="pagination__item active">6</div>
              <div class="pagination__item">7</div>
              <div class="pagination__item">8</div>
              <div class="pagination__item">9</div>
              <div class="pagination__item">10</div>
              <div class="pagination__arrow pagination__arrow-next"></div>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="documents__items">
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 9001-2015 RU</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 37301-2021</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Приоритеты НПАО «Светогорский ЦБК»</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Management system certificate ISO 9001-2015 ENG</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 9001-2015 RU</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 37301-2021</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Приоритеты НПАО «Светогорский ЦБК»</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Management system certificate ISO 9001-2015 ENG</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination documents__pagination">
              <div class="pagination__arrow pagination__arrow-prev"></div>
              <div class="pagination__item">1</div>
              <div class="pagination__item">2</div>
              <div class="pagination__item">3</div>
              <div class="pagination__item">4</div>
              <div class="pagination__item">5</div>
              <div class="pagination__item active">6</div>
              <div class="pagination__item">7</div>
              <div class="pagination__item">8</div>
              <div class="pagination__item">9</div>
              <div class="pagination__item">10</div>
              <div class="pagination__arrow pagination__arrow-next"></div>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="documents__items">
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 9001-2015 RU</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 37301-2021</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Приоритеты НПАО «Светогорский ЦБК»</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Management system certificate ISO 9001-2015 ENG</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 9001-2015 RU</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Сертификат соответствия стандарту ISO 37301-2021</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Приоритеты НПАО «Светогорский ЦБК»</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Management system certificate ISO 9001-2015 ENG</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents__item">
              <div class="doc">
                <div class="doc__icon">
                  <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
                </div>
                <div class="doc__content">
                  <a href="#" class="doc__name" download="" target="_blank">Кодекс деловой этики</a>
                  <div class="doc__line">
                    <div class="doc__date">08 ноября 2022</div>
                    <div class="doc__size">1.90 Мб</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination documents__pagination">
              <div class="pagination__arrow pagination__arrow-prev"></div>
              <div class="pagination__item">1</div>
              <div class="pagination__item">2</div>
              <div class="pagination__item">3</div>
              <div class="pagination__item">4</div>
              <div class="pagination__item">5</div>
              <div class="pagination__item active">6</div>
              <div class="pagination__item">7</div>
              <div class="pagination__item">8</div>
              <div class="pagination__item">9</div>
              <div class="pagination__item">10</div>
              <div class="pagination__arrow pagination__arrow-next"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
