.materials {
  background: linear-gradient(180deg, #FFF 0%, #EFF2F7 99.96%);
  padding-bottom: 100px;

  &__title {
    margin-top: 40px;
    margin-bottom: 64px;
  }

  &__subtitle {
    color: $green;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: $laptop) {
  .materials {
    padding-bottom: 64px;

    &__title {
      margin-top: 16px;
      margin-bottom: 24px;
    }

    &__subtitle {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 24px;
    }
  }
}

@media screen and (max-width: $mob) {
  .materials {
    padding-bottom: 40px;

    &__subtitle {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 16px;
    }
  }
}

.materials-cooperation {
  margin-bottom: 64px;

  &__items {
    @include gridColumn(5);
    column-gap: 16px;
  }

  &__item {
    border-radius: 20px;
    overflow: hidden;
    background-color: $white;
    box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
    padding: 24px;
    @include flexColumn;
    row-gap: 20px;

    &-image {
      border-radius: 666px;
      background-color: $greyCircle;
      box-shadow: -10px -10px 20px 0px #FFF inset, 10px 10px 20px 0px rgba(170, 170, 204, 0.50) inset, 5px 5px 10px 0px rgba(170, 170, 204, 0.25) inset, -5px -5px 10px 0px rgba(255, 255, 255, 0.50) inset;
      width: 120px;
      height: 120px;
      flex-shrink: 0;
      @include flexCCenter;
      margin: 0 auto;

      &-inner {
        width: 48px;
        height: 48px;
        flex-shrink: 0;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &-content {
      text-align: center;
    }

    &-step {
      color: $green;
      margin-bottom: 8px;
    }

    &-info {
      @extend %regular24-32;
      word-break: break-word;

      span {
        font-weight: 700;
        text-decoration: underline;
        color: $green;
      }
    }
  }
}

@media screen and (max-width: $laptop) {
  .materials-cooperation {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: $tablet) {
  .materials-cooperation {
    &__items {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 16px;
    }
  }
}

@media screen and (max-width: $mob) {
  .materials-cooperation {
    margin-bottom: 24px;

    &__items {
      grid-template-columns: repeat(1, 1fr);
    }

    &__item {
      padding: 16px;
      row-gap: 16px;

      &-image {
        width: 80px;
        height: 80px;
      }

      &-name {
        margin-bottom: 2px;
      }
    }
  }
}

.materials-info {
  border-radius: 20px;
  background-color: $white;
  box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
  padding: 64px;

  &__title {
    color: $green;
    margin-bottom: 40px;
  }

  &__items {
    @include gridColumn(2);
    column-gap: 60px;
    row-gap: 30px;
  }
}

@media screen and (max-width: $laptop) {
  .materials-info {
    padding: 40px;
  }
}

@media screen and (max-width: $mob) {
  .materials-info {
    padding: 16px;

    &__title {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 16px;
    }

    &__items {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 16px;
    }

    &__item {
      column-gap: 12px;
    }

    .doc-info {
      &__icon {
        width: 48px;
        height: 48px;

        &-inner {
          width: 24px;
          height: 24px;
        }
      }

      &__name {
        margin-bottom: 12px;
      }
    }

  }
}