.offset-preview {

  &__item {
    padding-top: 83px;
    padding-bottom: 80px;
    min-height: 600px;

    &::before {
      display: none;
    }
  }

  &__content {
    margin-top: 30px;
  }

  &__logo {
    width: 238px;
    height: 160px;
    flex-shrink: 0;
    margin-bottom: 16px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    max-width: 597px;
    margin-bottom: 40px;
  }

  &__info {
    column-gap: 64px;
  }

  &__link {
    padding: 14px 70px 14px 32px;
  }
}

@media screen and (max-width: $laptop) {}

@media screen and (max-width: $tablet) {}

@media screen and (max-width: $mob) {}

.offset-tech {
  background: linear-gradient(180deg, #FFF 0%, #EFF2F7 10.93%);

  &__container {
    @include flexColumn;
    row-gap: 64px;
  }

  &__item {
    display: grid;
    grid-template-columns: 5fr 7fr;
    align-items: center;

    &:nth-child(even) {
      grid-template-columns: 7fr 5fr;

      .offset-tech__item-image {
        order: 2;
      }

      .offset-tech__item-content {
        order: 1;
        padding-left: 0;
        padding-right: 60px;
      }
    }

    &-image {
      @include imageCoverWidth;
      height: 400px;
      flex-shrink: 0;
      overflow: hidden;
      border-radius: 20px;
      box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
    }

    &-content {
      padding-left: 60px;
    }

    &-name {
      color: $green;
      margin-bottom: 16px;
    }
  }
}


.offset-use {
  background: var(--6, linear-gradient(258deg, #FFF 18.23%, #EFF2F7 87.8%));
  box-shadow: 0px 0px 30px 0px rgba(170, 170, 204, 0.50) inset, 0px 5px 20px 0px rgba(170, 170, 204, 0.25) inset, 0px 5px 10px 0px rgba(170, 170, 204, 0.25) inset;
  background-image: url(../img/jpg/backgr/bg.jpg);
  @include bgcover;

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__item {
    border-radius: 20px;
    background-color: $white;
    box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.20);
    overflow: hidden;
    height: 300px;
    @include imageCoverWidth;
    flex-shrink: 0;
  }
}

.offset-advan {
  background: linear-gradient(180deg, #FFF 0%, #EFF2F7 99.96%);
  box-shadow: -10px -10px 20px 0px #FFF, 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25);

  &__title {
    margin-bottom: 40px;
  }

  &__items {
    @include gridColumn(4);
    column-gap: 40px;
  }

  &__item {
    text-align: center;

    &-image {
      @include flexCCenter;
      border-radius: 666px;
      background-color: $greyCircle;
      box-shadow: -10px -10px 20px 0px #FFF inset, 10px 10px 20px 0px rgba(170, 170, 204, 0.50) inset, 5px 5px 10px 0px rgba(170, 170, 204, 0.25) inset, -5px -5px 10px 0px rgba(255, 255, 255, 0.50) inset;
      width: 100px;
      height: 100px;
      flex-shrink: 0;
      margin: 0 auto;
      margin-bottom: 24px;

      &-inner {
        width: 64px;
        height: 64px;
        flex-shrink: 0;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &-name {
      color: $green;
      margin-bottom: 8px;
    }


    &-text {
      @extend %regular20;
    }
  }
}

.offset-info {
  background-color: $blue;

  &__container {
    @include flexColumn;
    row-gap: 100px;
  }
}

.offset-table {
  &__title {
    margin-bottom: 40px;
  }
}

.offset-doc {
  border-radius: 20px;
  background-color: $white;
  box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
  padding: 64px;

  &__title {
    color: $green;
    margin-bottom: 40px;
  }

  &__items {
    @include gridColumn(3);
    column-gap: 40px;
    row-gap: 40px;
  }
}

.offset-partners {
  background: linear-gradient(180deg, #FFF 0%, #EFF2F7 99.96%);

  &__title {
    margin-bottom: 40px;
  }

  &__image {
    border-radius: 20px;
    background-color: $white;
    box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.20);
    overflow: hidden;
    @include imageCoverWidth;
    height: 180px;
  }
}

.offset-buy {
  border-radius: 20px;
  background: linear-gradient(89deg, #004D43 0%, #02B45E 105.3%);
  box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
  padding: 60px 64px;

  &__block {
    background-color: $blue;
    padding-bottom: 100px;
  }

  &__title {
    color: $white;
    margin-bottom: 40px;
  }

  &__items {
    @include gridColumn(4);
    column-gap: 40px;
  }

  &__item {
    &-name {
      @extend %bold18;
      color: $white;
      margin-bottom: 12px;
    }

    .social-link {
      &__icon {
        width: 24px;
        height: 24px;
      }

      a,
      span {
        color: $white;
      }
    }
  }
}