@include('../../templates/breadcrumbs.html')
<section class="presskit">
  <div class="container">
    <h1 class="presskit__title h1">Контакты и материалы для СМИ</h1>
    <div class="presskit__container">
      <div class="presskit__content">
        <div class="presskit__items">
          <div class="presskit__item">
            <div class="presskit__item-image">
              <img loading="lazy" src="img/svg/elements/elem1.png" class="image" width="" height="" alt="">
            </div>
            <div class="presskit__item-content">
              <a href="#" class="presskit__item-name">Фирменный стиль. Руководство по использованию</a>
              <div class="presskit__item-bottom">
                <div class="presskit__item-date">08 ноября 2022</div>
                <div class="presskit__item-size">1.90 Мб</div>
              </div>
            </div>
          </div>
          <div class="presskit__item">
            <div class="presskit__item-image">
              <img loading="lazy" src="img/svg/elements/elem2.png" class="image" width="" height="" alt="">
            </div>
            <div class="presskit__item-content">
              <a href="#" class="presskit__item-name">Логотип НПАО «Светогорский ЦБК»</a>
              <div class="presskit__item-bottom">
                <div class="presskit__item-date">08 ноября 2022</div>
                <div class="presskit__item-size">1.90 Мб</div>
              </div>
            </div>
          </div>
          <div class="presskit__item">
            <div class="presskit__item-image">
              <img loading="lazy" src="img/svg/elements/elem3.png" class="image" width="" height="" alt="">
            </div>
            <div class="presskit__item-content">
              <a href="#" class="presskit__item-name">Презентация о компании</a>
              <div class="presskit__item-bottom">
                <div class="presskit__item-date">08 ноября 2022</div>
                <div class="presskit__item-size">1.90 Мб</div>
              </div>
            </div>
          </div>
          <div class="presskit__item">
            <div class="presskit__item-image">
              <img loading="lazy" src="img/svg/elements/elem4.png" class="image" width="" height="" alt="">
            </div>
            <div class="presskit__item-content">
              <a href="#" class="presskit__item-name">Пресс релизы</a>
              <div class="presskit__item-bottom">
                <div class="presskit__item-date">08 ноября 2022</div>
                <div class="presskit__item-size">1.90 Мб</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="presskit__contacts">
        <h5 class="presskit__contacts-name h5">Дирекция по коммуникациям
          и связям с общественностью</h5>
        <div class="presskit__contacts-socials">
          <div class="social-link tel">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/social/phone-green.svg" class="image" width="" height="" alt="">
            </div>
            <a href="mailto:+7 812 334-57-30">+7 812 334-57-30</a>
          </div>
          <div class="social-link mail">
            <div class="social-link__icon">
              <img loading="lazy" src="img/svg/social/mail-green.svg" class="image" width="" height="" alt="">
            </div>
            <a href="mailto:info@svetocbk.ru">info@svetocbk.ru</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
