.documents-head {
  background: linear-gradient(110deg, #E8EEF2 3.93%, #FBFDFF 100%);
  box-shadow: -10px -10px 20px 0px #FFF inset, -10px -10px 20px 0px rgba(170, 170, 204, 0.50) inset, 5px 5px 10px 0px rgba(170, 170, 204, 0.25) inset, 5px 5px 10px 0px rgba(255, 255, 255, 0.50) inset;
  padding-bottom: 100px;

  &__title {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__nav {
    column-gap: 16px;
    flex-wrap: wrap;
  }
}

.documents {
  background: linear-gradient(180deg, #FFF 0%, #EFF2F7 29.15%);

  &__items {
    @include gridColumn(2);
    column-gap: 40px;
    row-gap: 40px;
  }

  &__item {
    padding: 40px;
    border-radius: 20px;
    background-color: $white;
    box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
  }

  &__pagination {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
