<section class="preview internship-preview">
  @include('../../templates/breadcrumbs.html')
  <div class="swiper preview__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="preview__item internship-preview__item">
          <div class="preview__image internship-preview__image">
            <picture>
              <source media="(max-width: 1366px)" srcset="img/jpg/backgr/internship-bg-tablet.jpg">
              <img src="img/jpg/backgr/internship-bg.jpg" alt="">
            </picture>
          </div>
          <div class="container">
            <div class="preview-image__content internship-preview__content">
              <h1 class="preview-image__title internship-preview__title h1">Стажировка</h1>
              <div class="preview-image__text internship-preview__text">
                <p><strong>Преемственность поколений, привлечение молодых талантливых сотрудников, свежий взгляд и
                    инновационный подход – наши приоритеты</strong></p>
                <p>Мы предлагаем программы стажировок для выпускников и старшекурсников. Мы создаем в атмосферу доверия
                  и уважения, где молодые таланты работают как равноправные члены команды и приобретают ценные навыки
                  для развития карьеры
                </p>
              </div>
              <div class="preview-image__info internship-preview__info">
                <a href="https://forms.yandex.ru/cloud/6489a37ce010db0375077f5f/" class="button-doc preview-image__link internship-preview__link" download=""
                  target="_blank">Заполнить заявку на участие</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-color internship-block-light">
  <div class="container internship-block-light__container">
    <div class="internship-application">
      <div class="internship-application__content">
        <!-- <div class="internship-application__content-name h4">
          Заполнить заявку на участие
        </div> -->
        <div class="internship-application__content-text content">
          <p>С 2009 года у нас успешно работает программа привлечения молодых талантов под названием «ВЗЛЁТ».</p>
          <p>Ежегодно мы привлекаем выпускников высших учебных заведений и помогаем им погрузиться в профессиональную
            жизнь
            крупной производственной компании под руководством опытных наставников.</p>
          <p>С самого первого дня работы мы ставим участникам реальные задачи и включаем их в серьёзные проекты
            различных
            подразделений, чтобы они освоили новые инструменты операционного и коммерческого совершенства.</p>
          <p>Также мы предлагаем студентам старших курсов пройти краткосрочную оплачиваемую стажировку в профильных
            департаментах</p>
        </div>
      </div>
      <div class="internship-application__image">
        <img loading="lazy" src="img/jpg/image/image47.jpg" class="image" width="" height="" alt="">
      </div>
    </div>
    <div class="internship-share">
      <div class="internship-share__name h5">
        Заявки на участие в стажировках и программе «ВЗЛЁТ» принимаются в течение всего года!
      </div>
      <button class="btn-reset button-doc internship-share__button">
        Заполнить заявку на участие
      </button>
    </div>
    <div class="internship-join">
      <div class="internship-join__name h5">
        Присоединяйтесь к нашей группе Вконтакте «Светогорский&nbsp;ЦБК | Карьера» и получайте актуальную информацию о
        наших
        вакансиях и стажировках!
      </div>
      <a href="#" class="button-doc internship-join__button">Присоединиться</a>
      <div class="internship-join__image-qr">
        <img loading="lazy" src="img/png/image/qr-code-vk.png" class="image" width="" height="" alt="">
      </div>
    </div>
  </div>
</section>