<section class="interview">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <h1 class="interview__title h1">
      Интервью с сотрудниками
    </h1>
    <div class="interview__text content">
      <p><strong>Наши коллеги о карьере в НПАО «Светогорский ЦБК»</strong></p>
    </div>
    <div class="swiper swiper-style interview__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide interview__slide">
          <div class="interview__item">
            <div class="interview__item-image">
              <img loading="lazy" src="img/png/collaborators/photo14.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="interview__item-content">
              <div class="interview__item-name h4">Максим Баркин</div>
              <div class="interview__item-post">инженер-электроник</div>
              <!-- <div class="interview__item-exp">Работает в компании с 2012 года. Прошла путь от менеджера колл-центра
                до начальника отдела по сопровождению договоров и регистрации.</div> -->
              <div class="interview__item-text content">
                <p>После техникума я устроился слесарем КИПиА в монтажную бригаду. После работал электриком на фабрике
                  санитарных бумаг. Высшее образование получил на факультете автоматизации химико-технологических
                  процессов в институте СПбГТУРП и по окончании института мне предложили должность инженера-электроника.
                  Моя основная функция – настройка и конфигурация имеющегося программного обеспечения
                  программно-технической структуры производства картона и бумаги для поддержания качественной и
                  бесперебойной работы бумагоделательной машины. Команда у нас отличная, дружная, мы прекрасно
                  сработались. Всегда уверен, что коллеги придут на помощь в любой сложной ситуации.</p>
                <p>Также меня всегда увлекала история родного края. Всегда было интересно, как люди жили раньше. Мне
                  нравится находить какие-то факты из прошлого, увлекаюсь поиском исторических артефактов. В свое
                  свободное время я занимаюсь оцифровкой фотоархивов музея трудовой славы Светогорского ЦБК. Здорово,
                  когда имеешь возможность делать то, что тебе нравится, не только непосредственно в работе. В этих
                  пленках все удивительно. Это как машина времени – фантастическая возможность побывать в прошлом.
                  Интересно встречать знакомых на фотографиях, читать заметки в старых газетах о городе и производстве.
                  Очень нравится реакция людей, которые узнают своих родственников, свои дома, свой Светогорск из
                  прошлого.</p>
              </div>
              <!-- <button class="btn-reset button-video interview__item-video" data-graph-path="modal5">
                <div class="button-video__icon">
                  <img loading="lazy" src="img/svg/video/play.svg" class="image" width="" height="" alt="">
                </div>
                <div class="button-video__name">Смотреть видеоинтервью</div>
              </button> -->
            </div>
          </div>
        </div>
        <div class="swiper-slide interview__slide">
          <div class="interview__item">
            <div class="interview__item-image">
              <img loading="lazy" src="img/png/collaborators/photo15.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="interview__item-content">
              <div class="interview__item-name h4">Алиса Сосян</div>
              <div class="interview__item-post">помощник офиса</div>
              <!-- <div class="interview__item-exp">Работает в компании с 2012 года. Прошла путь от менеджера колл-центра
                до начальника отдела по сопровождению договоров и регистрации.</div> -->
              <div class="interview__item-text content">
                <p>В нашей компании я отвечаю за порядок и оснащение комнаты приема пищи в офисе СПб, за обеспечение
                  расходными материалами офисной оргтехники, помогаю коллегам с копированием, брошюрированием,
                  ламинированием и утилизацией документов. Также я занимаюсь отправкой и получением документов от
                  курьерской службы и контрагентов, работой с системой оформления командировок, регистрирую документы в
                  онлайн-системе. У меня с детства диагностировано нарушение слуха, но я искренне рада, что в НПАО
                  «Светогорский ЦБК» с добротой и уважением относятся к сотрудникам с особыми возможностями, развивают
                  направление инклюзии, поддерживают многообразие и действительно помогают каждому найти свое место в
                  жизни, полноценно работать и развиваться. В компании мне нравится работать. Работа разнообразная,
                  позволяющая набраться опыта и развивать свои навыки. Есть мотивация и стремление развиваться. Нравится
                  отношение коллег ко мне. Компании хочу пожелать преодолеть все трудности и развиваться стремительно.
                  Стать первыми на рынке! Вместе мы сила!</p>
              </div>
              <!-- <button class="btn-reset button-video interview__item-video" data-graph-path="modal5">
                <div class="button-video__icon">
                  <img loading="lazy" src="img/svg/video/play.svg" class="image" width="" height="" alt="">
                </div>
                <div class="button-video__name">Смотреть видеоинтервью</div>
              </button> -->
            </div>
          </div>
        </div>
        <div class="swiper-slide interview__slide">
          <div class="interview__item">
            <div class="interview__item-image">
              <img loading="lazy" src="img/png/collaborators/photo16.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="interview__item-content">
              <div class="interview__item-name h4">Татьяна Митрофанова</div>
              <div class="interview__item-post">начальник службы управления территорией предприятия</div>
              <!-- <div class="interview__item-exp">Работает в компании с 2012 года. Прошла путь от менеджера колл-центра
                до начальника отдела по сопровождению договоров и регистрации.</div> -->
              <div class="interview__item-text content">
                <p>Я переехала в Светогорск из Санкт-Петербурга, когда решила принять участие в программе развития
                  молодых талантов и развиваться в крупной промышленной компании. Я долго искала плюсы переезда в
                  маленький город из мегаполиса, сначала было не просто. Все друзья остались в Санкт-Петербурге, здесь я
                  почти никого не знала. Но плюсы для себя нашла: все очень компактно расположено, есть вся необходимая
                  инфраструктура для жилья, досуга и спорта, красивая природа и до Санкт-Петербурга 2-3 часа езды.
                  Вообще, с любимой работой и единомышленниками по жизни, увлечениями, хобби скучать не приходится.
                  Летом – это пляжный отдых, рыбалка, дача, шашлыки, баня. Можно заниматься футболом, волейболом,
                  круглый год кататься на коньках (на улице или в новой современной ледовой арене), играть в хоккей.
                  Зимой – лыжи, прогулки на природе. Можно и в мегаполис съездить, погулять по городу, культурно
                  просветиться, отдохнуть по своему желанию, возможностям и вернуться домой.</p>
                <p>В нашем коллективе, наверное, самое главное – это открытость и доверие. Мы – как одна большая семья, знаем о
                  радостях и жизненных проблемах друг друга, всегда помогаем друг другу, никогда не оставим в беде. А
                  еще у нас работают очень творческие и трудолюбивые люди! Ты еще не успел задачу до конца сформулировать, а к
                  вечеру она уже решена. Такие сотрудники – большая редкость. В отделе у нас много разноплановых задач и
                  различных проектов каждый день, поэтому всегда есть место для поиска новых идей, своего развития и
                  вдохновения. Главное, чтобы у самого человека было желание.</p>
              </div>
              <!-- <button class="btn-reset button-video interview__item-video" data-graph-path="modal5">
                <div class="button-video__icon">
                  <img loading="lazy" src="img/svg/video/play.svg" class="image" width="" height="" alt="">
                </div>
                <div class="button-video__name">Смотреть видеоинтервью</div>
              </button> -->
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-style__bottom">
        <div class="swiper-button-prev interview__swiper-button-prev"></div>
        <div class="swiper-pagination interview__swiper-pagination"></div>
        <div class="swiper-button-next interview__swiper-button-next"></div>
      </div>
    </div>
    <div class="interview-join">
      <div class="interview-join__name h4">Присоединяйтесь к нашей команде</div>
      <a data-graph-path="modal1" class="button-doc interview-join__link">Смотреть вакансии</a>
      <div class="interview-join__socials">
        <div class="social-link tel">
          <div class="social-link__icon">
            <img loading="lazy" src="img/svg/social/phone-green.svg" class="image" width="" height="" alt="">
          </div>
          <a href="mailto:+7 812 334-57-30">+7 812 334-57-30</a>
        </div>
        <div class="social-link mail">
          <div class="social-link__icon">
            <img loading="lazy" src="img/svg/social/mail-green.svg" class="image" width="" height="" alt="">
          </div>
          <a href="mailto:HRrussia@svetopaper.com">HRrussia@svetopaper.com</a>
        </div>
      </div>
    </div>
  </div>
</section>