@include('../../templates/breadcrumbs.html')
<section class="media">
  <div class="container">
    <h1 class="media__title h1">Фото и видео</h1>
    <div class="media__items">
      <div class="media__item">
        <a href="#" class="media__item-image">
          <img loading="lazy" src="img/jpg/image/image60.jpg" class="image" width="" height="" alt="">
        </a>
        <div class="media__item-content">
          <a href="#" class="media__item-name">Главный приоритет Светогорского ЦБК — безопасность</a>
          <div class="media__item-bottom">
            <div class="media__item-date">11 июля 2023</div>
            <a href="#" class="media__item-link">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="media__item">
        <a href="#" class="media__item-image video">
          <img loading="lazy" src="img/jpg/image/image61.jpg" class="image" width="" height="" alt="">
        </a>
        <div class="media__item-content">
          <a href="#" class="media__item-name">Участие в Career Days в университете ИТМО</a>
          <div class="media__item-bottom">
            <div class="media__item-date">11 июля 2023</div>
            <a href="#" class="media__item-link">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="media__item">
        <a href="#" class="media__item-image">
          <img loading="lazy" src="img/jpg/image/image62.jpg" class="image" width="" height="" alt="">
        </a>
        <div class="media__item-content">
          <a href="#" class="media__item-name">Главный приоритет Светогорского ЦБК — безопасность</a>
          <div class="media__item-bottom">
            <div class="media__item-date">11 июля 2023</div>
            <a href="#" class="media__item-link">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="media__item">
        <a href="#" class="media__item-image">
          <img loading="lazy" src="img/jpg/image/image63.jpg" class="image" width="" height="" alt="">
        </a>
        <div class="media__item-content">
          <a href="#" class="media__item-name">Главный приоритет Светогорского ЦБК — безопасность</a>
          <div class="media__item-bottom">
            <div class="media__item-date">11 июля 2023</div>
            <a href="#" class="media__item-link">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="media__item">
        <a href="#" class="media__item-image video">
          <img loading="lazy" src="img/jpg/image/image64.jpg" class="image" width="" height="" alt="">
        </a>
        <div class="media__item-content">
          <a href="#" class="media__item-name">Участие в Career Days в университете ИТМО</a>
          <div class="media__item-bottom">
            <div class="media__item-date">11 июля 2023</div>
            <a href="#" class="media__item-link">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="media__item">
        <a href="#" class="media__item-image">
          <img loading="lazy" src="img/jpg/image/image65.jpg" class="image" width="" height="" alt="">
        </a>
        <div class="media__item-content">
          <a href="#" class="media__item-name">Главный приоритет Светогорского ЦБК — безопасность</a>
          <div class="media__item-bottom">
            <div class="media__item-date">11 июля 2023</div>
            <a href="#" class="media__item-link">
              <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="pagination media__pagination">
        <div class="pagination__arrow pagination__arrow-prev"></div>
        <div class="pagination__item">1</div>
        <div class="pagination__item">2</div>
        <div class="pagination__item">3</div>
        <div class="pagination__item">4</div>
        <div class="pagination__item">5</div>
        <div class="pagination__item active">6</div>
        <div class="pagination__item">7</div>
        <div class="pagination__item">8</div>
        <div class="pagination__item">9</div>
        <div class="pagination__item">10</div>
        <div class="pagination__arrow pagination__arrow-next"></div>
      </div>
    </div>
  </div>
</section>
