<section class="releases">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <h1 class="releases__title h1">Пресс релизы</h1>
    <div class="releases__block">
      <div class="releases__items">
        <div class="doc-info releases__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Название pdf файла</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc-info releases__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Название pdf файла</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc-info releases__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Название pdf файла</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc-info releases__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Название pdf файла</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc-info releases__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Название pdf файла</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc-info releases__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Название pdf файла</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc-info releases__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Название pdf файла</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc-info releases__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Название pdf файла</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc-info releases__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Название pdf файла</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc-info releases__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Название pdf файла</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc-info releases__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Название pdf файла</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc-info releases__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Название pdf файла</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc-info releases__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Название pdf файла</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
        <div class="doc-info releases__item">
          <div class="doc-info__icon">
            <div class="doc-info__icon-inner">
              <img loading="lazy" src="img/svg/icons/file.svg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="doc-info__content">
            <a href="#" class="doc-info__name" download="" target="_blank">Название pdf файла</a>
            <div class="doc-info__line">
              <div class="doc-info__date">08 ноября 2022</div>
              <div class="doc-info__size">1.90 Мб</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination releases__pagination">
      <div class="pagination__arrow pagination__arrow-prev"></div>
      <div class="pagination__item">1</div>
      <div class="pagination__item">2</div>
      <div class="pagination__item">3</div>
      <div class="pagination__item">4</div>
      <div class="pagination__item">5</div>
      <div class="pagination__item active">6</div>
      <div class="pagination__item">7</div>
      <div class="pagination__item">8</div>
      <div class="pagination__item">9</div>
      <div class="pagination__item">10</div>
      <div class="pagination__arrow pagination__arrow-next"></div>
    </div>
  </div>
</section>