.internship-preview {
  &__item {
    padding-top: 90px;
    padding-bottom: 85px;
    min-height: 570px;

    &::before {
      display: none;
    }
  }

  &__title {
    color: $dark;
    margin-bottom: 16px;
  }

  &__text {
    @extend %regular24-32;
    max-width: 757px;
    margin-bottom: 16px;

    p {
      color: $dark;
      @include mb(12px);

      strong,
      b {
        font-weight: 700;
      }
    }
  }

  &__link {
    padding: 14px 70px 14px 32px;
  }
}

@media screen and (max-width: $laptop) {
  .internship-preview {

    &__item {
      padding-top: 60px;
      padding-bottom: 32px;
      min-height: auto;
    }

    &__text {
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: $mob) {
  .internship-preview {
    .breadcrumbs {
      a,
      span {
        color: $white;
      }

      &__separator {
        background-image: url(../img/svg/arrows/arrow-right-grey.svg);
      }
    }

    &__item {
      background: linear-gradient(89deg, #004D43 0%, #02B45E 105.3%);
      padding-top: 64px;
    }

    &__image {
      display: none;
    }

    &__title {
      color: $white;
    }

    &__text {
      font-size: 16px;
      line-height: 24px;

      p {
        color: $white;
      }
    }
  }
}

.internship-block-light {
  background: linear-gradient(180deg, #FFF 0%, #EFF2F7 71.32%);

  &__container {
    @include flexColumn;
    row-gap: 64px;
  }
}

@media screen and (max-width: $laptop) {
  .internship-block-light {
    &__container {
      row-gap: 40px;
    }
  }
}

.internship-application {
  display: grid;
  grid-template-columns: auto 500px;
  column-gap: 60px;

  &__content {
    &-name {
      color: $green;
      margin-bottom: 24px;
    }

    &-text {
      p {
        font-size: 18px;
        line-height: 26px;

        &:not(:first-child) {
          margin-top: 12px;
        }

        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
  }

  &__image {
    @include imageCoverWidth;
    height: 360px;
    flex-shrink: 0;
  }
}

@media screen and (max-width: $laptop) {
  .internship-application {
    grid-template-columns: auto 493px;

    &__content {
      &-name {
        margin-bottom: 16px;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .internship-application {
    grid-template-columns: 1fr;

    &__image {
      display: none;
    }
  }
}

@media screen and (max-width: $mob) {
  .internship-application {
    &__content {
      &-name {
        font-size: 24px;
        line-height: 32px;
      }

      &-text {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

}

.internship-share {
  border-radius: 20px;
  background: linear-gradient(87deg, #004D43 -39.36%, #02B45E 95.64%);
  box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
  padding: 64px 60px;
  @include flexCBetween;
  column-gap: 60px;

  &__name {
    color: $white;
  }

  &__button {
    white-space: nowrap;
    box-shadow: none;
  }
}

@media screen and (max-width: $laptop) {
  .internship-share {
    padding: 40px;
    column-gap: 40px;
  }
}

@media screen and (max-width: $mob) {
  .internship-share {
    padding: 16px;
    flex-direction: column;
    row-gap: 16px;

    &__button {
      width: 100%;
    }
  }
}

.internship-join {
  border-radius: 20px;
  background-color: $white;
  box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
  padding: 40px;
  @include flexCBetween;
  column-gap: 60px;

  &__name {
    color: $green;
  }

  &__button {
    white-space: nowrap;
    box-shadow: none;
  }

  &__image-qr {
    width: 162px;
    height: 162px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: $laptop) {
  .internship-join {
    padding: 40px;
    column-gap: 40px;
  }
}

@media screen and (max-width: $tablet) {
  .internship-join {
    flex-direction: column;
    row-gap: 16px;
  }
}

@media screen and (max-width: $mob) {
  .internship-join {
    padding: 16px;
    &__name {
      font-size: 16px;
      line-height: 24px;
    }

    &__image-qr {
      width: 142px;
      height: 142px;
    }
  }
}