<section class="caring-society" style=" background-image: url(img/jpg/backgr/responsibility-backgr.jpg);">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <div class="caring-society__content">
      <h1 class="caring-society__title h1">Забота об обществе</h1>
    </div>
    <div class="caring-society__block">
      <h4 class="caring-society__name h4">
        Реализация социальной программы
      </h4>
      <div class="caring-society__text content">
        <p>Мы реализуем крупные инвестиционные проекты по поддержке местного сообщества на долгосрочной основе:
          инвестируем
          в развитие социальных объектов города, включая детские и образовательные учреждения, объекты здравоохранения,
          культуры и спорта.</p>
        <p>Приоритетное направление программы — помощь и поддержка образовательных и социальных учреждений Светогорска:
          Политехнического колледжа, детских садов, школ, социального центра и городского стадиона. Благодаря нашим
          усилиям отремонтированы входные группы в нескольких образовательных учреждениях и городской стадион,
          модернизированы классы для занятий, установлены спортивные площадки и многое другое.</p>
        <p>Также мы улучшаем городскую инфраструктуру и вкладываем средства в развитие собственного гостиничного
          комплекса:
          рядом с гостиницей установлен современный игровой комплекс для детей и оборудована спортивная площадка
          для активного досуга наших сотрудников и жителей города.</p>
      </div>
      <div class="swiper swiper_style caring-society__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide caring-society__slide">
            <div class="caring-society__item">
              <div class="caring-society__item-image">
                <img loading="lazy" src="img/jpg/image/image30.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="caring-society__item-content">
                <a href="#" class="caring-society__item-name h6">
                  Строительство универсальной спортивной площадки для Политехнического колледжа в Светогорске
                </a>
                <div class="caring-society__item-text">
                  <p>Новый современный спортивный объект, о котором мечтали студенты Светогорского политехнического
                    колледжа — новая универсальная спортивная площадка в подарок от нашей компании для занятий
                    в волейбол,
                    баскетбол, футбол, теннис.</p>
                </div>
                <div class="caring-society__item-date">2022 год</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide caring-society__slide">
            <div class="caring-society__item">
              <div class="caring-society__item-image">
                <img loading="lazy" src="img/jpg/image/image31.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="caring-society__item-content">
                <a href="#" class="caring-society__item-name h6">
                  Ремонт слесарной и столярной мастерских в Светогорской СОШ
                </a>
                <div class="caring-society__item-text">
                  <p>Благодаря поддержке нашей компании «под ключ» капитально отремонтированы, оснащены новой мебелью,
                    оборудованием, инвентарём столярная и слесарная мастерские в общеобразовательной школе.</p>
                </div>
                <div class="caring-society__item-date">2022 год</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide caring-society__slide">
            <div class="caring-society__item">
              <div class="caring-society__item-image">
                <img loading="lazy" src="img/jpg/image/image32.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="caring-society__item-content">
                <a href="#" class="caring-society__item-name h6">
                  Ремонт входной группы в Светогорской СОШ
                </a>
                <div class="caring-society__item-text">
                  <p>Выполнили капитальные работы по реновации входной группы в Светогорскую общеобразовательную школу:
                    качественно, безопасно, светло, надёжно, долговечно, с обустройством пандуса для маломобильных групп
                    населения.</p>
                </div>
                <div class="caring-society__item-date">11 июля 2023</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper_style__bottom">
        <div class="swiper-button-prev caring-society__swiper-button-prev"></div>
        <div class="swiper-pagination caring-society__swiper-pagination"></div>
        <div class="swiper-button-next caring-society__swiper-button-next"></div>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="section-color responsibility-projects">
  <div class="container">
    <div class="caring-society__block">
      <h4 class="caring-society__name h4">
        Благотворительные проекты
      </h4>
      <div class="caring-society__text content">
        <p> Мы активно развиваем свои программы по реализации социальных и благотворительных инициатив на территории
          г. Светогорска и Ленинградской области, направленные на поддержку детских и образовательных учреждений,
          объектов
          здравоохранения, культуры и спорта.</p>
        <p>На регулярной основе оказываем благотворительную помощь организациям в виде своей продукции. Так, в 2022 году
          различным учреждениям и организациям в качестве помощи было выделено более 11 тонн офисной бумаги формата
          А4 и А3.</p>
      </div>
      <div class="swiper swiper_style caring-society__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide caring-society__slide">
            <div class="caring-society__item">
              <div class="caring-society__item-image">
                <img loading="lazy" src="img/jpg/image/image33.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="caring-society__item-content">
                <a href="#" class="caring-society__item-name h6">
                  Предоставление ИТ оборудования Политехническому колледжу в Светогорске
                </a>
                <div class="caring-society__item-text">
                  <p>Новый современный спортивный объект, о котором мечтали студенты Светогорского политехнического
                    колледжа — новая универсальная спортивная площадка в подарок от нашей компании для занятий
                    в волейбол,
                    баскетбол, футбол, теннис.</p>
                </div>
                <div class="caring-society__item-date">2022 год</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide caring-society__slide">
            <div class="caring-society__item">
              <div class="caring-society__item-image">
                <img loading="lazy" src="img/jpg/image/image34.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="caring-society__item-content">
                <a href="#" class="caring-society__item-name h6">
                  Покупка новой хоккейной формы для светогорской детской хоккейной команды «Фаворит»
                </a>
                <div class="caring-society__item-text">
                  <p>Отшили форму для маленьких чемпионов, которые тренируются в Ледовом дворце Светогорска.</p>
                </div>
                <div class="caring-society__item-date">2022 год</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide caring-society__slide">
            <div class="caring-society__item">
              <div class="caring-society__item-image">
                <img loading="lazy" src="img/jpg/image/image35.jpg" class="image" width="" height="" alt="">
              </div>
              <div class="caring-society__item-content">
                <a href="#" class="caring-society__item-name h6">
                  Подарки на 1 сентября всем первоклассникам Светогорска
                </a>
                <div class="caring-society__item-text">
                  <p>Традиционно ежегодно компания поздравляет учебные заведения местного сообщества с Днём знаний
                    и дарит всем первоклассникам МО «Светогорское городское поселение» подарки на 1 сентября.</p>
                </div>
                <div class="caring-society__item-date">2022 год</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper_style__bottom">
        <div class="swiper-button-prev caring-society__swiper-button-prev"></div>
        <div class="swiper-pagination caring-society__swiper-pagination"></div>
        <div class="swiper-button-next caring-society__swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
