<section class="suppliers-preview">
  @include('../../templates/breadcrumbs.html')
  <div class="container">
    <div class="suppliers-preview__content">
      <h1 class="suppliers-preview__title h1">Информация для поставщиков</h1>
      <div class="suppliers-preview__text">
        <p>Раздел содержит информацию о закупочной деятельности НПАО «Светогорский ЦБК»</p>
      </div>
    </div>
    <div class="suppliers-preview__items">
      <a href="#" class="suppliers-preview__item">
        <div class="suppliers-preview__item-inner">
          <div class="suppliers-preview__item-image">
            <img loading="lazy" src="img/jpg/image/image67.jpg" class="image" width="" height="" alt="">
          </div>
          <h4 class="suppliers-preview__item-name h4">Материалы и услуги</h4>
        </div>
      </a>
      <a href="#" class="suppliers-preview__item">
        <div class="suppliers-preview__item-inner">
          <div class="suppliers-preview__item-image">
            <img loading="lazy" src="img/jpg/image/image68.jpg" class="image" width="" height="" alt="">
          </div>
          <h4 class="suppliers-preview__item-name h4">Лесообеспечение</h4>
        </div>
      </a>
    </div>
  </div>
</section>
