// colors
$white: #ffffff;
$text: #444;
$dark: #181818;
$green: #004D43;
$green-border: #286056;
$yellow: #FFC700;
$grey: #666;
$grey2: #6E6E6E;
$txtDate: #999;
$greyCircle: #F5F5FA;
$greyLine: #E0E0E0;
$stub: #D9D9D9;
$blue: #EFF2F7;
$border: #C8C8C8;
$border-line: #EBEBEB;
$table-line: #F6F6F6;
