.forestry-preview {
  &__item {
    padding-top: 144px;
    padding-bottom: 144px;

    &::before {
      opacity: 0.7;
      background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    }
  }

  &__text {
    max-width: 943px;
  }
}

@media screen and (max-width: $laptop) {
  .forestry-preview {
    &__item {
      padding-top: 92px;
      padding-bottom: 32px;
      min-height: auto;
    }

    &__title {
      margin-bottom: 16px;
    }

    &__text {
      max-width: 958px;
    }
  }
}

@media screen and (max-width: $mob) {
  .forestry-preview {
    &__item {
      padding-top: 78px;
    }
  }
}

.forestry {
  background: linear-gradient(180deg, #FFF 0%, #EFF2F7 99.96%);

  &__container {
    display: grid;
    grid-template-columns: auto 566px;
    column-gap: 60px;
    margin-bottom: 100px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__right {
    @include flexFsCenter;
  }

  &__image {
    width: 443px;
    height: 406px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: $laptop) {
  .forestry {
    &__title {
      margin-bottom: 16px;
    }

    &__container {
      grid-template-columns: auto 443px;
      column-gap: 60px;
      margin-bottom: 64px;
    }

    &__image {
      width: 100%;
    }
  }
}

@media screen and (max-width: $tablet) {
  .forestry {
    &__container {
      grid-template-columns: 1fr;
      row-gap: 16px;
    }

    &__content {
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &__right {
      justify-content: flex-start;
    }

    &__image {
      width: 443px;
    }
  }
}

@media screen and (max-width: $mob) {
  .forestry {
    &__container {
      margin-bottom: 40px;
    }

    &__right {
      justify-content: flex-start;
    }

    &__image {
      width: 288px;
      height: auto;
    }
  }
}

.forestry-rational {
  display: grid;
  grid-template-columns: 11fr 13fr;
  overflow: hidden;
  border-radius: 20px;
  background-color: $greyCircle;
  box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);

  &__image {
    @include imageCoverWidth;
    height: 100%;
  }

  &__right {
    background: linear-gradient(59deg, #004D43 0%, #02B45E 96.87%);
    @include flexCenter;
    padding: 60px;
  }

  &__title {
    color: $white;
    margin-bottom: 24px;
  }

  &__content {
    p {
      color: $white;
    }
  }
}

@media screen and (max-width: $laptop) {
  .forestry-rational {
    &__right {
      padding: 40px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .forestry-rational {
    &__title {
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: $mob) {
  .forestry-rational {
    grid-template-columns: repeat(1, 1fr);

    &__right {
      padding: 16px;
    }

    &__image {
      order: 2;
    }
  }
}

.forestry-complex {
  background-image: url(../img/jpg/backgr/forestry-complex-bg.jpg);
  position: relative;
  @include bgcover;

  &__container {
    @include gridColumn(2);
    align-items: flex-start;
  }

  &__title {
    color: $green;
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 48px;
  }

  &__image {
    margin-left: 60px;
    background-color: $white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.50);
    padding: 12px 16px;
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__video {
    .button-video__icon {
      box-shadow: -8px -8px 32px 0px rgba(255, 255, 255, 0.20), 8px 8px 32px 0px rgba(170, 170, 204, 0.50), 4px 4px 16px 0px rgba(170, 170, 204, 0.25), -4px -4px 16px 0px rgba(255, 255, 255, 0.20);
    }
  }
}

@media screen and (max-width: $laptop) {
  .forestry-complex {
    background-image: url(../img/jpg/backgr/forestry-complex-bg-tablet.jpg);

    &__container {
      grid-template-columns: auto 576px;
      column-gap: 40px;
    }

    &__image {
      margin-left: 0;
      padding: 10px 18px;
    }

    &__text {
      margin-bottom: 24px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .forestry-complex {

    &__container {
      grid-template-columns: 1fr;
      row-gap: 16px;
    }

    &__title {
      margin-bottom: 16px;
    }

    &__image {
      width: 567px;
    }
  }
}

@media screen and (max-width: $mob) {
  .forestry-complex {
    background-image: url(../img/jpg/backgr/forestry-complex-bg-mobile.jpg);

    &__image {
      width: 100%;
      padding: 5px 10px;
    }
  }
}

.forestry-slider {
  background: linear-gradient(180deg, #FFF 0%, #EFF2F7 99.96%);

  &__item {
    overflow: hidden;
    border-radius: 20px;
    background-color: $white;
    box-shadow: -10px -10px 10px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.20);

    &-image {
      @include imageCoverWidth;
      height: 210px;
    }

    &-content {
      padding: 24px 24px 32px 24px;
      min-height: 316px;
      box-sizing: border-box;
      @include flexColumn;
      justify-content: flex-start;
    }

    &-name {
      @extend %bold20;
      color: $green;
      display: inline-block;
      margin-bottom: 8px;
    }

    &-text {
      @extend %regular16;
      color: $text;
      flex-shrink: 0;
      margin-bottom: 8px;

      p {
        @include mb(12px);

        &:not(:first-child) {
          display: none;
        }
      }



      &.active {
        height: 100%;

        p {

          &:not(:first-child) {
            display: block;
          }
        }
      }
    }

    &-bottom {
      @include flexFeBetween;
      margin-top: auto;

      &.active {
        .forestry-slider__item-arrow {
          background-image: url(../img/svg/arrow-link-green.svg);
        }

        .forestry-slider__item-button {
          .txt1 {
            display: none;
          }

          .txt2 {
            display: block;
          }
        }
      }
    }

    &-button {
      @extend %regular16;
      color: $green;
      border-bottom: 1px dotted $green;
      cursor: pointer;

      .txt2 {
        display: none;
      }
    }

    &-arrow {
      width: 32px;
      height: 32px;
      flex-shrink: 0;
      background-image: url(../img/svg/arrow-link-dark.svg);
      cursor: pointer;
    }
  }
}

@media screen and (max-width: $laptop) {
  .forestry-slider {
    &__item {
      &-image {
        height: 200px;
      }

      &-name {
        font-size: 18px;
        line-height: 26px;
      }

      &-text {
        font-size: 14px;
        line-height: 20px;
        height: 120px;
      }

      &-content {
        padding: 16px;
      }

    }
  }
}

@media screen and (max-width: $mob) {
  .forestry-slider {
    &__item {
      &-content {
        min-height: auto;
      }

      &-button {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}