.link-download {
  @include flexCStart;
  column-gap: 12px;

  &__icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    @extend %regular20;
    color: $white;
  }
}


