.content {
  @extend %regular20;

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;

    strong,
    b {
      font-weight: 700;
    }

    &:not(:first-child) {
      margin-top: 16px;
    }

    @include mb(16px);
  }

  ul {
    &>li {
      padding-left: 20px;
      position: relative;
      @include mb(12px);

      b {
        @extend %boldArial32;
        color: $green;
      }

      &::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $green;
        left: 0;
        top: 12px;
      }
    }
  }
}

@media screen and (max-width: $mob) {
  .content {
    p {
      font-size: 16px;
      line-height: 24px;

      &:not(:first-child) {
        margin-top: 12px;
      }

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}

.content-text {
  p {
    @extend %regular20;
    @include mb(20px);
  }

  img {
    display: flex;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;

    &:not(:first-child) {
      margin-top: 40px;
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  ul {
    li {
      @include mb(16px);
      padding-left: 17px;
      position: relative;
      @extend %regular20;

      &::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #004D43;
        left: 0;
        top: 12px;
      }
    }
  }
}

.images-slider {
  &:not(:first-child) {
    margin-top: 40px;
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: $mob) {
  .images-slider {
    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &:not(:first-child) {
      margin-top: 24px;
    }
  }
}

.images-gallery__swiper {
  margin-bottom: 16px;

  .images-gallery__image {
    border-radius: 20px;
    overflow: hidden;
    @include imageCoverWidth;
    height: 600px;
    flex-shrink: 0;
  }
}

@media screen and (max-width: $mob) {
  .images-gallery__swiper {
    margin-bottom: 8px;

    .images-gallery__image {
      height: 190px;
    }
  }
}

.images-gallery__swiper-thumbs {
  .images-gallery__image {
    @include imageCoverWidth;
    height: 100px;
    flex-shrink: 0;
    border-radius: 8px;
    overflow: hidden;
    background-color: $stub;
  }
}

@media screen and (max-width: $mob) {
  .images-gallery__swiper-thumbs {
    .images-gallery__image {
      height: 48px;
    }
  }
}

.content-video {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.30);
  @include imageCoverWidth;
  height: 600px;

  &:not(:first-child) {
    margin-top: 40px;
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    background-image: url(../img/svg/video/play.svg);
    @include bgcover;
    box-shadow: 10px 10px 20px 0px rgba(24, 24, 24, 0.50), -5px -5px 10px 0px rgba(24, 24, 24, 0.50);
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.30);
    z-index: 1;
  }
}

@media screen and (max-width: $mob) {
  .content-video {
    height: 190px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &:not(:first-child) {
      margin-top: 24px;
    }

    &::before {
      width: 48px;
      height: 48px;
    }
  }
}