.content {
  @extend %regular20;

  // strong {
  //   @extend %subheader;
  //   margin-bottom: 20px;
  // }

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;

    b {
      font-weight: 700;
    }

    &:not(:first-child) {
      margin-top: 16px;
    }

    @include mb(16px);
  }

  ul {
    &>li {
      padding-left: 20px;
      position: relative;
      @include mb(12px);

      b {
        @extend %boldArial32;
        color: $green;
      }

      &::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $green;
        left: 0;
        top: 12px;
      }
    }
  }
}

// @media screen and (max-width: $laptop) {
//   .content {
//     ul {
//       &>li {
//         padding-left: 32px;
//       }
//     }
//   }
// }
