.doc {
  @include flexFsStart;
  column-gap: 16px;

  &__icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
  }

  &__name {
    @extend %regular18;
    display: inline-block;
    margin-bottom: 8px;
  }

  &__line {
    @include flexCenter;
    column-gap: 40px;
  }

  &__date,
  &__size {
    @extend %regular14;
    color: $grey;
  }
}

.doc-info {
  @include flexCStart;
  column-gap: 24px;

  &__icon {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 20px;
    overflow: hidden;
    background-color: $white;
    box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.20);
    @include flexCCenter;

    &-inner {
      width: 40px;
      height: 40px;
      flex-shrink: 0;

      img {
        width: auto;
        height: 100%;
      }
    }
  }

  &__name {
    @extend %bold20;
    display: inline-block;
    color: $green;
    margin-bottom: 15px;
  }

  &__line {
    @include flexCStart;
    column-gap: 30px;
  }

  &__date,
  &__size {
    @extend %regular12;
  }

  &__size {
    color: $txtDate;
  }
}
