.graph-modal {
  background-color: rgba(0, 0, 0, 0.50);

  &__close {
    background-image: url(../img/svg/arrows/close.svg);
    width: 16px;
    height: 16px;
    padding: 2px;
    flex-shrink: 0;
    @include bgcover;
    right: 12px;
    top: 12px;
  }

  &__container {
    border-radius: 20px;
    background-color: $white;
    box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.20);
    margin-top: 100px;

    &.modal-container1 {
      max-width: 600px;
      padding: 76px 72px 60px 72px;
      text-align: left;
    }

    &.modal-container2 {
      max-width: 980px;
      padding: 52px;
      // text-align: left;
      height: 80vh;

      .graph-modal__content {
        width: 100%;
        height: 100%;

        .modal-content__image {
          height: 100%;

          img {
            width: auto;
          }
        }
      }
    }

    &.modal-container3 {
      max-width: 600px;
      padding: 52px;
      text-align: left;
    }
  }
}

.form {
  &__title {
    margin-bottom: 24px;
  }

  &__subtitle {
    @extend %bold20;
    color: $green;
    margin-bottom: 24px;
  }

  &__label {
    width: 100%;
    display: inline-block;
    @include mb(22px);
  }

  &__input {
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid $greyLine;
    background-color: $white;
    width: 100%;
    outline: none;
    @extend %regular16;

    &::placeholder {
      color: $grey;
    }
  }

  &__textarea {
    padding: 16px 20px;
    border-radius: 4px;
    border: 1px solid $greyLine;
    background-color: $white;
    width: 100%;
    outline: none;
    @extend %regular16;
    height: 140px;
    flex-shrink: 0;
    resize: none;

    &::placeholder {
      color: $grey;
    }
  }

  &__attach {
    @include flexCStart;
    column-gap: 24px;
    margin-bottom: 20px;

    &-info {
      @extend %regular14;
      color: $grey2;
    }
  }

  &__descr {
    @include flexFsStart;
    column-gap: 12px;
    margin-bottom: 24px;

    span {
      display: inline-block;
      @extend %regular12;

      a {
        font-weight: 700;
        text-decoration-line: underline;
        color: $green;
      }
    }
  }
}

.radiobox {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: relative;

  input[type=checkbox] {
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;

    &:checked {
      z-index: 1;
      content: '';
    }

    &:checked+label::after {
      content: '';
      z-index: 2;
    }
  }

  label {
    position: relative;
    width: 20px;
    height: 20px;
    flex-shrink: 0;

    &::after {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      border: 1px solid $greyLine;
      background-color: $white;
    }
  }
}

//

.checkbox {
  position: relative;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0;
  height: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: relative;
  cursor: pointer;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: $white;
  border: 1px solid $greyLine;
  border-radius: 4px;
  flex-shrink: 0;
  flex-grow: 0;
  cursor: pointer;
}

.custom-checkbox+label::after {
  content: '';
  width: 10.667px;
  height: 8.23px;
  flex-shrink: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;

  background-image: url(../img/svg/arrows/check.svg);
  @include bgcover;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked+label::before {
  background-color: $green;
  border: 1px solid $green;
}

.custom-checkbox:checked+label::after {
  opacity: 1;
}

//

.modal-content {
  &__image {
    @include imageCoverWidth;
    height: 600px;
    flex-shrink: 0;
    margin-bottom: 32px;
  }

  &__content {
    p {
      a {

        text-decoration: underline;
        color: $green;
        font-weight: 700;
      }
    }
  }

  &__slider {
    margin-bottom: 32px;
  }

  &__swiper {
    margin-bottom: 16px;

    .modal-content {
      &__slide {
        &-image {
          @include imageCoverWidth;
          height: 600px;
          flex-shrink: 0;
        }
      }
    }
  }

  &__swiper-thumbs {
    .modal-content {
      &__slide {
        &-image {
          @include imageCoverWidth;
          height: 60px;
          flex-shrink: 0;
        }
      }
    }
  }

  &__cert {
    margin-top: 24px;
    @include flexCBetween;
    column-gap: 40px;

    &-image {
      width: 200px;
      height: 280px;
      flex-shrink: 0;
      border-radius: 20px;
      overflow: hidden;
      background-color: $white;
      box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 0.20), 10px 10px 20px 0px rgba(170, 170, 204, 0.50), 5px 5px 10px 0px rgba(170, 170, 204, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.20);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-name {
      @extend %bold18;
    }
  }
}

.modal-content {
  &.modal-image-full {
    .modal-content__image {
      height: auto;
      margin-bottom: 0;
    }
  }
}