.link-head {
  @include flexCStart;
  column-gap: 12px;

  &__icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    @extend %bold16;
    color: $green;
  }
}
