.other {
  background: linear-gradient(180deg, #FFF 0%, #EFF2F7 29.15%);

  &__title {
    color: $green;
    margin-bottom: 40px;
  }

  &__slide {
    height: auto;
  }
}

@media screen and (max-width: $mob) {
  .other {
    &__title {
      margin-bottom: 16px;
    }
  }
}