.preview {
  position: relative;

  .breadcrumbs__wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
  }

  .swiper-slide {
    height: auto;
  }

  &__item {
    min-height: 500px;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    padding-top: 162px;
    padding-bottom: 162px;
    box-sizing: border-box;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      background: linear-gradient(90deg, #181818 0%, rgba(24, 24, 24, 0.00) 100%);
    }
  }

  &__image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__title {
    color: $white;
    margin-bottom: 24px;
  }

  &__text {
    @extend %regular28;

    p {
      color: $white;
    }
  }
}

.preview-image {
  position: relative;
  background-color: $stub;
  min-height: 500px;

  .breadcrumbs {
    &__wrapper {
      position: relative;
      z-index: 1;
    }
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    @include imageCoverWidth;
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__title {
    color: $white;
  }

  &__content {
    @extend %regular24;

    p {
      color: $white;
    }
  }

  &__info {
    @include flexCenter;
  }

  &__link {
    box-shadow: none;
  }
}