@include('../../templates/breadcrumbs.html')
<section class="video-single">
  <div class="container">
    <div class="video-single__head">
      <a href="#" class="link-head video-single__link-head">
        <div class="link-head__icon">
          <img loading="lazy" src="img/svg/arrows/icon-back.svg" class="image" width="" height="" alt="">
        </div>
        <div class="link-head__name">Все фото и видео</div>
      </a>
      <div class="video-single__date">11 июля 2023</div>
      <h1 class="video-single__title h2">Участие в Career Days в университете ИТМО</h1>
    </div>
    <div class="video-single__content content-text">
      <div class="content-video">
        <img loading="lazy" src="img/jpg/image/image66.jpg" class="image" width="" height="" alt="">
      </div>
    </div>
</section>

<section class="section-color other news-other">
  <div class="container">
    <div class="other__title h3">Смотрите также</div>
    <div class="swiper swiper-style other__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide other__slide">
          <div class="media__item">
            <a href="#" class="media__item-image">
              <img loading="lazy" src="img/jpg/image/image60.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="media__item-content">
              <a href="#" class="media__item-name">Главный приоритет Светогорского ЦБК — безопасность</a>
              <div class="media__item-bottom">
                <div class="media__item-date">11 июля 2023</div>
                <a href="#" class="media__item-link">
                  <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide other__slide">
          <div class="media__item">
            <a href="#" class="media__item-image video">
              <img loading="lazy" src="img/jpg/image/image61.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="media__item-content">
              <a href="#" class="media__item-name">Участие в Career Days в университете ИТМО</a>
              <div class="media__item-bottom">
                <div class="media__item-date">11 июля 2023</div>
                <a href="#" class="media__item-link">
                  <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide other__slide">
          <div class="media__item">
            <a href="#" class="media__item-image">
              <img loading="lazy" src="img/jpg/image/image60.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="media__item-content">
              <a href="#" class="media__item-name">Главный приоритет Светогорского ЦБК — безопасность</a>
              <div class="media__item-bottom">
                <div class="media__item-date">11 июля 2023</div>
                <a href="#" class="media__item-link">
                  <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide other__slide">
          <div class="media__item">
            <a href="#" class="media__item-image">
              <img loading="lazy" src="img/jpg/image/image63.jpg" class="image" width="" height="" alt="">
            </a>
            <div class="media__item-content">
              <a href="#" class="media__item-name">Главный приоритет Светогорского ЦБК — безопасность</a>
              <div class="media__item-bottom">
                <div class="media__item-date">11 июля 2023</div>
                <a href="#" class="media__item-link">
                  <img loading="lazy" src="img/svg/arrow-link-dark.svg" class="image" width="" height="" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-style__bottom">
        <div class="swiper-button-prev other__swiper-button-prev"></div>
        <div class="swiper-pagination other__swiper-pagination"></div>
        <div class="swiper-button-next other__swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
