<section class="preview philosophy-preview">
  @include('../../templates/breadcrumbs.html')
  <div class="swiper preview__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="preview__item philosophy-preview__item">
          <div class="preview__image philosophy-preview__image">
            <picture>
              <source media="(max-width: 768px)" srcset="img/jpg/backgr/philosophy-bg-mobile.jpg">
              <source media="(max-width: 1366px)" srcset="img/jpg/backgr/philosophy-bg-tablet.jpg">
              <img src="img/jpg/backgr/philosophy-bg.jpg" alt="">
            </picture>
          </div>
          <div class="container">
            <div class="preview__content philosophy-preview__content">
              <h1 class="preview__title philosophy-preview__title h1">Философия бренда</h1>
              <div class="preview__text philosophy-preview__text">
                <p>В философии бренда отражены главные смысловые доминанты: развитие, рост, технологии и забота</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="philosophy-top">
  <div class="container">
    <div class="philosophy-info">
      <div class="philosophy-info__content content">
        <p>В нем использованы природные символы и цвета, которые олицетворяют неразрывную связь компании с окружающей
          средой.</p>
        <p>В то же время разработанные уникальные графические элементы отражают ключевые технологические процессы,
          связанные с производством нашей продукции.</p>
        <p><b>Сочетание двух цветов — желтого и холодного зеленого — как хвойный лес и солнце</b></p>
      </div>
      <div class="philosophy-info__download">
        <a href="documents/npao_svetogorskij_czbk_brendbuk.pdf" class="button-download philosophy-info__link" target="_blank">Скачать брендбук</a>
      </div>
    </div>
    <div class="philosophy-banner">
      <div class="philosophy-banner__images">
        <div class="philosophy-banner__image philosophy-banner__image-one">
          <img loading="lazy" src="img/jpg/image/image1.jpg" class="image" width="" height="" alt="">
        </div>
        <div class="philosophy-banner__image philosophy-banner__image-two">
          <img loading="lazy" src="img/jpg/image/image2.jpg" class="image" width="" height="" alt="">
        </div>
        <div class="philosophy-banner__image philosophy-banner__image-three">
          <img loading="lazy" src="img/jpg/image/image3.jpg" class="image" width="" height="" alt="">
        </div>
      </div>
      <div class="philosophy-banner__content philosophy-banner__content-one">
        <p><b>Жёлтый цвет </b>— цвет радости и солнца, а также один из оттенков древесины. Жёлтый ассоциируется с теплом
          и светом, а ещё с названием города, где расположен комбинат: Светогорск</p>
      </div>
      <div class="philosophy-banner__content philosophy-banner__content-two">
        <p><b>Зелёный цвет</b> — цвет хвойного
          леса, он ассоциируется
          со стабильностью и уверенностью,
          развитием и ростом</p>
      </div>
    </div>
  </div>
</section>

<section class="philosophy-bottom">
  <div class="container">
    <div class="philosophy-logo">
      <h2 class="philosophy-logo__title h2">Логотип</h2>
      <div class="philosophy-logo__container">
        <div class="philosophy-logo__content content">
          <p>Логотип нашей компании — это графическое изображение елей в сочетании с названием компании. Ели являются
            частью истории и наследия Светогорского комбината, символизируют преемственность графических образов.</p>
          <p>Ели — символ лесов Ленинградской области, они отражают тесную связь компании с городом Светогорском,
            в гербе
            которого изображены эти деревья.</p>
          <p>Ель также является основой целлюлозно-бумажной индустрии и демонстрирует наше стремление всегда следовать
            принципам устойчивого лесопользования</p>
        </div>
        <div class="philosophy-logo__image">
          <div class="philosophy-logo__logo">
            <img src="img/png/icons/sveto-logo.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-color philosophy-elem">
  <div class="container philosophy-elem__container">
    <div class="philosophy-elem__column">
      <h2 class="philosophy-elem__title h2">Графические элементы</h2>
      <div class="philosophy-elem__content content">
        <p>Основным графическим приёмом и важной составляющей фирменного стиля является использование графических
          элементов.
          Они отражают некоторые стадии производственного процесса.</p>
        <p>Например, главный графический элемент «Формирование бумажного полотна» не только демонстрирует один
          из основных
          технологических процессов, но и символизирует несколько видов продукции — офисную и офсетную бумагу, картон
          и ХТММ.</p>
        <p>Графические элементы «Целлюлоза», «Древесина», «Форматная бумага» — вспомогательные изображения.</p>
        <p>В совокупности паттерны формируют уникальный графический язык предприятия</p>
      </div>
    </div>
    <div class="philosophy-elem__images">
      <div class="philosophy-elem__item">
        <div class="philosophy-elem__item-image">
          <img loading="lazy" src="img/png/elem/elem1.png" class="image" width="" height="" alt="">
        </div>
        <div class="philosophy-elem__item-name">
          Основной графический элемент «Формирование бумажного полотна»
        </div>
      </div>
      <div class="philosophy-elem__item">
        <div class="philosophy-elem__item-image">
          <img loading="lazy" src="img/png/elem/elem2.png" class="image" width="" height="" alt="">
        </div>
        <div class="philosophy-elem__item-name">
          Графический элемент «Древесина»
        </div>
      </div>
      <div class="philosophy-elem__item">
        <div class="philosophy-elem__item-image">
          <img loading="lazy" src="img/png/elem/elem3.png" class="image" width="" height="" alt="">
        </div>
        <div class="philosophy-elem__item-name">
          Графический элемент «Целлюлоза»
        </div>
      </div>
      <div class="philosophy-elem__item">
        <div class="philosophy-elem__item-image">
          <img loading="lazy" src="img/png/elem/elem4.png" class="image" width="" height="" alt="">
        </div>
        <div class="philosophy-elem__item-name">
          Графический элемент «Форматная бумага»
        </div>
      </div>
    </div>
  </div>
</section>