<section class="company-hero breadcrumbs-inv">
  <div class="breadcrumbs__wrapper">
    <div class="head-container">
      <div class="breadcrumbs">
        <a href="">Навигационная цепочка</a>
        <div class="breadcrumbs__separator"></div>
        <span>Название страницы</span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="company-hero__content">
      <h1 class="company-hero__title h1">НПАО «Светогорский ЦБК»</h1>
      <div class="company-hero__text">
        <p>Системообразуещее предприятие России и Ленинградской области, на котором трудится около 2000 сотрудников</p>
      </div>
      <div class="company-hero__items">
        <button class="company-hero__video btn-reset button-video">
          <div class="button-video__icon">
            <img loading="lazy" src="img/svg/video/play.svg" class="image" width="" height="" alt="">
          </div>
          <div class="button-video__name">
            Смотреть видео
          </div>
        </button>
        <a href="#" class="company-hero__doc link-download" download="" target="_blank">
          <div class="link-download__icon">
            <img loading="lazy" src="img/svg/icons/icon1.svg" class="image" width="" height="" alt="">
          </div>
          <div class="link-download__name">
            Буклет о НПАО «Светогорский ЦБК»
          </div>
        </a>
        <a href="#" class="company-hero__info link-download" target="_blank">
          <div class="link-download__icon">
            <img loading="lazy" src="img/svg/icons/icon2.svg" class="image" width="" height="" alt="">
          </div>
          <div class="link-download__name">
            Материалы для СМИ
          </div>
        </a>
        <a href="#" class="company-hero__news link-download" target="_blank">
          <div class="link-download__icon">
            <img loading="lazy" src="img/svg/icons/icon3.svg" class="image" width="" height="" alt="">
          </div>
          <div class="link-download__name">
            Новости
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section company-content">
  <div class="container">
    <div class="company-content__info content">
      <p>Светогорский ЦБК — одно из крупнейших и самых современных целлюлозно-бумажных предприятий в России.</p>
      <p>Мы производим и продаём офисную и офсетную бумагу, химико-термомеханическую массу, а также картон для упаковки
        пищевых продуктов.</p>
      <p>Наш комбинат основан в 1887 году и расположен в городе Светогорске, Ленинградская область. У нас есть филиалы
        в Санкт-Петербурге и Москве, а в городе Тихвин — дочерняя компания, управляющая собственными лесными арендами.
        Всего
        на Светогорском ЦБК трудится около 2000 человек.</p>
      <p>Как ответственный производитель мы придерживаемся концепции устойчивого развития: заботимся об окружающей
        среде,
        восстанавливаем и сохраняем лесные экосистемы, поддерживаем местные сообщества и вносим значительный вклад
        в социальную и экономическую сферы города Светогорска и Ленинградской области.</p>
    </div>
  </div>
</section>
