<section class="preview breadcrumbs-inv company-hero">
  @include('../../templates/breadcrumbs.html')
  <div class="swiper preview__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="preview__item company-hero__item">
          <div class="preview__image company-hero__image">
            <picture>
              <source media="(max-width: 768px)" srcset="img/jpg/backgr/company-bg-mobile.jpg">
              <source media="(max-width: 1366px)" srcset="img/jpg/backgr/company-bg-tablet.jpg">
              <img src="img/jpg/backgr/company-bg.jpg" alt="">
            </picture>
          </div>
          <div class="container">
            <div class="preview__content company-hero__content">
              <h1 class="preview__title company-hero__title h1">НПАО «Светогорский ЦБК»</h1>
              <div class="preview__text company-hero__text">
                <p>Системообразуещее предприятие России и Ленинградской области, на котором трудится около 2000
                  сотрудников</p>
              </div>
              <div class="company-hero__items">
                <button class="company-hero__video btn-reset button-video">
                  <div class="button-video__icon"></div>
                  <div class="button-video__name">
                    Смотреть видео
                  </div>
                </button>
                <a href="#" class="link-download doc company-hero__doc" download="" target="_blank">
                  <div class="link-download__icon"></div>
                  <div class="link-download__name">
                    Буклет о НПАО «Светогорский ЦБК»
                  </div>
                </a>
                <a href="#" class="link-download info company-hero__info" target="_blank">
                  <div class="link-download__icon"></div>
                  <div class="link-download__name">
                    Материалы для СМИ
                  </div>
                </a>
                <a href="#" class="link-download elem-news company-hero__news" target="_blank">
                  <div class="link-download__icon"></div>
                  <div class="link-download__name">
                    Новости
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="company-content">
  <div class="container">
    <div class="company-content__info content">
      <p>Светогорский ЦБК — одно из крупнейших и самых современных целлюлозно-бумажных предприятий в России.</p>
      <p>Мы производим и продаём офисную и офсетную бумагу, химико-термомеханическую массу, а также картон для упаковки
        пищевых продуктов.</p>
      <p>Наш комбинат основан в 1887 году и расположен в городе Светогорске, Ленинградская область. У нас есть филиалы
        в Санкт-Петербурге и Москве, а в городе Тихвин — дочерняя компания, управляющая собственными лесными арендами.
        Всего
        на Светогорском ЦБК трудится около 2000 человек.</p>
      <p>Как ответственный производитель мы придерживаемся концепции устойчивого развития: заботимся об окружающей
        среде,
        восстанавливаем и сохраняем лесные экосистемы, поддерживаем местные сообщества и вносим значительный вклад
        в социальную и экономическую сферы города Светогорска и Ленинградской области.</p>
    </div>
  </div>
</section>

<section class="block_facts section-color">
  <div class="container">
    <h2 class="block_facts__title h2">
      Интересные факты
    </h2>
    <div class="block_facts__icon_items">
      <div class="block_facts__icon_item">
        <div class="block_facts__icon_image shake">
          <div class="block_facts__icon_image-inner shake_inner">
            <img loading="lazy" src="img/svg/icon-case1.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="block_facts__icon_info text">
          <p>Площадь комбината</p>
          <strong style="color: #004d43;">200 гектаров.</strong>
          <p>Это как <span style="color: #004d43;">280</span>
            футбольных полей</p>
          <p>или<span style="color: #004d43;">40</span> Дворцовых площадей
          </p>
        </div>
      </div>
      <div class="block_facts__icon_item">
        <div class="block_facts__icon_image shake">
          <div class="block_facts__icon_image-inner shake_inner">
            <img loading="lazy" src="img/svg/icon-case2.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="block_facts__icon_info">
          <p>Офисная бумага SvetoCopy —</p>
          <strong style="color: #004d43;">бренд № 1 в России</strong>
          <p>в категории «Бумага для офиса»</p>
          <div class="icon_info">
            <img loading="lazy" src="img/svg/tooltip_info.svg" class="image" width="" height="" alt="">
            <div class="icon_info__tooltip">Источник: по знанию и потреблению согласно данным исследования
              компании
              Ипсос Комкон в городах Москва, Санкт-Петербург, Воронеж, Ростов-на-Дону, Самара, Екатеринбург,
              Челябинск,
              Нижний Новгород, Казань в период апрель–июнь 2023 год</div>
          </div>
        </div>
      </div>
      <div class="block_facts__icon_item">
        <div class="block_facts__icon_image shake">
          <div class="block_facts__icon_image-inner shake_inner">
            <img loading="lazy" src="img/svg/icon-case3.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="block_facts__icon_info">
          <p>Если выложить листами бумаги А4</p>
          <strong style="color: #004d43;">200 гектаров,</strong>
          <p>то потребуется <span style="color: #004d43;">32 миллиона</span> листов А4 — а это всего <span
              style="color: #004d43;">3,5 часа</span> работы БДМ-4 </p>
        </div>
      </div>
      <div class="block_facts__icon_item">
        <div class="block_facts__icon_image shake">
          <div class="block_facts__icon_image-inner shake_inner">
            <img loading="lazy" src="img/svg/icon-case4.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="block_facts__icon_info">
          <p>В день производим</p>
          <strong style="color: #004d43;">200 млн</strong>
          <p>листов бумаги А4 <span style="color: #004d43;">400 000 пачек</span> Если их выложить полосой шириной
            в
            <span style="color: #004d43;">1 м,</span> этого хватит, чтобы покрыть расстояние от СПб до Хабаровска
            и
            обратно
          </p>
        </div>
      </div>
      <div class="block_facts__icon_item">
        <div class="block_facts__icon_image shake">
          <div class="block_facts__icon_image-inner shake_inner">
            <img loading="lazy" src="img/svg/icon-case5.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="block_facts__icon_info">
          <p>Входим</p>
          <strong style="color: #004d43;">в ТОП-5</strong>
          <p>налогоплательщиков Ленинградской области</p>
        </div>
      </div>
      <div class="block_facts__icon_item">
        <div class="block_facts__icon_image shake">
          <div class="block_facts__icon_image-inner shake_inner">
            <img loading="lazy" src="img/svg/icon-case6.svg" class="image" width="" height="" alt="">
          </div>
        </div>
        <div class="block_facts__icon_info">
          <p>Около</p>
          <strong style="color: #004d43;">2 000 <p>сотрудников</p>
            <div class="icon_info">
              <img loading="lazy" src="img/svg/tooltip_info.svg" class="image" width="" height="" alt="">
              <div class="icon_info__tooltip">Включая сотрудников ЗАО «Тихвинский КЛПХ» и партнеров-подрядчиков</div>
            </div>
          </strong>
          <p> это более <span style="color: #004d43;">30 000</span> лет общего стажа</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="company-info" style="background-image: url(img/jpg/backgr/company-info.jpg);">
  <div class="container company-info__container">
    <div class="tabs" data-tabs="tab">
      <ul class="list-reset tabs__nav">
        <li class="tabs__nav-item">
          <button class="btn-reset button-tab tabs__nav-btn" type="button">География
            продаж</button>
        </li>
        <li class="tabs__nav-item">
          <button class="btn-reset button-tab tabs__nav-btn" type="button">Наши офисы</button>
        </li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <div class="company-info__items">
            <div class="company-info__item item5">
              <div class="company-info__item-name">Республика Беларусь</div>
            </div>
            <div class="company-info__item item6">
              <div class="company-info__item-name"><strong>Российская Федерация</strong></div>
            </div>
            <div class="company-info__item item7">
              <div class="company-info__item-name">Турция</div>
            </div>
            <div class="company-info__item item8">
              <div class="company-info__item-name">Грузия</div>
            </div>
            <div class="company-info__item item9">
              <div class="company-info__item-name">Армения</div>
            </div>
            <div class="company-info__item item10">
              <div class="company-info__item-name">Азербайджан</div>
            </div>
            <div class="company-info__item item11">
              <div class="company-info__item-name">Узбекистан</div>
            </div>
            <div class="company-info__item item12">
              <div class="company-info__item-name">Казахстан</div>
            </div>
            <div class="company-info__item item13">
              <div class="company-info__item-name">Таджикистан</div>
            </div>
            <div class="company-info__item item14">
              <div class="company-info__item-name">Киргизия</div>
            </div>
            <div class="company-info__item item15">
              <div class="company-info__item-name">Египет</div>
            </div>
            <div class="company-info__item item16">
              <div class="company-info__item-name">Израиль</div>
            </div>
            <div class="company-info__item item17">
              <div class="company-info__item-name">Саудовская Аравия</div>
            </div>
            <div class="company-info__item item18">
              <div class="company-info__item-name">Кувейт</div>
            </div>
            <div class="company-info__item item19">
              <div class="company-info__item-name">Пакистан</div>
            </div>
            <div class="company-info__item item20">
              <div class="company-info__item-name">Индия</div>
            </div>
            <div class="company-info__item item21">
              <div class="company-info__item-name">Китай</div>
            </div>
            <div class="company-info__item item22">
              <div class="company-info__item-name">Вьетнам</div>
            </div>
            <div class="company-info__item item23">
              <div class="company-info__item-name">Южная Корея</div>
            </div>
            <div class="company-info__item item24">
              <div class="company-info__item-name">Туркменистан</div>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="company-info__items">
            <div class="company-info__item item1 js-company-info-item">
              <div class="company-info__item-name">Светогорск</div>
              <div class="company-info__item-inner">
                <div class="company-info__item-tooltip">
                  <div class="social-link address">
                    <div class="social-link__icon">
                      <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
                    </div>
                    <span>197101 Санкт-Петербург, ул. Кропоткина, д. 1, литера И, БЦ «Сенатор», 6 этаж</span>
                  </div>
                  <div class="social-link tel">
                    <div class="social-link__icon">
                      <img loading="lazy" src="img/svg/social/tel-filled.svg" class="image" width="" height="" alt="">
                    </div>
                    <a href="tel:+7 (812) 334 57 30">+7 (812) 334 57 30</a>
                  </div>
                  <div class="social-link mail">
                    <div class="social-link__icon">
                      <img loading="lazy" src="img/svg/social/mail-filled.svg" class="image" width="" height="" alt="">
                    </div>
                    <a href="mailto:otvet@svetopaper.com">otvet@svetopaper.com</a>
                  </div>
                  <div class="time-work">
                    <div class="time-work__name">Часы работы: </div>
                    <div class="time-work__info">
                      <span>Будни:</span> с 9.00. до 20.00
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="company-info__item item2 js-company-info-item active">
              <div class="company-info__item-name">Санкт-Петербург</div>
              <div class="company-info__item-inner">
                <div class="company-info__item-tooltip">
                  <div class="social-link address">
                    <div class="social-link__icon">
                      <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
                    </div>
                    <span>197101 Санкт-Петербург, ул. Кропоткина, д. 1, литера И, БЦ «Сенатор», 6 этаж</span>
                  </div>
                  <div class="social-link tel">
                    <div class="social-link__icon">
                      <img loading="lazy" src="img/svg/social/tel-filled.svg" class="image" width="" height="" alt="">
                    </div>
                    <a href="tel:+7 (812) 334 57 30">+7 (812) 334 57 30</a>
                  </div>
                  <div class="social-link mail">
                    <div class="social-link__icon">
                      <img loading="lazy" src="img/svg/social/mail-filled.svg" class="image" width="" height="" alt="">
                    </div>
                    <a href="mailto:otvet@svetopaper.com">otvet@svetopaper.com</a>
                  </div>
                  <div class="time-work">
                    <div class="time-work__name">Часы работы: </div>
                    <div class="time-work__info">
                      <span>Будни:</span> с 9.00. до 20.00
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="company-info__item item3 js-company-info-item">
              <div class="company-info__item-name">Тихвин</div>
              <div class="company-info__item-inner">
                <div class="company-info__item-tooltip">
                  <div class="social-link address">
                    <div class="social-link__icon">
                      <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
                    </div>
                    <span>197101 Санкт-Петербург, ул. Кропоткина, д. 1, литера И, БЦ «Сенатор», 6 этаж</span>
                  </div>
                  <div class="social-link tel">
                    <div class="social-link__icon">
                      <img loading="lazy" src="img/svg/social/tel-filled.svg" class="image" width="" height="" alt="">
                    </div>
                    <a href="tel:+7 (812) 334 57 30">+7 (812) 334 57 30</a>
                  </div>
                  <div class="social-link mail">
                    <div class="social-link__icon">
                      <img loading="lazy" src="img/svg/social/mail-filled.svg" class="image" width="" height="" alt="">
                    </div>
                    <a href="mailto:otvet@svetopaper.com">otvet@svetopaper.com</a>
                  </div>
                  <div class="time-work">
                    <div class="time-work__name">Часы работы: </div>
                    <div class="time-work__info">
                      <span>Будни:</span> с 9.00. до 20.00
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="company-info__item item4 js-company-info-item">
              <div class="company-info__item-name">Москва</div>
              <div class="company-info__item-inner">
                <div class="company-info__item-tooltip">
                  <div class="social-link address">
                    <div class="social-link__icon">
                      <img loading="lazy" src="img/svg/location.svg" class="image" width="" height="" alt="">
                    </div>
                    <span>197101 Санкт-Петербург, ул. Кропоткина, д. 1, литера И, БЦ «Сенатор», 6 этаж</span>
                  </div>
                  <div class="social-link tel">
                    <div class="social-link__icon">
                      <img loading="lazy" src="img/svg/social/tel-filled.svg" class="image" width="" height="" alt="">
                    </div>
                    <a href="tel:+7 (812) 334 57 30">+7 (812) 334 57 30</a>
                  </div>
                  <div class="social-link mail">
                    <div class="social-link__icon">
                      <img loading="lazy" src="img/svg/social/mail-filled.svg" class="image" width="" height="" alt="">
                    </div>
                    <a href="mailto:otvet@svetopaper.com">otvet@svetopaper.com</a>
                  </div>
                  <div class="time-work">
                    <div class="time-work__name">Часы работы: </div>
                    <div class="time-work__info">
                      <span>Будни:</span> с 9.00. до 20.00
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>