.error {
  background-color: $blue;
  padding-bottom: 100px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 600px;
    background: linear-gradient(180deg, #FFF 0%, #EFF2F7 99.96%);
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__content {
    max-width: 765px;
    padding-top: 62px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 40px;

    p {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__image {
    position: absolute;
    right: -205px;
    top: 0;
    width: 980px;
    height: 538px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: $laptop) {
  .error {
    padding-bottom: 64px;

    &__content {
      padding-top: 10px;
      position: relative;
      z-index: 1;
    }

    &__image {
      width: 680px;
      height: 400px;
      right: 26px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@media screen and (max-width: $tablet) {
  .error {
    &__container {
      display: flex;
      flex-direction: column-reverse;
      row-gap: 10px;
    }

    &__content {
      padding-top: 0;
      position: relative;
      z-index: 1;
    }

    &__image {
      position: static;
      width: 288px;
      height: 149px;
      transform: inherit;
    }
  }
}

@media screen and (max-width: $mob) {
  .error {
    padding-bottom: 56px;

    &__title {
      margin-bottom: 16px;
    }

    &__text {
      margin-bottom: 24px;

      p {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &__button {
      font-size: 14px;
      line-height: 20px;
    }
  }
}