<section class="hotline">
  @include('../../templates/breadcrumbs.html')
  <div class="container hotline__container">
    <div class="hotline__inner">
      <h1 class="hotline__title h1">Горячая линия доверия</h1>
      <div class="hotline__text">
        <p>«Горячая линия доверия» - инструмент, позволяющий быстро и безопасно донести
          информацию о возможных нарушениях действующего законодательства, внутренних политик
          и процедур</p>
      </div>
      <div class="hotline__info">
        <!-- <div class="social-link tel">
          <div class="social-link__icon">
            <img loading="lazy" src="img/svg/social/phone-green.svg" class="image" width="" height="" alt="">
          </div>
          <a href="mailto:8 800-700-0000">8 800-700-0000 (все звонки бесплатные)</a>
        </div> -->
        <div class="social-link mail">
          <div class="social-link__icon">
            <img loading="lazy" src="img/svg/social/mail-green.svg" class="image" width="" height="" alt="">
          </div>
          <a href="mailto:compliance@svetopaper.com">compliance@svetopaper.com</a>
        </div>
      </div>
      <div class="hotline__content content">
        <p>Целью работы «Горячей линии доверия» является предоставление возможности работникам Компании и иным
          заинтересованным лицам сообщать о своих подозрениях, фактах или признаках :</p>
        <ul>
          <li>коррупционных действий</li>
          <li>корпоративного мошенничества</li>
          <li>нарушений тендерных процедур и действий, приводящих к ограничению конкуренции</li>
          <li>конфликта интересов</li>
          <li>комплаенс рисков</li>
          <li>случаев намеренного действия или бездействия, негативно влияющих на сохранность активов</li>
          <li>любых других недостатков или нарушений</li>
        </ul>
        <h4>Конфиденциальность и анонимность гарантирована</h4>
        <p>Недопустимо использование «Горячей линии доверия»:</p>
        <ul>
          <li>для сообщения заведомо ложных сведений</li>
          <li>для сообщения сведений, порочащих честь и достоинство сотрудников компании</li>
          <li>для рекламных сообщений</li>
          <li>для оскорблений, угроз и других целей, противоречащих нормативных актам</li>
        </ul>
      </div>
    </div>
  </div>
</section>